{% load static %}
<!doctype html>
<html lang="en">
  <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    {% include 'client_1_0/base/base_client.css.html' %}

    <title>Household.app</title>
  </head>


<body class="landing">


<div class="container">
<br><br>
    <div class="row" style="height: 30vh">
    </div>

    <div class="row align-items-center" >
        <div class="col-md-12 text-center">
            <img src="{% static 'img/hhc/HC_Logo_Flat.png' %}" class="img-fluid" alt="Responsive image" width="40%">
        </div>
    </div>


</div>


{% include 'client_1_0/base/base_client.js.html' %}
</body>
</html>


{% block javascript %}
    <script>
        var pdfURL = '{{ pdfURL }}';

        $(document).ready(function() {
            window.location.replace(pdfURL);
        })

    </script>
{% endblock %}