{% extends 'client_1_0/base/base_client.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block message_display %}

    <div class="container">

      {% if messages %}
                <div class="row justify-content-md-center">
                    <div class="col-6 text-center message">
                        {% for message in messages %}
                            <p{% if message.tags == 'error' %}
                                class="alert alert-warning"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
      {% endif %}
    </div>

{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <br>
                <div class="secondary_title">Is a Household Loan right for you?</div>

                <p>A Household Loan may be right for you if you would like to:</p>
                <br>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-7 text-center">
            {% crispy form %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 text-center">
                    {% if clientType == 'Single' %}
                    <div class="imgContainer"><img src="{% static 'img/icons/person_icon.png' %}" width="75px"></div>
                    {% else %}
                    <div class="imgContainer"><img src="{% static 'img/icons/couple_icon.png' %}" width="75px"></div>
                    {% endif %}
                    <p>{{ clientAge }} years old</p>
            </div>

            <div class="col-lg-3 text-center">
                    <div class="imgContainer"><img src="{% static 'img/icons/nestEgg_icon.png' %}" width="75px"></div>
                    <p>${{clientSuperAmount|intcomma}}</p>
                    <br><p class="small">We know that retiring Australians' superannuation too often falls short, so at Household Capital, we are focused on providing lifelong, holistic access to all your savings</p>
            </div>

            <div class="col-lg-3 text-center">

                <div class="col">
                    <div class="imgContainer"><img src="{% static 'img/icons/home_icon.png' %}" width="75px"></div>
                    <p>${{ clientValuation|intcomma }}</p></div>
                    <br><p class="small">Many retiring Australians have significant savings in their home ownership. Household Capital enables you to access thse savings to top up your superannuation and draw a Household Income</p>

            </div>

            <div class="col-lg-3 text-center">
                <div class="col">
                    <div class="imgContainer"><img src="{% static 'img/icons/dollar_icon.png' %}" width="75px"></div>
                    <p>Age Pension, ${{ clientPension|intcomma }}/fornight</p></div>
                    <br><p class="small">The age pension is an important source of income for many retired Australians</p>


            </div>

        </div>


        </div>







{% endblock %}