{% load static %}
{% load site_tags %}

<nav class="navbar navbar-light navbar-expand-lg navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

            <a class="navbar-brand pl-3 pt-1" href="{% url 'landing:landing' %}">
                <img src="{% static '/img/hhc/HC_Logo_Flat.png' %}" height="40">
            </a>

        </div>

        <div class="collapse navbar-collapse pl-5" id="navbar">

            <ul class="nav navbar-nav pl-3 pt-2">
                {% if not hideNavbar %}

                    <li><a href="{% url 'calculator:calcList' %}"><i class="fas fa-calculator fa-fw"></i> Queue
                            {% if request.session.webCalcQueue|intVal > 0 %}
                                <span class="badge btn-success align-text-top">{{ request.session.webCalcQueue }}</span>{% endif %}
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <br>
                    <a href="{% url 'calculator:contactList' %}"><i class="fab fa-safari fa-fw"></i> Queue
                        {% if request.session.webContQueue|intVal > 0 %}
                            <span class="badge btn-success align-text-top">{{ request.session.webContQueue }}</span>{% endif %}
                    </a>
                        &nbsp;&nbsp;&nbsp;
                    </li>


                    <li class="d-none d-sm-table-cell pl-2 pr-2"> | &nbsp;&nbsp;&nbsp;
                    </li>



                    <li><a href="{% url 'enquiry:enquiryList' %}"><i class="far fa-list-alt fa-fw"></i> Enquiry List
                        {% if request.session.enquiryQueue|intVal > 0 %}
                            <span class="badge btn-success align-text-top">{{ request.session.enquiryQueue }}</span>{% endif %}
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <br>
                        <a href="{% url 'enquiry:enquiry' %}"><i class="fas fa-user-check fa-fw"></i> Enquiry</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>

                   <li class="d-none d-sm-table-cell pl-2 pr-2"> | &nbsp;&nbsp;&nbsp;
                    </li>

                    <li><a href="{% url 'case:caseList' %}"><i class="far fa-list-alt fa-fw"></i> Case List </a>&nbsp;&nbsp;&nbsp;
                        <br>
                        <a href="{% url 'calendly:meetings' %}"><i class="fas fa-video fa-fw"></i> Meetings </a>&nbsp;&nbsp;&nbsp;
                    </li>



                    <li class="d-none d-sm-table-cell pl-2 pr-2"> | &nbsp;&nbsp;&nbsp;
                    </li>

                    <li>
                        <a href="{% url 'landing:dashboard' %}"><i class="fas fa-tachometer-alt fa-fw"></i> Dashboard
                        </a>
                    </li>



                {% endif %}
            </ul>

            <ul class="nav navbar-nav ml-auto pt-2">
                {% if request.user.is_authenticated %}
                    <li><a href='{% url "accounts:logout" %}'><i class="fas fa-sign-out-alt"></i> Logout </a>
                        {% else %}
                    <li><a href='{% url "accounts:login" %}'><i class="fas fa-sign-in-alt"></i> Log In </a><
                {% endif %}
                <br>
                <a href=""><i class="fas fa-user-circle"></i> {{ request.user.username }}&nbsp;&nbsp;&nbsp;</a>
                </li>
            </ul>

        </div><!--/.navbar-collapse -->
    </div>
</nav>

