{% load static %}
<!doctype html>
<html lang="en">
  <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon/favicon.png' %}"/>

    {% include 'site/base.css.html' %}

    <title>HouseholdCapital.app</title>
  </head>

<body>

    {% include 'site/base_navbar.html' %}

    {% block jumbotron %}{% endblock %}

    {% block message_display %}{% endblock %}

    {% block content %}{% endblock %}

    {% block pagination %}{% endblock %}


    {% include 'site/base.js.html' %}
    {% block javascript %}{% endblock %}

</body>
</html>

