{% extends 'site/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load case_tags %}


{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">

            <div class="row">
                <div class="title col-lg-10">{{ title }}</div>
                <div class="col-lg-2 "><img src="{{ request.user.profile.referrer.companyImage.url }}" width='90'></div>

            </div>
        </div>
    </div>
{% endblock %}


{% block message_display %}

    <div class="container">

        {% if messages %}
            <div class="row justify-content-md-center">
                <div class="col-6 text-center">
                    <br>
                    {% for message in messages %}
                        <p{% if message.tags == 'error' %}
                            class="alert alert-warning">{{ message }}</p>{% endif %}

                        <p{% if message.tags == 'success' %}
                            class="alert alert-success">{{ message }}</p>{% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">

        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row pt-4">
            <div class="col-lg-8 text-left">

                {% crispy form %}

            </div>


            <div class="col-lg-4 pt-4">

                {% if status.status %}
                <div class="pb-3">
                    <a href="{% url "enquiry:enqReferrerCreate" %}">
                        <button type="button" class="btn btn-outline-secondary">
                            New
                        </button>
                    </a>
                </div>
                {% endif %}

                {% if status.status == 'Ok' %}
                    <div class="jumbotron">
                        <p class="small"><i class="fas fa-users-cog fa-fw"></i>&nbsp;Initial Validation</p>
                        <br>

                        <p><i class="far fa-check-circle fa-lg btn-outline-success"></i>&nbsp;Eligible Opportunity</p>
                        <br>
                        <p class="larger">Max LVR is: {{ status.restrictions.maxLVR|intcomma }}%</p>
                        <br>
                        <p class="small"><i class="fas fa-search"></i>&nbsp;Restrictions </p>
                        <p class="small">Max Loan is: ${{ status.restrictions.maxLoan|intcomma }} (incl establishment
                            fee)</p>
                        <p class="small">{% if status.restrictions.maxLoan > status.restrictions.maxTopUp %}Max for
                            Super
                            Top Up
                            is: ${{ status.restrictions.maxTopUp|intcomma }}</p>{% endif %}
                        <p class="small">{% if status.restrictions.maxLoan > status.restrictions.maxCare %}Max for Age
                            Care
                            is:
                            ${{ status.restrictions.maxCare|intcomma }}</p>{% endif %}
                        <p class="small">{% if status.restrictions.maxLoan > status.restrictions.maxReno %}Max for
                            Renovations
                            is: ${{ status.restrictions.maxReno|intcomma }}</p>{% endif %}
                        <p class="small">Max for Refinance is: ${{ status.restrictions.maxRefi|intcomma }}</p>
                        <p class="small">Max for Giving is: ${{ status.restrictions.maxGive|intcomma }}</p>
                        <p class="small">Max for Transport and Travel is:
                            ${{ status.restrictions.maxTravel|intcomma }}</p>

                        <br>
                        {% if obj.summaryDocument %}
                            <p><i class="far fa-file-pdf"></i>&nbsp;Document</p>
                            <p><a href="/media/enquiryReports/{{ obj.summaryDocument.file|filename }}">Emailed
                                Document</a>
                            </p>
                        {% endif %}

                    </div>

                {% endif %}

                {% if status.status == 'Error' %}

                    <div class="jumbotron">

                        <p class="small"><i class="fas fa-users-cog fa-fw"></i>&nbsp;Initial Validation</p>
                        <br>
                        <p><i class="far fa-times-circle fa-lg btn-outline-danger"></i>&nbsp;Ineligible
                            - {{ status.details }}</p>

                    </div>


                {% endif %}
            </div>
        </div>
    </div>

    {% if status.status == 'Ok' %}
        <!-- Modal -->
        <div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel"
             aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="clientModalLabel">Email client?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You are about to send the client a summary document via email - are you sure ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="{% url 'enquiry:enqSendDetails' uid=obj.enqUID %}">
                        <div class=" btn btn-primary">Yes, send summary</div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}


{% block javascript %}

{% endblock %}
