
#Environment Files
*env-dev
*env-prod
.vagrant
/bin
/include/python3.7m
/lib/python3.7


#IDE Files
*__pycache__*
*idea/
.idea/
*.DS_Store

#Django Files
*.log
media/
collected/
customerImages/
customerReports/
fundImages/

postgres/

# TERRAFORM 
*.terraform/
vp/
terraform/*.tfplan
terraform/*.json