alabaster==0.7.12
amqp==2.5.0
api2pdf==0.0.11
asn1crypto==0.24.0
Authlib==0.14.1
Babel==2.8.0
beautifulsoup4==4.6.0
billiard==3.6.0.0
boto3==1.14.56
botocore==1.17.56
cairocffi==1.0.2
CairoSVG==2.3.0
celery==4.3.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
colorclass==2.2.0
confusable-homoglyphs==3.2.0
cryptography==2.6.1
cssselect2==0.2.1
defusedxml==0.5.0
Django==2.2.4
django-celery-beat==1.5.0
django-celery-results==1.1.2
django-cors-headers==3.5.0
django-crispy-forms==1.7.2
django-filter==2.1.0
django-modelcluster==4.4
django-registration==3.0
django-storages==1.10
django-taggit==0.24.0
django-timezone-field==3.0
django-treebeard==4.3
djangorestframework==3.9.2
djangorestframework-simplejwt==4.3.0
docopt==0.6.2
docutils==0.15.2
draftjs-exporter==2.1.6
html5lib==1.0.1
idna==2.8
imagesize==1.2.0
Jinja2==2.11.2
jmespath==0.10.0
kombu==4.6.3
lxml==4.3.2
Markdown==3.1
MarkupSafe==1.1.1
numpy==1.16.2
packaging==19.0
pandas==0.24.2
Pillow==5.4.1
pip-upgrader==1.4.6
psycopg2-binary==2.8.4
pycparser==2.19
Pygments==2.6.1
PyJWT==1.7.1
pyOpenSSL==19.0.0
pyparsing==2.3.1
PyPDF2==1.26.0
Pyphen==0.9.5
python-crontab==2.3.7
python-dateutil==2.8.0
python-dotenv==0.10.1
python-magic==0.4.18
pytz==2018.9
redis==3.2.1
reportlab==3.5.13
requests==2.23.0
s3transfer==0.3.3
simple-salesforce==1.0.0
six==1.12.0
snowballstemmer==2.0.0
soupsieve==1.9.1
Sphinx==3.1.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.0
terminaltables==3.1.0
tinycss2==1.0.1
Unidecode==1.1.1
urllib3==1.24.1
vine==1.3.0
wagtail==2.6
webencodings==0.5.1
Willow==1.1
