api2pdf==0.0.11
asn1crypto==0.24.0
cairocffi==1.0.2
CairoSVG==2.3.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
colorclass==2.2.0
confusable-homoglyphs==3.2.0
cryptography==2.6.1
cssselect2==0.2.1
defusedxml==0.5.0
Django==2.1.7
django-crispy-forms==1.7.2
django-filter==2.1.0
django-registration==3.0
djangorestframework==3.9.2
docopt==0.6.2
html5lib==1.0.1
idna==2.8
lxml==4.3.2
Markdown==3.1
numpy==1.16.2
packaging==19.0
pandas==0.24.2
Pillow==5.4.1
pip-upgrader==1.4.6
psycopg2==2.7.7
psycopg2-binary==2.7.7
pycparser==2.19
pyOpenSSL==19.0.0
pyparsing==2.3.1
PyPDF2==1.26.0
Pyphen==0.9.5
python-dateutil==2.8.0
python-dotenv==0.10.1
pytz==2018.9
reportlab==3.5.13
requests==2.21.0
simple-salesforce==0.74.2
six==1.12.0
terminaltables==3.1.0
tinycss2==1.0.1
urllib3==1.24.1
webencodings==0.5.1
