{% load static %}
<!doctype html>
<html lang="en">
  <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon/favicon.png' %}"/>

    {% include 'registration/base_reg.css.html' %}

    <title>HouseholdCapital.app</title>
  </head>

<body>
{% include 'site/base.navbar.html' %}

{% block jumbotron %}{% endblock %}

<!--<div class="container">
 -->
    {% block message_display %}{% endblock %}

    {% block content %}{% endblock %}

    {% block pagination %}{% endblock %}

<!--

<hr>

<footer>
    <p>&copy; 2018 Household Capital</p>
</footer>
</div> <!-- /container -->

{% include 'site/base.js.html' %}
</body>
</html>

