{% extends 'registration/base_reg_hero.html' %}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}

<br>  <br>
<div class="container-fluid hero">

    <div class="row">

        <div class="col-lg-4 login_form">

            <br>

            {% if messages %}
            <div class="row pb-1">
                <div class="col-12">
                    {% for message in messages %}
                    <p{% if message.tags == 'success' %} class="alert alert-success"{% endif %}>{{ message }}</p>

                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if form.errors %}
            <div class="row">
                <div class="col-12">
                    <p class="alert alert-danger">Invalid email/password combination</p>
                </div>
            </div>
            {% endif %}

            <h4>Distribution Portal</h4><br>
            Please log-in
              <br>  <br>

            {% crispy form %}
            <!--<h3 class="text-info">Site Currently Unavailable</h3> -->

            <br>
            <small>
            <a href="{% url 'accounts:password_reset' %}">Forgotten Password ?</a><br><br>
            <a>If you experience any technical difficulties with this site please contact info@householdcapital.com</a>

            </small>
            <br><br>
        </div>

   </div>
</div>


{% endblock %}


{% block javascript %}
    <script>


        function hideAlerts() {
            $(".alert").fadeOut();
        }

        $(document).ready(function () {

            // Alerts
            setTimeout(hideAlerts, 5000)


        });

    </script>
{% endblock %}
