{% extends 'registration/base_reg_hero.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<br>  <br>
<div class="container-fluid hero">

    <div class="row">

        <div class="col-lg-4 login_form">

            <br>

            <h4>Request new password</h4><br>
             <small>Please enter your email address to reset your password. If you are registered, a link will be emailed to you shortly </small>
              <br>  <br>

            {% crispy form %}

            <br><br>
            <small>
            <a>If you have any questions or experience technical problems, please contact us at support@householdcapital.com</a>
            </small>
            <br><br>
        </div>

   </div>
</div>

{% endblock %}