{% extends 'registration/base_reg_hero.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

    <br>  <br>
    <div class="container-fluid hero">

        <div class="row">

            <div class="col-lg-4 login_form">

                <br>

                <h4>Reset password</h4><br>

                {% if validlink %}

                    <br>

                    {%crispy form %}
                    <br><br>

                {% else %}

                    <br>
                    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
                    <br><br>
                {% endif %}
            </div>

       </div>
    </div>

{% endblock %}


