{% extends 'calculator/calc_base.html' %}

{% load static %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}
{% load calc_extras %}

{% block calculator %}

    <div class="d-none d-sm-block calc_hero_container">
        <img src="{% static 'img/hhc/HC-CalcHero.png' %}" class="img-fluid w-100" alt="Responsive image">
        <div class="calc_hero_text">
            <p class="header_text">You could access savings in your home</p>
            <p>
            <p class="larger">Create your personalised summary below</p>
        </div>
    </div>

    <div class="container cal_background">
        <div class="row ">
            <div class="col-12 text-center">
                <!-- Form -->
                <form id="clientForm" method="post">
                    {% csrf_token %}

                    <!-- Transfer -->
                    <div class="cal_background_white">

                        <div class="container cal_container-md pt-5 pb-5">

                            {% if redirectMessage %}
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <p class="alert alert-success">{{ redirectMessage }}</p>
                                        <br><br><br>
                                    </div>

                                </div>
                            {% endif %}


                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <p class="x-large"><b>Your Household Transfer</b></p>
                                    <p>You may be eligible for a loan of up to:</p>
                                    <br><br>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-4 pr-0 pb-1">
                                    <p class="larger">Current home value</p>
                                </div>
                                <div class="col-2 pr-0 pb-1">

                                </div>
                                <div class="col-4 text-left">
                                    <p class="larger">Maximum amount</p>
                                </div>

                            </div>

                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <img class="img-fluid"
                                         src="{{ transfer_img }}">
                                </div>
                                <div class="col-4 pl-3 text-left">
                                    <div>
                                        <br><br>
                                    </div>
                                    <p class="x-large">${{ obj.maxLoanAmount }}*</p>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-4 pr-0 pb-2">
                                    <p class="larger">${{ obj.valuation }}</p>
                                </div>
                                <div class="col-2 pr-0 pb-2">

                                </div>
                                <div class="col-4 text-left">

                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Your Needs -->
                    <div class="cal_background_warm">

                        <div class="container cal_container-md pb-5 pt-5">

                            <p class="x-large"><b>Understanding your needs</b></p>
                            <p>Please estimate your retirement funding needs below</p>
                            <p class="small">We may not be able to lend the maximum amount for some purposes</p>
                            <p class="small">Use the sliders or input boxes to select an amount</p>


                            <br>

                            {% if obj.isTopUp %}
                                <div class="row justify-content-center">
                                    <div class="col-3 col-sm-3 text-center">
                                        <p class>Top Up</p>
                                        <label class="check-image TopUp"
                                               for=id_calcTopUp></label>
                                    </div>
                                    <div class="col-5 col-sm-6 d-flex flex-column align-self-center">
                                        <div class="pb-3">
                                            &nbsp;<div id="topUpSlider"></div>
                                        </div>
                                        <p class="small">Increase super, investments or contingency funds</p>
                                    </div>


                                    <div class="col-4 col-sm-3 d-flex flex-column align-self-center">
                                        <input type="text" name="calcTopUp" class="textinput textInput form-control"
                                               id="id_calcTopUp"
                                               {% if form.calcTopUp.value != None %}value="{{ form.calcTopUp.value }}"{% endif %}>
                                        {{ form.calcTopUp.errors }}
                                    </div>
                                </div>
                            {% endif %}

                            {% if obj.isRefi %}
                                <div class=" row justify-content-center">
                                    <div class="col-3 col-sm-3 text-center">
                                        <p>Refi</p>
                                        <label class="check-image Refi"
                                               for=id_calcRefi></label>
                                    </div>
                                    <div class="col-5 col-sm-6 d-flex flex-column align-self-center">
                                        <div class="pb-3">
                                            &nbsp;<div id="refiSlider"></div>
                                        </div>
                                        <p class="small">Refinance an existing mortgage</p>
                                    </div>

                                    <div class="col-4 col-sm-3 d-flex flex-column align-self-center">
                                        <input type="text" name="calcRefi" class="textinput textInput form-control"
                                               id="id_calcRefi"
                                               {% if form.calcRefi.value != None %}value="{{ form.calcRefi.value }}"{% endif %}>
                                        {{ form.calcRefi.errors }}
                                    </div>
                                </div>
                            {% endif %}

                            {% if obj.isLive %}
                                <div class=" row justify-content-center">
                                    <div class="col-3 text-center">
                                        <p>Live</p>
                                        <label class="check-image Live"
                                               for=id_calcLive</label>
                                    </div>
                                    <div class="col-5 col-sm-6 d-flex flex-column align-self-center">
                                        <div class="pb-3">
                                            &nbsp;<div id="liveSlider"></div>
                                        </div>
                                        <p class="small">Renovations, transport and travel</p>
                                    </div>
                                    <div class="col-4 col-sm-3 d-flex flex-column align-self-center">
                                        <input type="text" name="calcLive" class="textinput textInput form-control"
                                               id="id_calcLive"
                                               {% if form.calcLive.value != None %}value="{{ form.calcLive.value }}"{% endif %}>
                                        {{ form.calcLive.errors }}
                                    </div>
                                </div>
                            {% endif %}

                            {% if obj.isGive %}
                                <div class=" row justify-content-center">
                                    <div class="col-3 col-sm-3 text-center">
                                        <p>Give</p>
                                        <label class="check-image Give"
                                               for=id_calcCare></label>
                                    </div>
                                    <div class="col-5 col-sm-6 d-flex flex-column align-self-center">
                                        <div class="pb-3">
                                            &nbsp;<div id="giveSlider"></div>
                                        </div>
                                        <p class="small">Fund a home deposit, education expenses etc</p>
                                    </div>
                                    <div class="col-4 col-sm-3 d-flex flex-column align-self-center">
                                        <input type="text" name="calcGive" class="textinput textInput form-control"
                                               id="id_calcGive"
                                               {% if form.calcGive.value != None %}value="{{ form.calcGive.value }}"{% endif %}>
                                        {{ form.calcGive.errors }}
                                    </div>
                                </div>
                            {% endif %}

                            {% if obj.isCare %}
                                <div class=" row justify-content-center">
                                    <div class="col-3 col-sm-3 text-center">
                                        <p>Care</p>
                                        <label class="check-image Care"
                                               for=id_calcCare></label>
                                    </div>
                                    <div class="col-5 col-sm-6 d-flex flex-column align-self-center">
                                        <div class="pb-3">
                                            &nbsp;<div id="careSlider"></div>
                                        </div>
                                        <p class="small">Fund medical expenses, in-home care or aged care</p>
                                    </div>
                                    <div class="col-4 col-sm-3 d-flex flex-column align-self-center">
                                        <input type="text" name="calcCare"
                                               class="textinput textInput form-control"
                                               id="id_calcCare"
                                               {% if form.calcCare.value != None %}value="{{ form.calcCare.value }}"{% endif %}>
                                        {{ form.calcCare.errors }}
                                    </div>
                                </div>
                            {% endif %}

                            <div class=" row justify-content-center pt-4">
                                <div class="col-8 col-sm-9 text-right ">
                                    <p class="larger pb-3">Your estimated retirement funding needs are: </p>
                                </div>

                                <div class="col-4 col-sm-3 text-left">
                                    <p class="larger"><label id="id_totalAmountLabel">$0</label></p>
                                    <input type='hidden' name="calcTotal" id="id_calcTotal" value=0>
                                </div>
                            </div>


                            <div class="row justify-content-center pt-4">
                                <div class="col-12 text-center ">
                                    <label id="id_amountError" class="alert alert-warning "
                                           style="display:none">
                                        Your retirement funding needs exceed the maximum Household
                                        Transfer </label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Interest Payments -->
                    {% if obj.isRefi %}
                        <div class="cal_background_white">

                            <div class="container cal_container-md pt-5 pb-5">
                                <p class="x-large"><b>Interest Payments</b></p>
                                <p>There is no obligation to make regular interest payments</p>
                                <p class="small">You can choose to make partial or full interest payments</p>


                                <div class=" row justify-content-center pt-4">
                                    <div class="col-8 col-sm-9 text-right ">
                                        <p class="larger pt-1 pb-3">Would you like to make interest payments?</p>
                                    </div>
                                    <div class="col-4 col-sm-3 text-left">

                                        <button class="btn btn-square-hhcLightBlue" type="button" id="id_interestNo">
                                            &nbsp;No&nbsp;
                                        </button>

                                        <button class="btn btn-outline-secondary" type="button" id="id_interestYes">Yes
                                        </button>


                                    </div>
                                </div>

                                <div id="id_interestInput" class="pt-3" style="display: none;">

                                    <div class=" row justify-content-center">
                                        <div class="col-3 col-sm-3 text-center">
                                            <p>Interest</p>
                                            <label class="check-image Interest"
                                                   for=id_calcCare></label>
                                        </div>
                                        <div class="col-5 col-sm-6 d-flex flex-column align-self-center">
                                            <div class="pb-3">
                                                &nbsp;<div id="interestSlider"></div>
                                            </div>
                                            <p class="small">Intended monthly interest payment</p>
                                        </div>
                                        <div class="col-4 col-sm-3 d-flex flex-column align-self-center">
                                            <input type="text" name="payIntAmount"
                                                   class="textinput textInput form-control"
                                                   id="id_payIntAmount">
                                            {{ form.payIntAmount.errors }}

                                        </div>
                                    </div>

                                    <div class=" row justify-content-center">
                                        <div class="col-3 col-sm-3 text-center">
                                            <p>Period</p>
                                            <label class="check-image Period"
                                                   for=id_calcCare></label>
                                        </div>
                                        <div class="col-5 col-sm-6 d-flex flex-column align-self-center">
                                            <div class="pb-3">
                                                &nbsp;<div id="intPeriodSlider"></div>
                                            </div>
                                            <p class="small">How long do you intend to pay interest (years)?</p>
                                        </div>
                                        <div class="col-4 col-sm-3 d-flex flex-column align-self-center">
                                            <input type="text" name="payIntPeriod"
                                                   class="textinput textInput form-control"
                                                   id="id_payIntPeriod">
                                            {{ form.payIntPeriod.errors }}

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    {% endif %}



                    <!-- Details -->

                    {% if obj.isRefi %}
                        <div class="cal_background_warm">
                    {% else %}
                        <div class="cal_background_white">
                    {% endif %}

                    <div class="container cal_container-md pt-5 pb-5">

                        <div class="row justify-content-center pb-3">
                            <div class="col-12">
                                <p class="x-large"><b>Leave an email and we'll send you a
                                    personalised summary</b></p>

                            </div>
                        </div>

                        <div>
                            <p>Your summary will provide key information on how a Household Transfer could be
                                used to meet your retirement funding needs</p>

                            <br>
                            <p>We will also provide an illustration of how the value of your home and
                                the value of your home equity might change over time, based on a loan amount
                                of <b><label id="id_loanLabel">${{ obj.maxLoanAmount }}</label></b>
                            <p>

                            <p id="interestText" style="display: none"> Also assuming that you make monthly interest
                                payments of
                                <b><label id="id_interestLabel"></label></b> per month for
                                <b><label id="id_periodLabel"></label></b> years</p>
                            <br>

                        </div>

                        <div class="row justify-content-center pb-3">
                            <div class="col-8">
                                <input type="text" name="name" required placeholder="Your name"
                                       class="textinput textInput form-control fs-block" id="id_name"
                                       {% if form.name.value != None %}value="{{ form.name.value }}"{% endif %}>
                            </div>
                        </div>


                        <div class="row justify-content-center pb-3">
                            <div class="col-8">

                                <input type="email" name="email" required
                                       placeholder="Your email"
                                       maxlength="70" class="textinput textInput form-control fs-block"
                                       id="id_email"
                                       {% if form.email.value != None %}value="{{ form.email.value }}"{% endif %}
                                       {% if form.errors %}autofocus{% endif %}>
                            </div>

                        </div>
                        {% if form.errors.email %}
                            <div class="row justify-content-center pb-3">
                                <div class="col-8">
                                    <div>
                                        {{ form.errors.email }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="row justify-content-center">

                            <div class="col-md-5">
                                <br>
                                <button id="personal-summary" type="submit" value="Submit" form="clientForm"
                                        class="btn btn-lg btn-hhcGold">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Send&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </button>
                                <div class="pt-2">
                                    {% if form.errors %}
                                        <p class="errorlist">Please check input errors above</p>{% endif %}
                                </div>

                                <br> <br>

                            </div>


                        </div>


                        <div class="row">
                            <div class="col-md-12 text-center ">
                                <br>
                                <p class="small">*This calculation does not constitute an approval
                                    but provides an
                                    indicator
                                    of the maximum possible loan. Household Transfers are subject to
                                    loan approval
                                    criteria,
                                    which
                                    includes a home valuation. Full terms and conditions will be
                                    included in any
                                    application</p>
                                <br>

                            </div>
                        </div>

                    </div>
                    </div>


                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascript %}

    {% if redirect %}
        <script>
            $(document).ready(function () {
                parent.location = '{{ redirectURL }}';
            });
        </script>
    {% endif %}

    <script>

        var loanRate = {{ loanRate }};

        $(document).ready(function () {

            //Google Analytics

            gtag_report_conversion('AW-760723517/J1q7CNishaMBEL3w3uoC');

            $('a#get-started').click(function () {
                gtag_report_conversion( 'AW-760723517/_ni-CJa29aIBEL3w3uoC');
            });

            $('a#phone-number-header').click(function () {
                gtag_report_conversion( "AW-760723517/8MGICJjs-qIBEL3w3uoC'");
            });

            $('a#phone-number-footer').click(function () {
                gtag_report_conversion( "AW-760723517/_u81CKyqhaMBEL3w3uoC");
            });

            $('#personal-summary').click(function () {
                gtag_report_conversion("AW-760723517/F-VxCKq49aIBEL3w3uoC");
            });


            //Initialisation

            calcTotalAmount();
            $("#id_calcTopUp").val(currency(0));
            $("#id_calcRefi").val(currency(0));
            $("#id_calcLive").val(currency(0));
            $("#id_calcGive").val(currency(0));
            $("#id_calcCare").val(currency(0));

            //Set-up Sliders
            $("#topUpSlider").slider({
                min: 0,
                max: {{ topUpMax|safe }},
                step: 1000,
                range: 'min',
                slide: function (event, ui) {
                    $('#id_calcTopUp').val(currency(ui.value));
                    calcTotalAmount();
                }
            });

            $("#refiSlider").slider({
                min: 0,
                max: {{ refiMax|safe  }},
                step: 1000,
                range: 'min',
                slide: function (event, ui) {
                    $('#id_calcRefi').val(currency(ui.value));
                    calcTotalAmount()
                }
            });

            $("#liveSlider").slider({
                min: 0,
                max: {{ liveMax|safe  }},
                step: 1000,
                range: 'min',
                slide: function (event, ui) {
                    $('#id_calcLive').val(currency(ui.value));
                    calcTotalAmount()
                }
            });

            $("#giveSlider").slider({
                min: 0,
                max: {{ giveMax|safe }},
                step: 1000,
                range: 'min',
                slide: function (event, ui) {
                    $('#id_calcGive').val(currency(ui.value));
                    calcTotalAmount()
                }
            });

            $("#careSlider").slider({
                min: 0,
                max: {{ careMax|safe  }},
                step: 1000,
                range: 'min',
                slide: function (event, ui) {
                    $('#id_calcCare').val(currency(ui.value));
                    calcTotalAmount();
                }
            });

            //Set-up Manual Change Triggers
            $("#id_calcTopUp").change(function () {
                $(this).val(currency(getAmount($(this))));
                calcTotalAmount()
            });
            $("#id_calcRefi").change(function () {
                $(this).val(currency(getAmount($(this))));
                calcTotalAmount()
            });
            $("#id_calcLive").change(function () {
                $(this).val(currency(getAmount($(this))));
                calcTotalAmount()
            });
            $("#id_calcGive").change(function () {
                $(this).val(currency(getAmount($(this))));
                calcTotalAmount()
            });
            $("#id_calcCare").change(function () {
                $(this).val(currency(getAmount($(this))));
                calcTotalAmount()
            });

            //Set-up Interest Button Triggers
            $("#id_interestNo").click(function () {
                interestNo()
            });

            $("#id_interestYes").click(function () {
                interestYes()
            });

            //Pay Interest Text and Max Triggers
            $('#id_payIntAmount').change(function () {
                updateInterestText(getAmount($(this)));
                checkMaxInterest($(this))
            });

            $('#id_payIntAmount').val(0);
            $('#id_payIntPeriod').val(0);

        });

        function gtag_report_conversion(gCode) {

            gtag('event', 'conversion', {
                'send_to': gCode
            });
            console.log(gCode)
        }

        function interestNo() {
            $("#id_interestNo").removeClass("btn-outline-secondary");
            $("#id_interestNo").addClass("btn-square-hhcLightBlue");
            $("#id_interestYes").removeClass("btn-square-hhcLightBlue");
            $("#id_interestYes").addClass("btn-outline-secondary");
            $("#id_interestInput").hide();
            $('#id_payIntAmount').val(0);
            $('#id_payIntPeriod').val(0);
            $('#id_interestLabel').text(0);
            $('#id_periodLabel').text(0);
            $("#interestText").hide()
        }

        function interestYes() {
            $("#id_interestYes").removeClass("btn-outline-secondary");
            $("#id_interestYes").addClass("btn-square-hhcLightBlue");
            $("#id_interestNo").removeClass("btn-square-hhcLightBlue");
            $("#id_interestNo").addClass("btn-outline-secondary");
            refreshInterestSliders();
            $("#id_interestInput").show()
        }

        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function calcTotalAmount() {
            var totalAmount = 0;
            var maxAmount = parseInt("{{ obj.maxLoanAmount }}".replace(/[$,]+/g, "")) || 0;

            totalAmount += getAmount($("#id_calcTopUp"));
            totalAmount += getAmount($("#id_calcRefi"));
            totalAmount += getAmount($("#id_calcLive"));
            totalAmount += getAmount($("#id_calcGive"));
            totalAmount += getAmount($("#id_calcCare"));

            $("#id_totalAmountLabel").text(currency(totalAmount));
            $("#id_calcTotal").val(currency(totalAmount));

            if (totalAmount == 0) {
                $("#id_loanLabel").text(currency(maxAmount));
            } else {
                $("#id_loanLabel").text(currency(Math.min(totalAmount, maxAmount)));
            }

            if (totalAmount > maxAmount) {
                $("#id_amountError").show()
            } else {
                $("#id_amountError").hide()
            }

            refreshInterestSliders()
        }

        function getAmount(obj) {
            if (obj.length) {
                return parseInt(obj.prop("value").replace(/[$,]+/g, "")) || 0
            } else {
                return 0
            }
        }

        function currency(value) {
            var output = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',
                minimumFractionDigits: 0,
                maximumFractionDigits: 0
            }).format(value);
            return output
        }

        function refreshInterestSliders() {

            var loanAmount = getAmount($("#id_calcTotal"));

            $("#interestSlider").slider({
                min: 0,
                max: loanAmount * loanRate / 1200,
                step: 25,
                range: 'min',
                slide: function (event, ui) {
                    $('#id_payIntAmount').val(currency(ui.value));
                    $('#id_interestLabel').text(currency(ui.value));
                    updateInterestText(ui.value)

                }
            });

            $("#interestSlider").slider("value", 0);
            $('#id_payIntAmount').val(0);

            $("#intPeriodSlider").slider({
                min: 0,
                max: 15,
                step: 1,
                range: 'min',
                slide: function (event, ui) {
                    $('#id_payIntPeriod').val(ui.value);
                    $('#id_periodLabel').text(ui.value)
                }
            });

            $("#intPeriodSlider").slider("value", 0);
            $('#id_payIntPeriod').val(0);

        }

        function updateInterestText(value) {
            if (value != 0) {
                $("#interestText").show()
            } else {
                $("#interestText").hide()
            }
        }

        function checkMaxInterest(obj) {
            var maxAmount = getAmount($("#id_calcTotal")) * loanRate / 1200;
            if (getAmount(obj) > maxAmount) {
                obj.val(currency(maxAmount))
            }

        }

    </script>

{% endblock %}


