
<footer>
    <div class="container">

        <div class="row">

            <div class="col-sm-4 footer-social">
                <ul>
                    <li><a href="https://www.linkedin.com/company/household-capital" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="https://twitter.com/HouseholdCapit1"  target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/HouseholdCap"  target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                </ul>
            </div>

            <div class="col-sm-4 footer-address">
                Household Capital Pty Ltd
                <br/><a id='phone-number-footer' href="tel:1300 622 100">1300 622 100</a>
                <br/>info@householdcapital.com
            </div>

            <div class="col-sm-4 footer-address">
                PO Box 4232
                <br/>Fitzroy South
                <br/>VIC  3065
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12 footer-disclaimer">
                Household Capital Pty Limited ACN 618 068 214 is the issuer of the information on this website.
                Household Capital Pty Limited is a credit representative (512757) of Mortgage Direct Pty Limited ACN 075
                721 434, Australian Credit Licence 391876
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="menu-footer-menu-container">
                    <ul>
                        <li>Copyright Household Capital 2019</li>
                        <li id="menu-item-54"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54"><a
                                href="https://householdcapital.com.au/privacy/">Privacy</a></li>
                        <li id="menu-item-53"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53"><a
                                href="https://householdcapital.com.au/terms-and-conditions/">Terms and Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>