{% extends 'calculator/calc_base.html' %}

{% load static %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}
{% load calc_extras %}

{% block calculator %}

    <div class="container cal_background">
        <div class="row pt-5">
            <div class="col-12 text-center">
                <form id="clientForm" method="post">
                    {% csrf_token %}

                    <!-- Transfer -->
                    <div class="cal_background_white">

                        <div class="container cal_container-md pt-5 pb-5">

                            {% if redirectMessage %}
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <p class="alert alert-success">{{ redirectMessage }}</p>
                                        <br><br><br>
                                    </div>

                                </div>
                            {% endif %}

                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <p class="x-large"><b>We don't operate in your postcode</b></p>
                                    <p>Unfortunately <b>{{ obj.postcode|intStr }}</b> is not currently a postcode that
                                        we
                                        lend
                                        in </p>
                                    <br>
                                    <p>We periodically update our eligible postcodes <br>Please contact us and we may be
                                        able to undertake a review </p>
                                    <br>
                                </div>
                            </div>


                            <div class="row justify-content-center pb-3">
                                <div class="col-8">
                                    <input type="text" name="name" placeholder="Enter your name"
                                           class="textinput textInput form-control fs-block" id="id_name"
                                           {% if form.name.value != None %}value="{{ form.name.value }}"{% endif %}>
                                </div>
                            </div>

                            <div class="row justify-content-center pb-3">
                                <div class="col-8">

                                    <input type="email" name="email" required
                                           placeholder="Enter your email"
                                           maxlength="70" class="textinput textInput form-control fs-block"
                                           id="id_email"
                                           {% if form.email.value != None %}value="{{ form.email.value }}"{% endif %}>
                                </div>
                            </div>

                            <div class="row justify-content-center pb-3">
                                <div class="col-10">
                                    <p class="small">By providing your email address, you consent to the collection,
                                        use,
                                        and disclosure of your personal information by Household Capital as set out in
                                        our
                                        <u><a href="https://householdcapital.com.au/privacy/" target="_blank">Privacy Policy</a></u></p>
                                </div>
                            </div>

                            <div class="row justify-content-center">

                                <div class="col-md-4">
                                    <br>
                                    <button id="contact" type="submit" value="Submit" form="clientForm"
                                            class="btn btn-lg btn-hhcGold">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Send&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </button>
                                    <br> <br>
                                </div>

                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}


{{% block javascript %}


    <script>
    //Google Analytics

    $(document).ready(function () {

        gtag_report_conversion('AW-760723517/6n9cCP-59aIBEL3w3uoC');

        $('a#get-started').click(function () {
            gtag_report_conversion('AW-760723517/_ni-CJa29aIBEL3w3uoC');
        });

        $('a#phone-number-header').click(function () {
            gtag_report_conversion("AW-760723517/8MGICJjs-qIBEL3w3uoC'");
        });

        $('a#phone-number-footer').click(function () {
            gtag_report_conversion("AW-760723517/_u81CKyqhaMBEL3w3uoC");
        });

        $('#contact').click(function () {
            alert("button");
            gtag_report_conversion("AW-760723517/T9V5CPb2-qIBEL3w3uoC");
        });

        {% if redirect %}
            parent.location = '{{ redirectURL }}';
        {% endif %}

    });

    function gtag_report_conversion(gCode) {

        gtag('event', 'conversion', {
            'send_to': gCode
        });
        console.log(gCode)
    }

{% endblock %}



