{% load static %}

<nav class="navbar navbar-light navbar-expand-xl navbar-fixed-top ">
    <div class="container">

        <a class="navbar-brand pl-3" href="https://householdcapital.com.au/">
            <img src="{% static '/img/hhc/HC_Logo_Flat.png' %}" height="50px" >
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse menu-box" id="navbar">

                <ul class="navbar-nav pl-4 mr-auto ml-auto">
                    <li class="nav-item">
                        <a href="https://householdcapital.com.au/">Home</a></li>

                    <li class="nav-item">
                        <a href="https://householdcapital.com.au/about-household-capital/">About</a>
                    </li>

                    <li class="nav-item">
                        <a href="https://householdcapital.com.au/frequently-asked-questions/">FAQs</a>
                    </li>

                    <li class="nav-item">
                        <a href="https://householdcapital.com.au/news/">News</a></li>

                    <li class="nav-item">
                        <a title="Log in to the online dashboard" target="_blank"
                                href="https://householdcapital.xchangeonline.com.au/site/#/login">Login</a>
                    </li>

                    <li class="nav-item">
                        <a href="https://contact.householdcapital.com.au">Get in touch</a></li>

                    <li class="header-phone-number nav-item">
                        <a id="phone-number-header" href="tel:1300622100">1300 622 100</a></li>

                    <li class="nav-item">
                        <a id="get-started" href="http://householdcapital.app/calculator/start">Get started</a></li>
                </ul>


        </div><!--/.navbar-collapse -->


    </div>

</nav>

