{% load static %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon/favicon.png' %}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-NJXGk7R+8gWGBdutmr+/d6XDokLwQhF1U3VA7FhvBDlOq7cNdI69z7NQdnXxcF7k" crossorigin="anonymous">
    <link href="/static/css/calculator.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <script async src='https://www.google-analytics.com/analytics.js'></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134758045-1" type="a5a4f0e3d92d2c3efa0ba656-text/javascript"></script>
    <script type="a5a4f0e3d92d2c3efa0ba656-text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-134758045-1');
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        function getClientIdFromUrl() {
            var url = window.location.href;
            var regex = new RegExp("[?&]clientId(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            console.log(results[2].replace(/\+/g, " "));
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        ga('create', 'UA-134758045-1', 'auto', {
            'clientId': getClientIdFromUrl()
        })
    </script>

    <title>Household Capital Calculator</title>
</head>


<body>

<div class="container justify-content-md-center">
    <div class="row justify-content-md-center">
        <div class="col-md-11">
            <br><br>
            <div class="container cal_background_warm">
                <div class="row">
                    <div class="col-md-12">
                        <form id="clientForm" method="post">
                            {% csrf_token %}

                            <div class="row">

                                <div class="col-md-7">
                                    <br>
                                    <p class="x-large">Your Household Transfer</p>
                                    <p>You may be eligible for a transfer of up to:*</p>

                                    <div class="row">
                                        <div class="col-md-8 pr-0 pb-4">

                                            <img class="img-fluid d-none d-sm-none d-md-block"
                                                 src="{% static 'img/icons/' %}{{ transfer_img }}">
                                        </div>

                                        <div class="col-md-4 pl-3">
                                            <div class="d-none d-sm-none d-md-block">
                                                <br><br><br>
                                            </div>
                                            <p class="x-large">${{ obj.maxLoanAmount }}</p>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        {% if success %}
                                            <div class="col-md-12 text-center">
                                                <br>
                                                {% for message in messages %}
                                                    <p{% if message.tags == 'error' %}
                                                        class="alert alert-info"{% endif %}
                                                            {% if message.tags == 'success' %}
                                                        class="alert alert-success"{% endif %}>
                                                        {{ message }}</p>
                                                {% endfor %}

                                            </div>

                                        {% else %}
                                            <div class="col-md-8">


                                                <p class="small">For a summary and further information</p>
                                                <input type="email" name="email" required autofocus
                                                       placeholder="Enter your email"
                                                       maxlength="70" class="textinput textInput form-control"
                                                       id="id_email"
                                                       {% if form.email.value != None %}value="{{ form.email.value }}"{% endif %}>
                                            </div>
                                            <div class="col-md-4">
                                                <br>
                                                <button type="submit" value="Submit" form="clientForm"
                                                        class="btn btn-hhcGold">
                                                    &nbsp;&nbsp;Send&nbsp;&nbsp;
                                                </button>
                                                <br> <br>
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>


                                <div class="col-md-5">
                                    <br>
                                    <p class="x-large">Your purposes</p>
                                    <p>How might you use a Household Transfer? </p>

                                    <div class="row align-items-center">
                                        <div class="col-md-3 text-center">

                                            <div class="check-hide">
                                                <input type="checkbox" name="isTopUp"
                                                       id="id_isTopUp" {% if isTopUp%}checked{% endif %}>
                                                <label class="check-label check-image-old TopUp" for=id_isTopUp></label>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <p class="small"><b>Top Up</b>: increase superannuation, boost retirement
                                                income </p>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-md-3 text-center">

                                            <div class="check-hide">
                                                <input type="checkbox" name="isRefi"
                                                       id="id_isRefi" {% if isRefi%}checked{% endif %}>
                                                <label class="check-label check-image-old Refi" for=id_isRefi></label>
                                            </div>
                                        </div>
                                        <div class="col-md-9 text-left">
                                            <p class="small"><b>Refinance</b>: an existing mortgage with or without monthly
                                                repayments</p>
                                        </div>

                                    </div>
                                    <div class="row align-items-center">

                                        <div class="col-md-3 text-center">

                                            <div class="check-hide">
                                                <input type="checkbox" name="isLive"
                                                       id="id_isLive" {% if isLive%}checked{% endif %}>
                                                <label class="check-label check-image-old Live" for=id_isLive></label>
                                            </div>
                                        </div>
                                        <div class="col-md-9 text-left">
                                            <p class="small"><b>Live</b>: planned renovations, transport and travel</p>
                                        </div>

                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-md-3 text-center">

                                            <div class="check-hide">
                                                <input type="checkbox" name="isGive"
                                                       id="id_isGive" {% if isGive%}checked{% endif %}>
                                                <label class="check-label check-image-old Give" for=id_isGive></label>
                                            </div>
                                        </div>
                                        <div class="col-md-9 text-left">
                                            <p class="small"><b>Give</b>: when needed most, home deposit, education expenses,
                                                etc</p>
                                        </div>

                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-md-3 text-center">

                                            <div class="check-hide">
                                                <input type="checkbox" name="isCare"
                                                       id="id_isCare" {% if isLive%}checked{% endif %}>
                                                <label class="check-label check-image-old Care" for=id_isCare></label>
                                            </div>
                                        </div>
                                        <div class="col-md-9 text-left">
                                            <p class="small"><b>Care</b>: medical expenses, in-home care or aged care </p>
                                        </div>
                                    </div>

                                    <div class="row align-items-center">
                                        <div class="col-md-12">
                                            <p class="small">Please click on one or more icons</p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center ">
                        <br>
                        <p class="x-small">*This calculation does not constitute an approval but provides an indicator
                            of the maximum possible loan. Household Loans are subject to loan approval criteria, which
                            includes a home valuation. Full terms and conditions will be included in any loan
                            application.</p>
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%  if redirect %}
<script>
      $(document).ready(function () {
            parent.location='{{ redirectURL }}';
        });
</script>
{% endif %}

</body>


