{% extends 'enquiry/email/email_template.html' %}
{% load humanize %}
{% load static %}


{% block email_content %}

<p>Hello and thank you for your enquiry.</p>
<br>
<p>Attached is a brief summary showing how a Household Transfer might be able to help you meet your objectives, based on the information that you provided. </p>
<br>
<p>Please don't hesitate to contact me on {{ user.profile.mobile}} or {{user.email }}</p>
<br>
<p>Kind regards</p>
<br>
<p>{{ user.first_name }}</p>
{% if user.profile.calendlyUrl %}
    <p>{{ user.profile.mobile}}</p>
    <p>{{ user.email }}</p>
{% endif %}
<br>
<img src="{{ absolute_media_url }}{{ user.profile.picture }}" width="100px" height="100px">


{% endblock %}
