{% load humanize %}
{% load site_tags %}

<!doctype html>
<html lang="en">

<body>

Hey {{ obj.user.first_name }}<br><br>

Just for your information - one of your colleagues has assigned the enquiry <a href="{{ base_url }}{{ obj.get_absolute_url}}">
    <button style="background-color: #ffc107; border: none;color: black; padding: 10px 20px; text-align: center;
            text-decoration: none; display: inline-block; font-size: 16px; border-radius: 12px">{{ obj.name }} - {{ obj.postcode|stringformat:"d"  }}
</button></a> to your capable hands.<br><br>

Check out the Enquiry List for further details.<br><br>

Kind regards<br><br>

The ClientApp

</body>
</html>

