{% extends 'enquiry/email/email_template.html' %}
{% load humanize %}
{% load static %}


{% block email_content %}

    <p>Hello {% if customerFirstName %}{{ customerFirstName }}{% endif %}</p>
    <br>
    <p>Do you need more information? We have brought together industry experts from a wide range of fields to help solve Australia’s retirement funding challenge. </p>
    <br>
    <p>Explore how a Household Transfer can be used to make a difference to your retirement. <a href="https://review.money101.com.au/_perm/HouseholdCapital/RethinkingRetirement/story_html5.html">Play Module</a></p>
    <br>
    <p>Feel free to contact me on {{ obj.user.profile.mobile}} or {{ obj.user.profile.email}} or you can schedule an obligation-free, 15 minute 'discovery call' at a time that best suits you using this link:
        {{obj.user.profile.calendlyUrl }}</p>
    <br>
    <p><b>Do you wish you had more money to:</b></p>
    <ul>
        <li><b>Top-up super</b> - Increase your super, investments or contingency funds</li>
        <li><b>Live</b> - Renovate your home or help fund your transport and travel</li>
        <li><b>Give</b> - Help your family with funding a home deposit or education expenses</li>
        <li><b>Care</b> - Fund your medical expenses, in-home care or aged care requirements</li>
        <li><b>Refinance</b> - Refinance your existing mortgage (giving you the choice whether or not to make regular repayments)</li>
    </ul>
     <div style="background-color: rgb(249, 248, 245);">
        <p><i>“"We want to fund our granddaughter to be able to take a year’s maternity leave to spend with our future great grandchild. It’s such a special time for mother and child but without pay, she needs to return to work to be able to contribute to their mortgage."</i><br><b>Sophia & Joe, Brisbane QLD</b></p>
    </div>
    <br>
    <p>See if a Household Transfer could be right for you. Contact me on {{ user.profile.mobile}} to discuss your circumstances in more detail.</p>
    <br>
    <p>Kind regards</p>
    <br>
    <p>{{ obj.user.first_name }}&nbsp;{{ obj.user.last_name }}</p>
    <p>{{ obj.user.profile.mobile}}</p>
    <p>{{ obj.user.email }}</p>
    <br>
    <img src="{{ absolute_media_url }}{{ obj.user.profile.picture }}" width="100px">

{% endblock %}

