{% load humanize %}
{% load site_tags %}

<!doctype html>
<html lang="en">

<body>

Further to our recent conversation, I am pleased to be able to provide you with the following information.<br><br>

I understand that your client’s details are as follows:<br>
{% if obj.client_name|length > 0 %}- {{ client_name}}<br>{% endif %}
{% if obj.loanType == 1 %}- joint borrowers, who are aged {{ obj.age_1 }} and {{ obj.age_2 }} <br>
{% else %}- an individual borrower who is currently aged {{ obj.age_1 }}<br>{% endif %}
- living in {% if obj.dwellingType == 1 %}an apartment {% else %}a house {% endif %}
{% if street|length > 0 %}at {{ street }}{% endif %}<br>
- in the postcode {{ obj.postcode|intBlank }}<br>
- with an estimated valuation of approximately ${{ obj.valuation|intcomma }}<br><br>

Based on this high level information and subject to credit assessment, we may be able to provide a Household Loan with a loan-to-value ratio of up to <b>{{eligibility.data.maxLVR}}%</b> or <b>${{eligibility.data.maxLoan|intcomma}}</b>.<br><br>


As you know, Household has certain loan data that are based on the intended purpose of the loan.  Potential data may include the following:<br>
{% if eligibility.data.maxLoan > data.maxCare %}- Maximum amount for Age Care: ${{ eligibility.data.maxCare|intcomma }}<br>{% endif %}
{% if eligibility.data.maxLoan > data.maxTopUp %}- Maximum amount for Super Top Up: ${{ eligibility.data.maxTopUp|intcomma }}<br>{% endif %}
{% if eligibility.data.maxLoan > data.maxReno %}- Maximum amount for Renovations: ${{ eligibility.data.maxReno|intcomma }}<br>{% endif %}
- Maximum amount for Refinance: ${{ eligibility.data.maxRefi|intcomma }}<br>
- Maximum amount for Accelerated Giving: ${{ eligibility.data.maxGive|intcomma }}<br>
- Maximum amount for Transport and Travel: ${{ eligibility.data.maxTravel|intcomma }}<br><br>

We would be pleased to meet with you and your client to determine whether a Household Loan might be appropriate.  If you would like any further information, please don’t hesitate to contact me.<br><br>

Kind regards<br>

</body>
</html>

