container_commands:
  00_upgrade_pip: 
    command: "/opt/python/run/venv/bin/pip3 install -U pip setuptools"
  02_build_static_files: 
    command: "django-admin.py collectstatic --noinput"
  03_run_comment_migrations:
      command: "django-admin.py migrate --noinput django_comments"
  04_run_migrations:
    command: "django-admin.py migrate --noinput"  