files:
  /home/ec2-user/.ssh/extra_authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDeL+ZCuVeSYF6nlQORjigLGnEHlnDxh098R/ADKDsZ4stmnzPF1vEJdivIyaM5pa8LEiy4plEHWnBznGdy/AfIGZWoMJawF3yj9jqxiTLthM3R+/Xl4GLLnIhOoSw9Taph3RU6gPACWpRc/YoSKhLrG5TwgJw3K9Z6KfsVfZi9G4VDeaizJ+3B+OPGu0LSRjTxAqhm3zipjoa1MPMk54PKEkfl2HDV4ZCwdD9qPER83F5iNYPin1g1ob2iOHAbcvTxCEAH7fVTjArO9hQOmZR0zfV7+tOGYrsY4uFDw8hbnd8NJ8zQ26Mt7hIFkditOVcF0mhOBMycp6T6MUHVaIjZ jainish.pithadiya@householdcapital.com
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC5Cg4oJ3fEMNSrg3V8HyMgzU6xcd6LZmHzDUQ/OrUtQL0IhSEPEtYOPq7wJxr0QCJmuZrJ64hbg+GmuE/hzoMAF77fj7npegt/1ZQnNpowQRUE0t141eIWxOygQ6UpZqf3+zG9X4lFsX+2/2Melx2YiNeVbjov1kd6vhAcdU+5xesY/esvpm1qkeQQel3lB1yv4z0shhEQg5qzW3VsTCuY2/Pq5DLLvJZ0ggNJ4p7weOkGdiNTZljUtZ19A4ZKMCdztS6jV7cwsB/QG01uKZeQOjL76Tvxc8zSIeGWrAlGiNnARtLtGe+Fu2sZHa7imsyLzTHJj2qzD+DJGZOfoMkQJX51sSqnZW2x/C6yH6Zp+QnokUTkXp7d9vP1FxZgGU6go/bs692VHeMPdzn8GFXJxH3VdNbSjhBJDxJbIPAgfF4b7ogS89Yt+aOcD5vHw1uFXaKbAMCACMNPAD8a/YRMYp9T6I5IbBW8c2WOnjxaqmRywqgWpopuFSEx4WEdDZCfebTMBk7ZExuLwNSEUgN3T5zWRnNIqrFBAD4Zd2u7yBfxm9Sjzw5qMxgXfTIJAhHuBrOjXol27ZFzVFlV2X1tVWA7zdTdH3oa3nSrM+sLi8R1CyNaP1BAjhOpQfc82zfFBclnS8fMbn0p84nlA4N3aXRBt4sWEy+wrCB4/k5iAQ== matt@barefootnomads.com
      
commands:
  01_append_keys:
    cwd: /home/ec2-user/.ssh/
    command: sort -u extra_authorized_keys authorized_keys -o authorized_keys
  99_rm_extra_keys:
    cwd: /home/ec2-user/.ssh/
    command: rm extra_authorized_keys