files:
  /home/ec2-user/.ssh/extra_authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDeL+ZCuVeSYF6nlQORjigLGnEHlnDxh098R/ADKDsZ4stmnzPF1vEJdivIyaM5pa8LEiy4plEHWnBznGdy/AfIGZWoMJawF3yj9jqxiTLthM3R+/Xl4GLLnIhOoSw9Taph3RU6gPACWpRc/YoSKhLrG5TwgJw3K9Z6KfsVfZi9G4VDeaizJ+3B+OPGu0LSRjTxAqhm3zipjoa1MPMk54PKEkfl2HDV4ZCwdD9qPER83F5iNYPin1g1ob2iOHAbcvTxCEAH7fVTjArO9hQOmZR0zfV7+tOGYrsY4uFDw8hbnd8NJ8zQ26Mt7hIFkditOVcF0mhOBMycp6T6MUHVaIjZ jainish.pithadiya@householdcapital.com
      
commands:
  01_append_keys:
    cwd: /home/ec2-user/.ssh/
    command: sort -u extra_authorized_keys authorized_keys -o authorized_keys
  99_rm_extra_keys:
    cwd: /home/ec2-user/.ssh/
    command: rm extra_authorized_keys