files:
    "/etc/httpd/conf.d/prevent_invalid_hosts.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            <Directory />
                SetEnvIfNoCase Host .householdcapital\.(com|app) VALID_HOST
                Order Deny,Allow
                Deny from All
                Allow from env=VALID_HOST
            </Directory>
