{% extends 'servicing/email/email_template.html' %}
{% load humanize %}
{% load static %}


{% block email_content %}

    <p>Dear {{ firstName }}</p>
    <br>
    <p>As requested, below is a link that you can use to request an additional drawdown from your Household Loan.</p>
    <br>
    <a href="{{ signedURL }}"><button style = "background-color: #ffc107; border: none;color: black; padding: 15px 32px; text-align: center;
            text-decoration: none; display: inline-block; font-size: 16px; border-radius: 12px">Request Drawdown</button></a>

    <br><br>
    <p><b>Important: do not forward this email or share this link with anyone.</b></p>
    <br>
    <p>For your security, this link will expire in 48 hours.</p>
    <br>
    <p>We are here to help.  If you have any questions, please don't hesitate to call us on 1300 622 100.</p>
    <br>
    <p>Kind regards</p>
    <br>
    <p>The Household Capital Team</p>

    <br>


{% endblock %}
