{% extends 'client_1_0/base/base_client.html' %}
{% load static %}


{% block message_display %}

    <div class="container">

      {% if messages %}
                <div class="row">
                    <div class="col-12">
                        {% for message in messages %}
                            <p{% if message.tags == 'success' %}
                                class="alert alert-success"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
      {% endif %}

        <div class="row">

         </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-lg-6">

                <br>
                <div class="secondary_title">Do you have adequate retirement funds?</div>
                <br>
                <a>During your working life, you have saved in your superannuation and in your home ownership. Our Household Transfer draws together super, home equity and pension entitlements to provide funds for life at home. </a><br><br>
                <a>A Household Loan can be used to:</a><br>
                <a>- Boost your retirement income or contingency funding</a><br>
                <a>- Refinance an existing mortgage</a><br>
                <a>- Renovate your home</a><br>
                <a>- Cover transport and travel</a><br>
                <a>- Give to your family when they need it most</a><br>
                <a>- Fund aged care costs</a>
                <br>

            </div>

            <div class="col-lg-6">

                <br>
                <img src="{% static 'img/hhc/HC-Hero-FamilyInside.jpeg' %}" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>



{% endblock %}

