{% extends 'client_2_0/base/base_client.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block message_display %}

    <div class="container">

        {% if messages %}
            <div class="row justify-content-md-center">
                <div class="col-6 text-center">
                    <br>
                    {% for message in messages %}
                        <p{% if message.tags == 'error' %}
                            class="alert alert-warning"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">

        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
                    <div class="col-lg-10">
                        <br>
                        <div class="secondary_title">Questions? </div>
                        <br>

                        <p>Would you like to review anything before we finish? </p>

                    </div>

                </div>

    <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-5">

            <img src="{% static 'img/icons/report_icon.png' %}" width="330px" class="img-fluid" alt="Responsive image">
        </div>

    </div>



    </div>

{% endblock %}


{% block javascript %}
{% endblock %}
