{% extends 'client_2_0/base/base_client.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block message_display %}

    <div class="container">

        {% if messages %}
            <div class="row justify-content-md-center">
                <div class="col-6 text-center">
                    <br>
                    {% for message in messages %}
                        <p{% if message.tags == 'error' %}
                            class="alert alert-warning"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">

        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">

    {% if topUpProjections %}
        <div class="row">
            <div class="col-lg-10">
                <br>
                <div class="secondary_title">Your income, drawn from your savings</div>

                <p>These projections are not guaranteed </p>
                <br>
            </div>

        </div>



        <div class="row ">
            <div class="col-lg-1"></div>
            <div class="col-lg-8">
                <div class="secondary_title padding-10px">Your income</div>
            </div>
        </div>



        <div class="row ">
            <div class="col-lg-1"></div>
            <div class="col-lg-6 padding-10px tertiary_title">
                <p>Annual income </p>
            </div>
        </div>
        <div class="row padding-10px">
            <div class="col-lg-1"></div>
            <div class="col-lg-4 ">
                <p class="small"><i class="fas fa-square hhcTealShade"></i>&nbsp;Loan Drawdown&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fas fa-square hhcLightBlue"></i>&nbsp;Age Pension </p>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-lg-2 text-right"></div>
            <div class="col-lg-2 text-center">
                <p class="">${{ resultsTotalIncome.0|intcomma }}</p>
            </div>
            <div class="col-lg-2 text-center">
                <p class="">${{ resultsTotalIncome.1|intcomma }}</p>
            </div>
            <div class="col-lg-2 text-center">
                <p class="">${{ resultsTotalIncome.2|intcomma }}</p>
            </div>
            <div class="col-lg-2 text-center">
                <p class="">${{ resultsTotalIncome.3|intcomma }}</p>
            </div>

        </div>


        <div class="row justify-content-md-center align-items-end">
            <div class="col-lg-2 text-center"></div>
            <div class="col-lg-2 text-center">
                <div class="imgResults"><img src="{{ resultsIncomeImages.0 }}" width="120px"
                                             height="{{ resultsTotalIncome.4 }}px"></div>
            </div>
            <div class="col-lg-2 text-center">
                <div class="imgResults"><img src="{{ resultsIncomeImages.1 }}" width="120px"
                                             height="{{ resultsTotalIncome.5 }}px"></div>
            </div>

            <div class="col-lg-2 text-center ">
                <div class="imgResults"><img src="{{ resultsIncomeImages.2 }}" width="120px"
                                             height="{{ resultsTotalIncome.6 }}px"></div>
            </div>
            <div class="col-lg-2 text-center">
                <div class="imgResults"><img src="{{ resultsIncomeImages.3 }}" width="120px"
                                             height="{{ resultsTotalIncome.7 }}px"></div>
            </div>
        </div>

        <div class="row justify-content-md-center align-items-end">
            <div class="col-lg-2 text-center"></div>
            <div class="col-lg-2 text-center">
                <p class="larger">{{ resultsAge.0 }}</p>
            </div>
            <div class="col-lg-2 text-center">
                <p class="larger">{{ resultsAge.1 }}</p>
            </div>
            <div class="col-lg-2 text-center ">
                <p class="larger">{{ resultsAge.2 }}</p>
            </div>
            <div class="col-lg-2 text-center">
                <p class="larger">{{ resultsAge.3 }}</p>
            </div>
        </div>

        <div class="row justify-content-md-center align-items-end">
            <div class="col-lg-2 text-right">
            </div>
            <div class="col-lg-6 text-center">
                <p>{{ ageAxis }}</p>
            </div>
        </div>

        <br>

        <div class="row ">
            <div class="col-lg-1"></div>
            <div class="col-lg-8">
                <div class="secondary_title padding-10px">Your savings</div>
            </div>
        </div>

        <div class="row ">
            <div class="col-lg-1"></div>
            <div class="col-lg-6 padding-10px tertiary_title">
                <p>Home equity </p>
            </div>
        </div>


    {% else %}

        <div class="row">
            <div class="col-lg-10">
                <br>
                <div class="secondary_title">Your projections</div>

                <p>These projections are not guaranteed </p>
                <br>
            </div>
        </div>


        <div class="row ">
            <div class="col-lg-1"></div>
            <div class="col-lg-8">
                <div class="secondary_title padding-10px">Home Equity</div>
            </div>
        </div>

    {% endif %}

    <div class="row justify-content-md-center">
        <div class="col-lg-2 text-right">
            <p class="small">Home value:</p>
            <p class="small">Loan balance:</p>
            <p class="small">Home equity:</p>
            <p class="small">Home equity %:</p>
        </div>

        <div class="col-lg-2 text-center">
            <p class="small">${{ resultsHouseValue.0|intcomma }}</p>
            <p class="small">${{ resultsLoanBalance.0|intcomma }}</p>
            <p class=""><b>${{ resultsHomeEquity.0|intcomma }}</b></p>
            <p class="small">{{ resultsHomeEquityPC.0|intcomma }}%</p>

        </div>
        <div class="col-lg-2 text-center">
            <p class="small">${{ resultsHouseValue.1|intcomma }}</p>
            <p class="small">${{ resultsLoanBalance.1|intcomma }}</p></p>
            <p class=""><b>${{ resultsHomeEquity.1|intcomma }}</b></p>
            <p class="small">{{ resultsHomeEquityPC.1|intcomma }}%</p>

        </div>
        <div class="col-lg-2 text-center">
            <p class="small">${{ resultsHouseValue.2|intcomma }}</p>
            <p class="small">${{ resultsLoanBalance.2|intcomma }}</p></p>
            <p class=""><b>${{ resultsHomeEquity.2|intcomma }}</b></p>
            <p class="small">{{ resultsHomeEquityPC.2|intcomma }}%</p>

        </div>
        <div class="col-lg-2 text-center">
            <p class="small">${{ resultsHouseValue.3|intcomma }}</p>
            <p class="small">${{ resultsLoanBalance.3|intcomma }}</p></p>
            <p class=""><b>${{ resultsHomeEquity.3|intcomma }}</b></p>
            <p class="small">{{ resultsHomeEquityPC.3|intcomma }}%</p>
        </div>

    </div>

    <div class="row justify-content-md-center">
        <div class="col-lg-2 text-right">
        </div>
        <div class="col-lg-2 text-center my-auto">
            <div class="imgResults"><img src="{{ resultsHomeImages.0 }}" width="{{ resultsHouseValue.4 }}px"></div>
        </div>
        <div class="col-lg-2 text-center my-auto">
            <div class="imgResults"><img src="{{ resultsHomeImages.1 }}" width="{{ resultsHouseValue.5 }}px"></div>
        </div>

        <div class="col-lg-2 text-center my-auto ">
            <div class="imgResults"><img src="{{ resultsHomeImages.2 }}" width="{{ resultsHouseValue.6 }}px"></div>
        </div>
        <div class="col-lg-2 text-center my-auto">
            <div class="imgResults"><img src="{{ resultsHomeImages.3 }}" width="{{ resultsHouseValue.7 }}px"></div>
        </div>
    </div>

    <div class="row justify-content-md-center align-items-end">
        <div class="col-lg-2 text-right">
        </div>
        <div class="col-lg-2 text-center">
            <p class="larger">{{ resultsAge.0 }}</p>
        </div>
        <div class="col-lg-2 text-center">
            <p class="larger">{{ resultsAge.1 }}</p>
        </div>
        <div class="col-lg-2 text-center ">
            <p class="larger">{{ resultsAge.2 }}</p>
        </div>
        <div class="col-lg-2 text-center">
            <p class="larger">{{ resultsAge.3 }}</p>
        </div>
    </div>
    <div class="row justify-content-md-center align-items-end">
        <div class="col-lg-2 text-right">
        </div>
        <div class="col-lg-6 text-center">
            <p>{{ ageAxis }}</p>
        </div>
    </div>

    <br><br>



    <div class="row ">
        <div class="col-lg-1"></div>
        <div class="col-lg-6 padding-10px tertiary_title">
            <p>Notes and Assumptions</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-6 padding-10px small">
            <p>The total Household Transfer (loan amount) is ${{ totalLoanAmount |intcomma }}</p>
            <p>This includes an establishment fee of ${{ establishmentFee |intcomma }}</p>
            {% if topUpDrawdownAmount %}<p>Projections are based off the drawdown plan (which is subject to annual approval)</p>{% endif %}
            {% if topUpBuffer %}<p>One 'rainy day' drawdown included</p>{% endif %}
            <br>
            <p>The equity in your home might reach $0 when you are
                {% if resultsNegAge > 100 %}
                    over 100 years old
                {% else %}
                    {{ resultsNegAge }} years old{% endif %}</p>

            <br>
            <p>This is an estimate, not a guarantee. You may end up with more or less equity in your home </p>
            <br>
            <p>These projections assume:</p>
            <p>- House value: as estimated</p>
            <p>- An annual increase in home value of {{ housePriceInflation }}% pa</p>
            <p>- Superannuation growth rate of {{ investmentRate }}% pa </p>
            <p>- Inflation rate of {{ inflationRate }}% pa</p>
            <p>- Loan interest rate of {{ totalInterestRate }}% pa </p>
            <br>


        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">

            <div>
                <a href="{% url 'client2:results4' %}">
                    <div
                            class="btn btn-hhcBlue">
                        &nbsp;&nbsp;Next&nbsp;&nbsp;
                    </div>
                </a><br><br><br>
            </div>
        </div>

    </div>

{% endblock %}


{% block javascript %}
{% endblock %}
