{% load static %}

<nav class="navbar fixed-bottom">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 fixed-bottom_heading">
                    <a href="{{ previousUrl }}"><span class="btn btn-hhcBlue">Previous</span></a><br>
                    <a href="{% url 'client:introduction1' %}" class="menu_title">Introduction</a></div>

                <div class="col text-center"><a href="{% url 'client:topUp1' %}" class="menu_title">
                    <div><img src="{% static 'img/icons/topup_icon.png' %}" width="75px"></div>
                    <span>Top-Up</span></a></div>
                <div class="col fixed-bottom_heading"><a href="{% url 'client:refi' %}" class="menu_title">
                    <div><img src="{% static 'img/icons/refi_icon.png' %}" width="75px"></div>
                    <span>Refinance</span></a></div>
                <div class="col fixed-bottom_heading"><a href="{% url 'client:live1' %}" class="menu_title">
                    <div><img src="{% static 'img/icons/live_icon.png' %}" width="75px"></div>
                    <span>Live</span></a></div>
                <div class="col fixed-bottom_heading"><a href="{% url 'client:give' %}" class="menu_title">
                    <div><img src="{% static 'img/icons/give_icon.png' %}" width="75px"></div>
                    <span>Give</span></a></div>
                <div class="col fixed-bottom_heading"><a href="{% url 'client:care' %}" class="menu_title">
                    <div><img src="{% static 'img/icons/care_icon.png' %}" width="75px"></div>
                    <span>Care</span></a></div>


                {% if nextIsButton %}
                    <div class="col-lg-2 fixed-bottom_heading">
                        <a><button type="submit" value='Submit' form="clientForm" class="btn btn-hhcBlue">&nbsp;&nbsp;Next&nbsp;&nbsp;</button></a>
                        <br>
                        <a href="{% url 'client:results1' %}" class="menu_title">Results</a>
                    </div>
                {% else %}
                    <div class="col-lg-2 fixed-bottom_heading">
                        <a href="{{ nextUrl }}"> <span class="btn btn-hhcBlue">&nbsp;&nbsp;Next&nbsp;&nbsp;</span></a><br>
                        <a href="{% url 'client:results1' %}" class="menu_title">Results</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>