{% load static %}

<nav class="navbar navbar-dark navbar-expand-lg navbar-fixed-top pb-3">
    <div class="container">
        <div class="navbar-header">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

                <span class="sr-only">Toggle navigation</span>

            </button>

        </div>

        <div class="collapse navbar-collapse" id="navbar">

            <ul class="nav navbar-nav ml-auto">

                <li><a href=""><i class="fas fa-user"></i>  {{ surname_1 }}&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href=""><i class="fas fa-user-circle"></i> &nbsp{{ request.user.username }}&nbsp&nbsp;&nbsp;</a></li>
                <li><a href='{% url "fact_find:generatePdf" uid=caseUID %}'><i class="fas fa-sign-out-alt"></i>  Exit </a></li>
            </ul>

        </div><!--/.navbar-collapse -->
    </div>
</nav>

