{% extends 'client_1_0/email/email_template.html' %}
{% load humanize %}
{% load static %}


{% block email_content %}

{% if obj.surname_1|length > 0 %}{{ obj.firstname_1 }} {% endif %} {% if obj.surname_2|length > 0 %} and {{ obj.firstname_2 }} {% endif %}
<br><br>
It was my pleasure to meet with you today to discuss how a Household Transfer might be used to help meet your objectives.
<br><br>
Attached below is your Summary Report from our meeting.
<br><br>
Please don't hesitate to contact me should you have any questions or would like to proceed to an application.<br>
<br><br>
Kind regards
<br><br>
{{ obj.user.first_name }}&nbsp;{{ obj.user.last_name }}

{% endblock %}


