{% extends 'site/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load site_tags %}


{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 title">{{ title }}</div>
            </div>
        </div>
    </div>
{% endblock %}


{% block message_display %}

    <div class="container">

        {% if messages %}
            <div id='messages' class="row justify-content-md-center">
                <div class="col-6 text-center">
                    <br>
                    {% for message in messages %}
                        <p{% if message.tags == 'error' %}
                            class="alert alert-warning"{% endif %}
                                {% if message.tags == 'info' %} class="alert alert-info"{% endif %}

                                {% if message.tags == 'success' %}
                            class="alert alert-success"{% endif %}>
                            {{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">

        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">

        <br><br>
        <div class="row justify-content-center">
            <div class="col-10">

                <div class="row justify-content-center">
                    <div class="col-12">

                        <form method='GET' action=''>

                            <div class="row form-group justify-content-center">

                                <label class="d-none d-sm-table-cell" for="search" class="col-form-label"><i
                                        class="fas fa-search fa-lg"></i></label>

                                <div class="col-lg-5 pb-3">
                                    <input class='form-control' type='text' name='search' placeholder='Search leads'
                                           value='{{ request.GET.search }}'/>
                                </div>


                                <div class="col-lg-5 text-center">
                                    {% if request.GET.filter == "Unactioned" %}
                                        <a href="?filter=None&search={{ search }}&order={{ order }}">
                                            <div class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                                 title="Action List"><i class="fas fa-running"></i></div>
                                        </a>
                                    {% else %}
                                        <a href="?filter=Unactioned&search={{ search }}&order={{ order }}">
                                            <div class="btn btn-outline-secondary" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Action List"><i class="fas fa-running"></i></div>
                                        </a>

                                    {% endif %}
                                    {% if request.GET.filter == "Booked" %}
                                        <a href="?filter=None&search={{ search }}&order={{ order }}">
                                            <div class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                                 title="Meeting Booked"><i class="fas fa-calendar-times"></i></div>
                                        </a>
                                    {% else %}
                                        <a href="?filter=Booked&search={{ search }}&order={{ order }}">
                                            <div class="btn btn-outline-secondary" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Meeting Booked"><i class="fas fa-calendar-times"></i></div>
                                        </a>

                                    {% endif %}
                                    {% if request.GET.filter == "Meet" %}
                                        <a href="?filter=None&search={{ search }}&order={{ order }}">
                                            <div class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                                 title="Meeting Held"><i class="fas fa-handshake fa-fw"></i></div>
                                        </a>
                                    {% else %}
                                        <a href="?filter=Meet&search={{ search }}&order={{ order }}">
                                            <div class="btn btn-outline-secondary" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Meeting Held"><i class="fas fa-handshake fa-fw"></i></div>
                                        </a>

                                    {% endif %}



                                    {% if request.GET.filter == "Apply" %}
                                        <a href="?filter=None&search={{ search }}&order={{ order }}">
                                            <div class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                                 title="Application"><i class="fas fa-file-signature fa-fw"></i></div>
                                        </a>
                                    {% else %}
                                        <a href="?filter=Apply&search={{ search }}&order={{ order }}">
                                            <div class="btn btn-outline-secondary" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Application"><i class="fas fa-file-signature fa-fw"></i></div>
                                        </a>

                                    {% endif %}

                                    {% if request.GET.filter == "Documentation" %}
                                        <a href="?filter=None&search={{ search }}&order={{ order }}">
                                            <div class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                                 title="Documentation"><i class="fas fa-cogs fa-fw"></i></div>
                                        </a>
                                    {% else %}
                                        <a href="?filter=Documentation&search={{ search }}&order={{ order }}">
                                            <div class="btn btn-outline-secondary" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Documentation"><i class="fas fa-cogs fa-fw"></i></div>
                                        </a>

                                    {% endif %}


                                    {% if request.GET.filter == "Closed" %}
                                        <a href="?filter=None&search={{ search }}&order={{ order }}">
                                            <div class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                                 title="Closed"><i
                                                    class="fas fa-folder fa-fw"></i></div>
                                        </a>
                                    {% else %}
                                        <a href="?filter=Closed&search={{ search }}&order={{ order }}">
                                            <div class="btn btn-outline-secondary" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Closed"><i
                                                    class="fas fa-folder fa-fw "></i></div>
                                        </a>

                                    {% endif %}

                                    {% if request.GET.filter == "Me" %}
                                        <a href="?filter=None&search={{ search }}&order={{ order }}">
                                            <div class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                                 title="My Leads">
                                                <i class="fas fa-user fa-fw" style='color:white'></i></div>
                                        </a>
                                    {% else %}
                                        <a href="?filter=Me&search={{ search }}&order={{ order }}">
                                            <div class="btn btn-outline-secondary" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="My Leads"><i class="fas fa-user-friends fa-fw"></i>
                                            </div>

                                        </a>
                                    {% endif %}

                                </div>

                            </div>

                        </form>


                    </div>
                </div>

                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th scope="col" class="d-none d-sm-table-cell"><a href="?order=-caseStage&search={{ search }}">
                            {% if order == '-caseStage' %}<i class="fas fa-sort-down"></i>{% endif %}&nbsp;Lead
                            Status</a></th>
                        <th scope="col"><a href="?order=caseDescription&search={{ search }}">
                            {% if order == 'caseDescription' %}<i class="fas fa-sort-down"></i>{% endif %}&nbsp;Description</a>
                        </th>
                        <th scope="col"><a href="?order=caseDescription&search={{ search }}">
                            {% if order == 'caseDescription' %}<i class="fas fa-sort-down"></i>{% endif %}&nbsp;Actioned</a>
                        </th>
                        <th scope="col"><a href="?order=owner&search={{ search }}">
                            {% if order == 'owner' %}<i class="fas fa-sort-down"></i>{% endif %}&nbsp;Owner</a></th>
                        <th scope="col"><a href="?order=salesChannel&search={{ search }}">
                            {% if order == 'salesChannel' %}<i class="fas fa-sort-down"></i>{% endif %}&nbsp;Channel</a></th>
                        <th scope="col" class="d-none d-sm-table-cell"><a href="?order=-updated&search={{ search }}">
                            {% if order == '-updated' %}<i class="fas fa-sort-down"></i>{% endif %}&nbsp;Last
                            Updated</a></th>
                        <th scope="col" class="d-none d-sm-table-cell"></th>
                        <th scope="col" class=" d-none d-sm-table-cell"></th>
                        <th scope="col" class=" d-none d-sm-table-cell"></th>
                        <th scope="col" class=" d-none d-sm-table-cell"></th>
                        <th scope="col" class=" d-none d-sm-table-cell"></th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in object_list %}
                        <tr>
                            <td class="d-none d-sm-table-cell">
                                <a href="{{ obj.get_absolute_url }}">
                                    {{ obj.enumCaseStage }}&nbsp; </a></td>
                            <td><a href="{{ obj.get_absolute_url }}">{{ obj.caseDescription|truncatechars:30 }}</a></td>
                            <td class="d-none d-sm-table-cell">
                                <a href="{{ obj.get_absolute_url }}">
                                    <div style="text-align:center;">
                                        {% if obj.lead_needs_action %}
                                            <button class="btn btn-warning btn-sm" data-toggle="tooltip"
                                                    data-placement="top"
                                                    title="Assign lead to you"><i class="fas fa-exclamation-circle"></i> New Enquiry
                                            </button>
                                        {% else %}
                                            <i class="far fa-check-circle fa-lg btn-outline-success"></i>
                                            
                                        {% endif %}
                                    </div>
                                </a>
                            </td>
                            <td><a href="{{ obj.get_absolute_url }}">
                                {% if obj.owner %}
                                    {{ obj.owner }}
                                {% elif obj.referralCompany %}
                                    <button class="btn btn-info btn-sm" data-toggle="tooltip"
                                            data-placement="top"
                                            title="Assign lead to you">{{ obj.referralCompany.companyName | truncatechars:30 }}
                                    </button>
                                {% else %}
                                    <button class="btn btn-warning btn-sm" data-toggle="tooltip"
                                            data-placement="top"
                                            title="Assign lead to you">Action
                                    </button>

                                {% endif %}


                            </a></td>
                            <td><a href="{{ obj.get_absolute_url }}">{{ obj.enumChannelType }}</a></td>
                            <td class="d-none d-sm-table-cell"><a
                                    href="{{ obj.get_absolute_url }}">{{ obj.updated|timesince|upto }} ago</a></td>
                            <td class="d-none d-sm-table-cell" data-toggle="tooltip" data-placement="top" title="Zoom">
                                {% if obj.isZoomMeeting %}
                                    <i class="fas fa-video" style="color:deepskyblue"></i>{% endif %}</td>

                            <td class="d-none d-sm-table-cell" data-toggle="tooltip" data-placement="top"
                                title="Auto Val">
                                {% if obj.valuationDocument %}<i class="far fa-file-image"></i>{% endif %}</td>
                            <td class="d-none d-sm-table-cell" data-toggle="tooltip" data-placement="top"
                                title="Meeting Held">
                                {% if obj.meetingDate %}<i class="fas fa-users fa-fw"></i>{% endif %}</td>
                            <td class="d-none d-sm-table-cell" data-toggle="tooltip" data-placement="top"
                                title="Meeting Summary">
                                {% if obj.responsibleDocument %}<i class="fas fa-user-edit fa-fw"></i>{% endif %}
                            </td>
                            <td class="d-none d-sm-table-cell" data-toggle="tooltip" data-placement="top"
                                title="Physically Mailed">
                                {% if obj.summarySentRef %}<i class="fas fa-envelope-open-text fa-fw"></i>{% endif %}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if is_paginated %}
                    <hr>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center pagination-sm">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?order={{ order }}&search={{ search }}&page={{ page_obj.previous_page_number }}&filter={{ filter }}"
                                       tabindex="-1">Previous</a>
                                </li>

                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link"
                                       href="#order={{ order }}&search={{ search }}&filter={{ filter }}"
                                       tabindex="-1">Previous</a>
                                </li>
                            {% endif %}
                            {% for object in page_obj.paginator.page_range %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ forloop.counter }}&order={{ order }}&search={{ search }}&filter={{ filter }}">{{ forloop.counter }}</a>
                                </li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?search={{ search }}&order={{ order }}&page={{ page_obj.next_page_number }}&filter={{ filter }}">Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link"
                                       href="#&order={{ order }}&filter={{ filter }}">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}


            </div>


        </div>

    </div>



{% endblock %}


{% block javascript %}

{% endblock %}
