{% extends 'site/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load case_tags %}

{% block message_display %}

    <div class="container">
        {% if messages %}
            <div class="row justify-content-md-center pt-3">
                <div class="col-6 text-center">
                    {% for message in messages %}
                        <p{% if message.tags == 'error' %} class="alert alert-warning"{% endif %}
                                {% if message.tags == 'success' %} class="alert alert-success"{% endif %}>
                            {{ message }}</p>
                    {% endfor %}
                    <br>
                </div>

            </div>

        {% endif %}
    </div>

{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 title">{{ title }}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">

    <div class="row">

        <div class="col-lg-8">

            <br>

            {% if form.errors %}

                <i class="far fa-times-circle fa-lg btn-outline-danger">&nbsp;Form errors - refer below</i>
            {% else %}
                {% if status.status == 'Ok' %}
                    <i class="far fa-check-circle fa-lg btn-outline-success">&nbsp;Eligible Case</i>
                    <br><br>
                {% elif status.status == 'Error' %}
                    <i class="far fa-times-circle fa-lg btn-outline-danger">&nbsp;Ineligible
                        - {{ status.details }}</i>
                    <br><br>
                {% endif %}
            {% endif %}

        </div>

    </div>

    <div class="row">

    <div class="col-lg-8">

        {% crispy form %}


    </div>

    <div class="col-lg-4">


        <div class="row">
            <div class="col-lg-12">

                <br>
                <div class="padding-15px">

                    {% if isUpdate %}
                        <div class="btn-group">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Case Actions
                        </button>
                        <div class="dropdown-menu">
                            {% if obj.caseType == caseTypesEnum.OPPORTUNITY.value %}

                                <a class="dropdown-item" href="{% url 'client:meeting' uid=obj.caseUID %}">
                                    &nbsp;<i class="fas fa-users fa-fw"></i></i>&nbsp;&nbsp;Meeting
                                </a>

                            {% endif %}

                            {% if obj.caseType == caseTypesEnum.LEAD.value %}

                                <a class="dropdown-item" data-toggle="modal" href="#deleteModal">
                                    &nbsp;<i class="far fa-trash-alt fa-fw"></i>&nbsp;&nbsp;Delete
                                </a>
                                <div class="dropdown-divider"></div>


                                {% if status.status == 'Ok' %}

                                    <a class="dropdown-item"
                                       href="{% url 'case:caseEmailEligibility' uid=obj.caseUID %}">
                                        &nbsp;<i class="far fa-envelope fa-fw"></i>&nbsp;&nbsp;Email Eligibility
                                    </a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" href="">
                                        &nbsp;<i class="fas fa-chart-line fa-fw"></i>&nbsp;&nbsp;Loan Analysis
                                    </a>


                                {% endif %}

                            {% endif %}
                        </div>
                    {% endif %}

                    </div>
                </div>


                {% if status.status == 'Ok' %}

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="jumbotron">

                                <p class="larger">Max LVR is: {{ status.restrictions.maxLVR|intcomma }}%</p>
                                <br>
                                <p class="small"><i class="fas fa-search"></i>&nbsp;Restrictions </p>
                                <p class="small">Max Loan is: ${{ status.restrictions.maxLoan|intcomma }} (incl
                                    establishment fee)</p>
                                <p class="small">{% if status.restrictions.maxLoan > status.restrictions.maxTopUp %}
                                    Max for
                                    Super Top Up is: ${{ status.restrictions.maxTopUp|intcomma }}</p>{% endif %}
                                <p class="small">{% if status.restrictions.maxLoan > status.restrictions.maxCare %}
                                    Max for
                                    Age Care is: ${{ status.restrictions.maxCare|intcomma }}</p>{% endif %}
                                <p class="small">{% if status.restrictions.maxLoan > status.restrictions.maxReno %}
                                    Max for
                                    Renovations is: ${{ status.restrictions.maxReno|intcomma }}</p>{% endif %}
                                <p class="small">Max for Refinance is:
                                    ${{ status.restrictions.maxRefi|intcomma }}</p>
                                <p class="small">Max for Giving is: ${{ status.restrictions.maxGive|intcomma }}</p>
                                <p class="small">Max for Transport and Travel is:
                                    ${{ status.restrictions.maxTravel|intcomma }}</p>

                            </div>
                        </div>
                    </div>
                    <div class="jumbotron">
                        <p class="small"><i class='fa fa-camera fa-fw'></i>&nbsp;&nbsp;Images</p>
                        <div class="row pt-1">
                            <div class="col-lg-6">
                                {% if obj.propertyImage %}
                                    <img class="img-fluid" src='{{ obj.propertyImage.url }}'>
                                {% endif %}&nbsp;&nbsp;
                            </div>
                            <div class="col-lg-6">
                                {% if obj.superFund %}
                                    <img class="img-fluid" src='{{ obj.superFund.fundImage.url }}'>
                                {% endif %}
                            </div>
                        </div>
                    </div>


                    <div class="jumbotron">
                        <p class="small pb-1"><i class="far fa-file-pdf"></i>&nbsp;&nbsp;Documents</p>
                        {% if obj.summaryDocument %}
                            <p><a href="/media/customerReports/{{ obj.summaryDocument.file|filename }}">Loan Summary</a>
                            </p>{% endif %}
                        {% if obj.privacyDocument %}
                            <p><a href="/media/customerReports/{{ obj.privacyDocument.file|filename }}">Privacy
                                Consent</a></p>{% endif %}
                        {% if obj.electronicDocument %}
                            <p><a href="/media/customerReports/{{ obj.electronicDocument.file|filename }}">Electronic
                                Consent</a></p>{% endif %}
                        {% if obj.responsibleDocument %}
                            <p><a href="/media/customerReports/{{ obj.responsibleDocument.file|filename }}">Responsible
                                Lending Checklist</a></p>{% endif %}
                        {% if obj.dataDocument %}
                            <p><a href="/media/customerReports/{{ obj.dataDocument.file|filename }}">Customer
                                Data</a></p>{% endif %}
                        {% if obj.enquiryDocument %}
                            <p><a href="/media/customerReports/{{ obj.enquiryDocument.file|filename }}">Enquiry
                                Document </a></p>
                        {% endif %}

                    </div>


                {% endif %}
            </div>


        </div>

    </div>
    {% if isUpdate %}
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
             aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete lead?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you want to delete the lead (as opposed closing it)?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="{% url 'case:caseDelete' uid=obj.caseUID %}">
                        <div class="btn btn-primary">Yes, delete this</div>
                    </a>

                </div>
            </div>
        </div>
    {% endif %}
</div>


{% endblock %}


{% block javascript %}

{% endblock %}