{% extends 'site/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load site_tags %}
{% load comments %}


{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 title">{{ title }}</div>
            </div>
        </div>
    </div>
{% endblock %}


{% block message_display %}

    <div class="container">
        {% if messages %}
            <div id='messages' class="row justify-content-md-center pt-3">
                <div class="col-6 text-center">
                    {% for message in messages %}
                        <div class="pb-1">
                            <p{% if message.tags == 'error' %} class="alert alert-danger"{% endif %}
                                    {% if message.tags == 'warning' %} class="alert alert-warning"{% endif %}
                                    {% if message.tags == 'info' %} class="alert alert-info"{% endif %}
                                    {% if message.tags == 'success' %} class="alert alert-success"{% endif %}>
                                {{ message }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>

        {% endif %}
    </div>

{% endblock %}


{% block content %}

    <div class="container">

        <br>

        <div class="row pt-1">
    
            <div class="col-lg-8 text-left">
                {% if obj.sfOpportunityID %}
                    <p class="larger">
                        <a style="color:deepskyblue" href="{{ obj.get_SF_url }}" target="_blank">
                            <i class="fas fa-external-link-alt"></i>&nbsp;
                            Salesforce {{ obj.sfLoanID }}
                        </a>
                    </p>
                {% elif obj.sfLeadID %}
                    <p class="larger">
                        <a style="color:deepskyblue" href="{{ obj.get_SF_url }}" target="_blank">
                            <i class="fas fa-external-link-alt"></i>&nbsp;
                            Salesforce Lead
                        </a>
                    </p>
                {% else %}
                    <div class="row">
                        <div class="col-lg-6 text-left">
                            <div class="alert alert-primary" role="alert">
                                <p><i class="fas fa-info-circle"></i>&nbsp;&nbsp;
                                    No Salesforce Enquiry
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            {% if isUpdate %}
                <div class="btn-group pb-3">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" id="btnCaseActions">
                        Lead Actions
                    </button>
                    <div class="dropdown-menu">

                        <!-- All -->
                        <a class="dropdown-item"
                           href="{% url 'case:caseOwn' uid=obj.caseUID %}">
                            &nbsp;<i class="fas fa-crown"></i>&nbsp;&nbsp;Take Ownership
                        </a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item"
                           href="{% url 'case:caseAssign' uid=obj.caseUID %}">
                            &nbsp;<i class="fas fa-fw fa-hand-point-right"></i>&nbsp;&nbsp;Assign Ownership&nbsp;&nbsp;
                        </a>


                        <!-- DISCOVERY -->
                        {% if obj.caseStage in  preMeetingStages %}

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item"
                               href="{% url 'case:caseClose' uid=obj.caseUID %}">
                                &nbsp;<i class="far fa-fw fa-window-close"></i>&nbsp;&nbsp;Close Lead&nbsp;&nbsp;
                            </a>

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" data-toggle="modal" href="#deleteModal">
                                &nbsp;<i class="far fa-trash-alt fa-fw"></i>&nbsp;&nbsp;Delete
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ calendlyDiscoveryUrl }}" target="_blank">
                                &nbsp;<i class="fas fa-headset fa-fw"></i>&nbsp;&nbsp;Book Discovery
                            </a>

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="{{ calendlyUrl }}" target="_blank">
                                &nbsp;<i class="fas fa-video fa-fw"></i>&nbsp;&nbsp;Book Zoom
                            </a>

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="{{ calendlyMainUrl }}" target="_blank">
                                &nbsp;<i class="far fa-calendar-alt fa-fw"></i>&nbsp;&nbsp;Book Other
                            </a>

                            {% if status.data.postcode == 'Refer' %}
                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item"
                                   href="{% url 'case:caseReview' uid=obj.caseUID %}">
                                    &nbsp;<i class="fas fa-fw fa-map-marked-alt"></i>&nbsp;&nbsp;Refer
                                    Postcode Review &nbsp;
                                </a>
                            {% endif %}

                            {% if obj.appType == appTypesEnum.VARIATION.value %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   href="{% url 'case:caseVariation' uid=obj.caseUID %}">
                                    &nbsp;<i class="fas fa-edit fa-fw"></i>&nbsp;&nbsp;Variation
                                </a>
                            {% else %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'client2:meeting' uid=obj.caseUID %}">
                                    &nbsp;<i class="fas fa-users fa-fw"></i>&nbsp;&nbsp;Meeting
                                </a>
                            {% endif %}

                        {% endif %}


                        <!-- MEETING HELD -->
                        {% if obj.caseStage == caseStagesEnum.MEETING_HELD.value %}

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item"
                               href="{% url 'case:caseClose' uid=obj.caseUID %}">
                                &nbsp;<i class="far fa-fw fa-window-close"></i>&nbsp;&nbsp;Close Lead&nbsp;&nbsp;
                            </a>

                            {% if obj.summaryDocument and obj.email %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item pb-3" data-toggle="modal" href="#clientModal2">
                                    &nbsp;<i class="far fa-envelope fa-fw"></i>&nbsp;&nbsp;Email Loan
                                    Summary
                                    &nbsp;</a>
                            {% endif %}

                            {% if obj.summaryDocument and obj.email %}
                                <a class="dropdown-item pb-3" data-toggle="modal" href="#clientModal3">
                                    &nbsp;<i class="far fa-envelope fa-fw"></i>&nbsp;&nbsp;Email Updated
                                    Summary
                                    &nbsp;</a>
                            {% endif %}

                            {% if obj.summaryDocument %}
                                <a class="dropdown-item" data-toggle="modal" href="#clientModal1">
                                    &nbsp;<i class="far fa-mailbox fa-fw"></i>&nbsp;&nbsp;Mail Loan
                                    Summary&nbsp;</a>
                            {% endif %}

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item"
                               href="{% url 'fact_find:factfind' uid=obj.caseUID %}">
                                &nbsp;<i class="fas fa-user-edit  fa-fw"></i>&nbsp;&nbsp;Lead Summary&nbsp;&nbsp;
                            </a>

                        {% endif %}

                        <!-- Application -->
                        {% if obj.caseStage == caseStagesEnum.APPLICATION.value %}
                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item"
                               href="{% url 'fact_find:factfind' uid=obj.caseUID %}">
                                &nbsp;<i class="fas fa-user-edit  fa-fw"></i>&nbsp;&nbsp;Lead Summary&nbsp;&nbsp;
                            </a>


                        {% endif %}

                        <!-- DOCUMENTATION -->
                        {% if obj.caseStage == caseStagesEnum.DOCUMENTATION.value %}

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="{% url 'case:cloudBridge' uid=obj.caseUID %}">
                                &nbsp;<i class="fas fa-code fa-fw"></i>&nbsp;&nbsp;Send to AMAL&nbsp;&nbsp;
                            </a>
                        {% endif %}


                        <!-- CLOSED -->
                        {% if obj.caseStage == caseStagesEnum.CLOSED.value %}

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="{% url 'case:caseClose' uid=obj.caseUID %}">
                                &nbsp;<i class="far fa-folder"></i>&nbsp;&nbsp;Show Close Information&nbsp;&nbsp;
                            </a>

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item"
                               href="{% url 'case:caseUnclose' uid=obj.caseUID %}">
                                &nbsp;<i class="far fa-fw fa-check-square"></i>&nbsp;&nbsp;Reopen Lead&nbsp;&nbsp;
                            </a>

                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>


        <div class="row pb-5 pt-1">

            <div class="col-lg-12 text-left">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" style="padding: 0.5rem 1rem 0.5rem 1rem;" data-toggle="tab" href="#details-tab" role="tab" aria-controls="details" aria-selected="true">Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="padding: 0.5rem 1rem 0.5rem 1rem;" data-toggle="tab" href="#notes-tab" role="tab" aria-controls="notes" aria-selected="false">Notes</a>
                    </li>
                </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="details-tab" role="tabpanel" aria-labelledby="details-tab">

                    <div class="row">

                        <div class="col-lg-8 text-left">
                            {% crispy form %}
                        </div>

                        <div class="col-lg-4 pt-4">



                                <div class="row">
                                    <div class="col-lg-12">

                                        <div class="jumbotron">

                                            {% if obj.appType == appTypesEnum.VARIATION.value %}
                                                <p class="badge badge-danger">
                                                    Variation</p>
                                            {% endif %}

                                            {% if obj.productType == productTypesEnum.INCOME.value %}
                                                <p class="badge badge-info">
                                                    Income</p>

                                            {% elif obj.productType == productTypesEnum.CONTINGENCY_20K.value %}
                                                <p class="badge badge-info">
                                                    Contingency20K</p>

                                            {% elif obj.productType == productTypesEnum.COMBINATION.value %}
                                                <p class="badge badge-info">
                                                    Combination</p>
                                            {% else %}
                                                <p class="badge badge-dark">
                                                    Lump Sum</p>
                                            {% endif %}

                                            {% if isLowLVR %}
                                                <p class="badge badge-warning">
                                                    Low LVR</p>
                                            {% endif %}

                                            <p class="small pt-2 pb-2">Create Date: {{ obj.timestamp | date:'d M y' }}</p>


                                            <p class="small pt-4 pb-2"><i class="fas fa-users-cog fa-fw"></i>&nbsp;
                                                Validation</p>


                                            {% if status.status != 'Ok' %}
                                                <p class="text-danger"><i
                                                        class="far fa-times-circle fa-lg btn-outline-danger"></i>&nbsp;Ineligible
                                                <p>
                                                <p class="pl-4 text-danger small"> {{ status.responseText }}</p>
                                                {% if status.responseText != "Invalid Postcode" %}
                                                    <p class="pl-4 small
                                                            {% if status.data.postcode == "Valid" %}text-success
                                                            {% elif status.data.postcode == "Invalid" %}text-danger
                                                            {% elif status.data.postcode == "Refer" %}text-warning
                                                            {% endif %}">{{ status.data.postcode }} postcode</p>
                                                {% endif %}

                                            {% elif status.errors %}
                                                <p class="text-danger"><i
                                                        class="far fa-times-circle fa-lg btn-outline-danger"></i>&nbsp;Validation
                                                    error - please re-open meeting
                                                <p>
                                            {% else %}
                                                <p class="text-success"><i
                                                        class="far fa-check-circle fa-lg btn-outline-success"></i>&nbsp;Eligible
                                                    Loan
                                                </p>

                                            {% endif %}

                                            {% if obj.isReferPostcode %}
                                                {% if obj.referPostcodeStatus == True %}
                                                    <p class="badge badge-success">Refer postcode approved</p>
                                                {% elif obj.referPostcodeStatus == False %}
                                                    <p class="badge badge-danger">Refer postcode declined</p>
                                                {% else %}
                                                    <p class="badge badge-warning">Postcode review requested</p>
                                                {% endif %}
                                                <br>
                                            {% elif status.data.postcode == 'Refer' %}
                                                <p class="text-warning"><i class="fas fa-fw fa-exclamation-triangle"></i>&nbsp;Refer
                                                    Postcode - get full address
                                                </p>
                                            {% endif %}

                                            {% if status.status == 'Ok' %}
                                                <p class="small pt-4"><i class="fas fa-search"></i>&nbsp;Restrictions </p>
                                                <p class="small">Max LVR is: {{ status.data.maxLVR|intcomma }}%</p>

                                                <p class="small">Max Loan is: ${{ status.data.maxLoan|intcomma }} (incl establishment fee)</p>
                                                {% if status.data.maxLoan > status.data.maxTopUp %}
                                                    <p class="small">
                                                        Max for Super Top Up is: ${{ status.data.maxTopUp|intcomma }}
                                                    </p>
                                                {% endif %}
                                                {% if status.data.maxLoan > status.data.maxCare %}
                                                    <p class="small">
                                                        Max for Age Care is: ${{ status.data.maxCare|intcomma }}
                                                    </p>
                                                {% endif %}
                                                <p class="small">Max for Refinance is: ${{ status.data.maxRefi|intcomma }}</p>
                                                {% if status.data.maxLoan > status.data.maxReno %}
                                                    <p class="small">
                                                        Max for Renovations is: ${{ status.data.maxReno|intcomma }}
                                                    </p>
                                                {% endif %}
                                                <p class="small">Max for Giving is: ${{ status.data.maxGive|intcomma }}</p>
                                                <p class="small">Max for Transport and Travel is: ${{ status.data.maxTravel|intcomma }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="jumbotron">
                                    <p class="small"><i class='fa fa-camera fa-fw'></i>&nbsp;&nbsp;Images</p>
                                    <div class="row pt-1">
                                        <div class="col-lg-6">
                                            {% if obj.propertyImage %}
                                                <img class="img-fluid" src='{{ obj.propertyImage.url }}'>
                                            {% endif %}&nbsp;&nbsp;
                                        </div>
                                        <div class="col-lg-6">
                                            {% if obj.superFund %}
                                                <img class="img-fluid" src='{{ obj.superFund.fundImage.url }}'>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>


                                <div class="jumbotron">
                                    <p class="small pb-1"><i class="far fa-file-pdf"></i>&nbsp;&nbsp;Documents</p>
                                    {% if obj.summaryDocument %}
                                        <p><a href="{{ obj.summaryDocument.url }}">Loan
                                            Summary</a>
                                        </p>{% endif %}
                                    {% if obj.applicationDocument %}
                                        <p><a href="{{ obj.applicationDocument.url }}">Application
                                            Summary</a></p>{% endif %}
                                    {% if obj.responsibleDocument %}
                                        <p><a href="{{ obj.responsibleDocument.url}}">Lead
                                            Summary</a></p>{% endif %}
                                    {% if obj.dataCSV %}
                                        <p><a href="{{ obj.dataCSV.url}}">Document
                                            Data File</a></p>{% endif %}
                                    {% if obj.valuationDocument %}
                                        <p><a href="{{ obj.valuationDocument.url }}">Auto
                                            Val
                                            Document </a></p>
                                    {% endif %}
                                    {% if obj.titleDocument %}
                                        <p><a href="{{ obj.titleDocument.url }}">Title
                                            Search </a></p>
                                    {% endif %}
                                    {% if obj.solicitorInstruction %}
                                        <p><a href="{{ obj.solicitorInstruction.url }}">Solicitors
                                            Instruction </a></p>
                                    {% endif %}
                                    {% if obj.valuerInstruction %}
                                        <p><a href="{{ obj.valuerInstruction.url }}">Valuer
                                            Instruction </a></p>
                                    {% endif %}
                                    {% if obj.lixiFile %}
                                        <p><a href="{{ obj.lixiFile.url }}">Lixi File </a>
                                        </p>
                                    {% endif %}
                                    <br>
                                    {% if obj.appUID %}
                                        <p class="small"><i class="fas fa-file-upload"></i>&nbsp;Documents Uploaded</p>
                                        {% for doc in docList %}
                                            <p><a href="{{ doc.document.url }}">
                                                {{ doc.enumDocumentType }}</a></p>
                                        {% endfor %}
                                    {% endif %}

                                    {% if obj.deleted_on %}
                                        <hr/>
                                        <p class="small"> <b>Deleted On:</b>&nbsp;&nbsp;{{ obj.deleted_on|date }}</p>
                                    {% endif %}

                                </div>
                            <br/>
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="jumbotron">
                                    <p class="pb-3"><i class="fas fa-project-diagram"></i>&nbsp;Attached Enquiries</p>
                                    <hr/>
                                    {% for enq in obj.enquiries.all|active_enquiries %}
                                        <a href="{% url 'enquiry:enquiryDetail' enq.enqUID %}" target="_blank">
                                            <p class="small"> {{ enq.enumReferrerTypeHTML |  safe }}</p>
                                        </a>
                                        <p class="pl-4 small">
                                            Created: {{ enq.timestamp }}
                                        </p>
                                        {% if enq.enumMarketingSource %}
                                            <p class="pl-4 small">
                                                Created: {{ enq.timestamp }}
                                            </p>
                                            {% if enq.enumMarketingSource %}
                                                <p class="pl-4 small">
                                                    Marketing Source: {{ enq.enumMarketingSource }}
                                                </p>
                                            {% endif %}
                                            <br/>
                                        {% endif %}
                                    {% endfor %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="notes-tab" role="tabpanel" aria-labelledby="notes-tab">
                    <iframe class="embed-responsive-item" frameborder="0" src="{% url 'case:caseNotes' uid=obj.caseUID %}" width="100%" height="2000px"></iframe>
                </div>
            </div>
        </div>
    </div>

     <!-- Modal -->
    <div class="modal" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addressModalLabel">Address Lookup</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="addressSearch">
                        <div class="row no-gutters align-items-center">
                            <div class="col-10">
                                <p class="small text-left pb-1">Address</p>
                                <div class="pb-1 pr-1">
                                    <form>
                                        {{ address_form.lookup_address|as_crispy_field }}
                                    </form>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="pt-1">
                                    <button id="lookup" type="button"
                                            class="btn btn-square-choice-hhcLightBlue active">Find
                                    </button>
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12">
                                    <div class="form-group">
                                        <select class="form-control" style="display:none" id="addressSelect">
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    {% if isUpdate %}
        <div class="modal fade" id="clientModal1" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel1"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="clientModalLabel1">Physically mail client?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <p>Warning: you are about to send a Loan Summary by MAIL. Physical mail. Are you sure?</p>

                        <br>
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'case:caseMailLoanSummary' uid=obj.caseUID %}">
                            <div class=" btn btn-primary">Yes, mail the client</div>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="clientModal2" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel2"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="clientModalLabel2">Email client?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>You are about to email the client a Loan Summary document - are you
                            sure
                            ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a href="{% url 'case:caseEmailLoanSummary' uid=obj.caseUID pk=0 %}">
                            <div class=" btn btn-primary">Yes, send document</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="clientModal3" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel3"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="clientModalLabel3">Email client?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>You are about to email the client an updated Loan Summary document - are you
                            sure
                            ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a href="{% url 'case:caseEmailLoanSummary' uid=obj.caseUID pk=1 %}">
                            <div class=" btn btn-primary">Yes, send document</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete case?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to delete the case (as opposed closing it)?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a href="{% url 'case:caseDelete' uid=obj.caseUID %}">
                            <div class="btn btn-primary">Yes, delete this</div>
                        </a>

                    </div>
                </div>
            </div>
        </div>

    {% endif %}


{% endblock %}


{% block javascript %}
    <script>

        $(document).ready(function () {
            $("form").one('click focus change', function (e) {
                console.log("Click");
                $('#submit-id-submit').addClass('btn-warning').removeClass('btn-outline-secondary');
                $('#btnCaseActions').attr('disabled', true)

            })
        });

        // Prevent form submission on enter
        $('form input').keydown(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                $(':focus').blur();
                return false;
            }
        });


                // Address Functions

        function findAddress() {
            var source = $("#id_lookup_address");
            var dropdown = $("#addressSelect");
            if (source.val().length > 5) {
                return $.ajax({
                    url: "{{ ajaxURL }}",
                    type: "post",
                    data: {
                        "lookup_address": source.prop("value"),
                        "csrfmiddlewaretoken": '{{ csrf_token }}'
                    },
                    success: function (data) {
                        addressData = data;
                        clearDropdown();
                        $.each(addressData, function (i) {
                            dropdown.append($("<option />").val(i).text(this.streetAddress));
                            dropdown.attr('size', 10);
                        });

                    },
                });
            } else {
                if (dropdown.val() == -1) {
                    clearDropdown()
                }
            }
        }

        function convert_str (str) { 
            return str ? str.split(' ').map(w => w[0].toUpperCase() + w.substr(1).toLowerCase()).join(' '): ''
        }

        function setAddressData(obj) {
            let address_obj = addressData[obj.val()]
            let number = (address_obj.numberFirstPrefix || "") + address_obj.numberFirst + (address_obj.numberFirstSuffix||"")
            if (number === null || number === undefined || number === "null") {
                number = ''
            }
            $('#id_street').prop("value", address_obj.streetComponent);
            $('#id_suburb').prop("value", convert_str(address_obj.suburb));
            $('#id_state').prop("value", address_obj.stateCode);
            $('#id_postcode').prop("value", address_obj.postCode);

            $('#id_base_specificity').prop("value", address_obj.flatNumber);
            $('#id_street_number').prop("value", number);
            $('#id_street_name').prop("value", convert_str(address_obj.streetName));
            $('#id_street_type').prop("value", convert_str(address_obj.streetType));
            $('#id_gnaf_id').prop("value", address_obj.gnafId);
            $("#addressSelect").attr('size', 1.9);
        }

        function clearDropdown() {
            $("#addressSelect option").remove();
            $("#addressSelect").append('<option value="-1"> -- Please Select -- </option>');

        }

        $(document).ready(function () {
            $("form").one('click focus change', function (e) {
                $('#submit-id-submit').addClass('btn-warning').removeClass('btn-outline-secondary');
                $('#btnEnquiryActions').attr('disabled', true)

                $("#lookup_dialogue").click(function () {
                    $('#addressModal').modal({
                        keyboard: false
                    })
                })
            });

            $('#lookup').click(function () {
                var search = $('#id_lookup_address').val();
                if (search.length > 5) {
                    $("#addressSelect").show();
                    $("#addressButton").show();
                    findAddress();
                    $('html, body').animate({scrollTop: $("#addressSelect").offset().top - 50}, 'slow');
                }

            });

            $('#addressSelect').change(function () {
                if ($(this).val() > -1) {
                    $('#id_address').val("");
                    setAddressData($(this))
                    $('#addressModal').modal('hide')
                }
            });
        });

        // Prevent form submission on enter
        $('form input').keydown(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                $(':focus').blur();
                return false;
            }
        });

    </script>


{% endblock %}