{% extends 'site/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 title">{{ title }}</div>
            </div>
        </div>
    </div>
{% endblock %}


{% block message_display %}

    <div class="container">

        {% if messages %}
            <div class="row justify-content-md-center">
                <div class="col-6 text-center">
                    <br>
                    {% for message in messages %}
                        <p{% if message.tags == 'error' %}
                            class="alert alert-warning"{% endif %}
                                {% if message.tags == 'success' %}
                            class="alert alert-success"{% endif %}>
                            {{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">

        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">

        <br><br>
        <div class="row justify-content-center">
            <div class="col-10">

                <div class="row justify-content-center">
                    <div class="col-12">

                        <form method='GET' action=''>

                            <div class="row form-group justify-content-center">

                                <label for="search" class="col-form-label"><i class="fas fa-search fa-lg"></i></label>

                                <div class="col-5">
                                    <input class='form-control' type='text' name='search' placeholder='Search cases'
                                           value='{{ request.GET.search }}'/>
                                </div>

                                <div class="col-4 text-center">
                                    {% if request.GET.showClosed == "True" %}
                                        <a href="?showClosed=False&search={{ search }}"><div class="btn btn-secondary"> <i class="fas fa-user-times fa-fw"></i></div></a>
                                    {% else %}
                                        <a href="?showClosed=True&search={{ search }}"> <div class="btn btn-outline-secondary"> <i class="fas fa-user-cog fa-fw "></i></div></a>
                                    </a>
                                    {% endif %}
                                    <a href="{% url 'case:caseCreate' %}">
                                        <div class="btn btn-warning"><i class="fas fa-plus fa-fw"></i></div>
                                    </a>
                                </div>

                            </div>

                        </form>

                        <br>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" class="d-none d-sm-block">Case Status</th>
                        <th scope="col">Description</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Adviser</th>
                        <th scope="col" class="d-none d-sm-block">Last Updated</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in object_list %}
                        <tr>
                            <td class="d-none d-sm-block"><a href="{{ obj.get_absolute_url }}">{{ obj.enumCaseType }}</a></td>
                            <td><a href="{{ obj.get_absolute_url }}">{{ obj.caseDescription }}</a></td>
                            <td><a href="{{ obj.get_absolute_url }}">{{ obj.user }}</a></td>
                            <td><a href="{{ obj.get_absolute_url }}">{{ obj.adviser }}</a></td>
                            <td class="d-none d-sm-block"><a href="{{ obj.get_absolute_url }}">{{ obj.updated|timesince }} ago</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if is_paginated %}
                    <hr>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center pagination-sm">
                            {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?search={{ search }}&page={{ page_obj.previous_page_number }}&showClosed={{ showClosed}}"
                                           tabindex="-1">Previous</a>
                                    </li>

                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#&showClosed={{ showClosed}}&search={{ search }}" tabindex="-1">Previous</a>
                                </li>
                            {% endif %}
                            {% for object in page_obj.paginator.page_range %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ forloop.counter }}&search={{ search }}&showClosed={{ showClosed}}">{{ forloop.counter }}</a>
                                </li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?search={{ search }}&page={{ page_obj.next_page_number }}&showClosed={{ showClosed}}">Next</a>
                                    </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#&showClosed={{ showClosed}}">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}


            </div>


        </div>

    </div>


{% endblock %}


{% block javascript %}

{% endblock %}
