{% extends 'site/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load site_tags %}


{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 title">{{ title }}</div>
            </div>
        </div>
    </div>
{% endblock %}


{% block message_display %}

    <div class="container">

        {% if messages %}
            <div id='messages' class="row justify-content-md-center">
                <div class="col-6 text-center">
                    <br>
                    {% for message in messages %}
                        <p{% if message.tags == 'error' %}
                            class="alert alert-warning"{% endif %}
                                {% if message.tags == 'success' %}
                            class="alert alert-success"{% endif %}>
                            {{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">

        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">

        <br><br>
        <div class="row justify-content-center">
            <div class="col-11">

                <div class="row justify-content-center">
                    <div class="col-12">

                        <form method='GET' action=''>

                            <div class="row form-group justify-content-center">

                                <label for="search" class="col-form-label"><i class="fas fa-search fa-lg"></i></label>

                                <div class="col-5">
                                    <input class='form-control' type='text' name='search' placeholder='Search applications'
                                           value='{{ request.GET.search }}'/>
                                </div>

                                <div class="col-4 text-center">
                                    {% if request.GET.filter == "InProgress" %}
                                        <a href="?filter=None&search={{ search }}">
                                            <div class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                                 title="In progress"><i class="fas fa-fw fa-spinner"></i></div>
                                        </a>
                                    {% else %}
                                        <a href="?filter=InProgress&search={{ search }}">
                                            <div class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top"
                                                 title="In progress"><i class="fas fa-fw fa-spinner"></i></div>
                                        </a>

                                    {% endif %}

                                    {% if request.GET.filter == "Submitted" %}
                                        <a href="?filter=None&search={{ search }}">
                                            <div class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                                 title="Submitted"><i class="fas fa-check fa-fw"></i></div>
                                        </a>
                                    {% else %}
                                        <a href="?filter=Submitted&search={{ search }}">
                                            <div class="btn btn-outline-secondary" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Submitted"><i class="fas fa-check fa-fw"></i></div>
                                        </a>

                                    {% endif %}

                                    {% if request.GET.filter == "Contact" %}
                                        <a href="?filter=None&search={{ search }}">
                                            <div class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                                 title="Contact"><i class="fas fa-phone fa-fw"></i></div>
                                        </a>
                                    {% else %}
                                        <a href="?filter=Contact&search={{ search }}">
                                            <div class="btn btn-outline-secondary" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Contact"><i class="fas fa-phone fa-fw"></i></div>
                                        </a>

                                    {% endif %}

                                    {% if request.GET.filter == "Closed" %}
                                        <a href="?filter=None&search={{ search }}">
                                            <div class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                                 title="Closed"><i class="fas fa-folder fa-fw"></i></div>
                                        </a>
                                    {% else %}
                                        <a href="?filter=Closed&search={{ search }}">
                                            <div class="btn btn-outline-secondary" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Closed"><i class="fas fa-folder fa-fw"></i></div>
                                        </a>

                                    {% endif %}
                                </div>


                            </div>

                        </form>

                        <br>
                    </div>
                </div>

                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th class="d-none d-sm-table-cell">Product</th>
                        <th>Email</th>
                        <th class="d-none d-sm-table-cell">Mobile</th>
                        <th class="d-none d-sm-table-cell">Status</th>
                        <th class="d-none d-sm-table-cell">Created</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in object_list %}
                        <tr>
                            <td class="d-none d-sm-table-cell">
                               
                                    <a href="{{ obj.get_absolute_url }}">
                                       {{ obj.firstname_1 }} {{ obj.surname_1 }}
                                    </a>
                                
                            <td class="d-none d-sm-table-cell">
                                <a href="{{ obj.get_absolute_url }}">{{ obj.enumProductType }}</a>
                            </td>

                            <td><a href="{{ obj.get_absolute_url }}">{{ obj.email }}</a></td>
                            <td class="d-none d-sm-table-cell"><a href="{{ obj.get_absolute_url }}">
                                {{ obj.mobile}}</a>
                            </td>
                            <td><a href="{{ obj.get_absolute_url }}">{{ obj.enumAppStatus }}</a></td>
                            <td><a href="{{ obj.get_absolute_url }}">{{ obj.timestamp }}</a></td>
                        
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if is_paginated %}
                    <hr>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center pagination-sm">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ page_obj.previous_page_number }}&search={{ search }}"
                                       tabindex="-1">Previous</a>
                                </li>

                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link"
                                       href="#&search={{ search }}"
                                       tabindex="-1">Previous</a>
                                </li>
                            {% endif %}
                            {% for object in page_obj.paginator.page_range %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ forloop.counter }}&search={{ search }}">{{ forloop.counter }}</a>
                                </li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ page_obj.next_page_number }}&search={{ search }}">Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link"
                                       href="#&search={{ search }}">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}


{% block javascript %}

{% endblock %}
