{% load humanize %}

<div class="sidebar ">

    <br><br><br>
    <div class="col-lg-12">

        {% if form.errors %}
            <div class="col-lg-12">
                <div class="row justify-content-md-center ">

                    <div class=" text-center">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="padding-15px">
                                    <div class="alert alert-warning">
                                        <p class="small">{{ error|escape }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}

                    </div>

                </div>
            </div>
            <br>
        {% endif %}


        <br>
        <p><b>Your Household Transfer</b></p>

        {% if topUpAmount != 0 %}
            <div class="row">
                <div class="col-sm-6">
                    <p class="small"> + Top-up
                        {% if topUpStatus != 'Ok' %}
                            <i class="fas fa-exclamation-circle hhcGoldFont"></i>
                        {% endif %}</p>
                </div>
                <div class="col-sm-6 text-right">
                    <p class="small">$ {{ topUpAmount|intcomma }}</p>
                </div>
            </div>
        {% endif %}

        {% if topUpDrawdownAmount != 0 %}
            <div class="row">
                <div class="col-sm-6">
                    <p class="small"> + Drawdown
                        {% if topUpDrawdownStatus != 'Ok' %}
                            <i class="fas fa-exclamation-circle hhcGoldFont"></i>
                        {% endif %}</p>
                </div>
                <div class="col-sm-6 text-right">
                    <p class="small">$ {{ topUpDrawdownAmount|intcomma }}</p>
                </div>
            </div>
        {% endif %}

        {% if refinanceAmount != 0 %}
            <div class="row">
                <div class="col-sm-6">
                    <p class="small"> + Refinance

                        {% if refinanceStatus != 'Ok' %}
                            <i class="fas fa-exclamation-circle hhcGoldFont"></i>
                        {% endif %}</p>
                </div>
                <div class="col-sm-6 text-right">
                    <p class="small">$ {{ refinanceAmount|intcomma }}</p>
                </div>
            </div>
        {% endif %}


        {% if renovateAmount != 0 %}
            <div class="row">
                <div class="col-sm-6">
                    <p class="small"> + Renovate
                        {% if renovateStatus != 'Ok' %}
                            <i class="fas fa-exclamation-circle hhcGoldFont"></i>
                        {% endif %}</p>
                </div>
                <div class="col-sm-6 text-right">
                    <p class="small">$ {{ renovateAmount|intcomma }}</p>
                </div>
            </div>
        {% endif %}

        {% if travelAmount != 0 %}
            <div class="row">
                <div class="col-sm-6">
                    <p class="small"> + Transport
                        {% if travelStatus != 'Ok' %}
                            <i class="fas fa-exclamation-circle hhcGoldFont"></i>
                        {% endif %}</p>
                </div>
                <div class="col-sm-6 text-right">
                    <p class="small">$ {{ travelAmount|intcomma }}</p>
                </div>
            </div>
        {% endif %}

         {% if giveAmount != 0 %}
            <div class="row">
                <div class="col-sm-6">
                    <p class="small"> + Give
                        {% if giveStatus != 'Ok' %}
                            <i class="fas fa-exclamation-circle hhcGoldFont"></i>
                        {% endif %}</p>
                </div>
                <div class="col-sm-6 text-right">
                    <p class="small">$ {{ giveAmount|intcomma }}</p>
                </div>
            </div>
        {% endif %}

        {% if careAmount != 0 %}
            <div class="row">
                <div class="col-sm-6">
                    <p class="small"> + Care
                        {% if careStatus != 'Ok' %}
                            <i class="fas fa-exclamation-circle hhcGoldFont"></i>
                        {% endif %}</p>
                </div>
                <div class="col-sm-6 text-right">
                    <p class="small">$ {{ careAmount|intcomma }}</p>
                </div>
            </div>
        {% endif %}

        <br>

        <div class="row">
            <div class="col-sm-6">
                <p class="small">Available
                    {% if availableStatus != 'Ok' %}
                        <i class="fas fa-exclamation-circle hhcGoldFont "></i>
                    {% endif %}</p>
            </div>
            <div class="col-sm-6 text-right">
                <p class="small">$ {{ availableAmount|intcomma }}</p>

            </div>
        </div>

    </div>
</div>



