{% extends 'drawdown/input/income_base.html' %}

{% load static %}



{% block calculator_banner %}

    <div class="banner-container">
        <img src="{% static 'img/hhc/HC-CalcHero.png' %}" class="img-fluid w-100" alt="Responsive image">
        <div class="banner-title">
            <h1>
                Access savings in your home
            </h1>
        </div>
    </div>
{% endblock %}


{% block calculator %}
    {% include 'drawdown/output/income_output_html.html' %}
{% endblock %}


{% block calculator_js %}
    {% include 'drawdown/output/income_output_js.html' %}
{% endblock %}

