{% load static %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}
{% load calc_extras %}

<div class="container cal_background">
    <div class="row ">
        <div class="col-12 text-center">
            <!-- Form -->
            <form id="leave-email" class='track-form' method="post">
                {% csrf_token %}

                <!-- Transfer -->
                <div class="cal_background_white">

                    <div class="container cal_container-md pt-5 pb-5">

                        {% if redirectMessage %}
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <p class="alert alert-success">{{ redirectMessage }}</p>
                                    <br><br><br>
                                </div>

                            </div>
                        {% endif %}


                        <div class="row justify-content-center">
                            <div class="col-12">
                                <p class="x-large"><b>Your Household Transfer</b></p>
                                <p>You may be eligible for a loan of up to:</p>
                                <br><br>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-4 pr-0 pb-1">
                                <p class="larger">Current home value</p>
                            </div>
                            <div class="col-2 pr-0 pb-1">

                            </div>
                            <div class="col-4 text-left">
                                <p class="larger">Maximum amount</p>
                            </div>

                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <img class="img-fluid"
                                     src="{{ transfer_img }}">
                            </div>
                            <div class="col-4 pl-3 text-left">
                                <div>
                                    <br><br>
                                </div>
                                <p class="x-large">${{ obj.maxDrawdownAmount }}*</p>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-4 pr-0 pb-2">
                                <p class="larger">${{ obj.valuation }}</p>
                            </div>
                            <div class="col-2 pr-0 pb-2">

                            </div>
                            <div class="col-4 text-left">

                            </div>

                        </div>
                    </div>
                </div>

                <!-- PURPOSES -->
                <div class="cal_background_warm">

                    <div class="container cal_container pt-5 pb-5">

                        <p class="x-large"><b>What are you planning to do with additional retirement funds?</b></p>
                        <p>(please select each purpose that might apply)</p>

                        <div class="d-none d-sm-block pt-2"></div>

                        {% if form.errors %}
                            <div class="row justify-content-center pt-3">
                                <div class="col-4">
                                    {% for key, value in form.errors.items %}{% if key == '__all__' %}{{ value }}
                                    {% endif %}{% endfor %}

                                </div>
                            </div>
                        {% endif %}

                        <div class="row justify-content-center pt-3">

                            <div id='panelTopUp'
                                 class="col-md-2 text-center ticket_background_white ml-2 mr-2 mb-2">

                                <div class="check-hide">
                                    <input type="checkbox" name="isTopUp"
                                           id="id_isTopUp" {% if form.cleaned_data.isTopUp %}checked{% endif %}>
                                    <i class="d-none d-md-block dot check-dot fas fa-circle"></i><br>
                                    <label class="check-label check-image TopUp"></label>
                                    <div class="d-none d-sm-block pb-2"></div>
                                    <p class="larger pb-1"><b>Top-Up</b></p>
                                    <p class="small">Increase your super, retirement income or contingency funds</p>
                                    <div class="d-none d-sm-block pb-2"></div>
                                </div>

                            </div>

                            <div id='panelRefi' class="col-md-2 text-center ticket_background_white ml-2 mr-2 mb-2">
                                <div class="check-hide">
                                    <input type="checkbox" name="isRefi"
                                           id="id_isRefi" {% if form.cleaned_data.isRefi %}checked{% endif %}>
                                    <i class="d-none d-md-block dot check-dot fas fa-circle"></i><br>
                                    <label class="check-label check-image Refi"></label>
                                    <div class="d-none d-sm-block pb-2"></div>
                                    <p class="larger pb-1"><b>Refinance</b></p>
                                    <p class="small">Refinance your existing mortgage (and choose whether to make
                                        repayments)</p>
                                    <div class="d-none d-sm-block pb-2"></div>
                                </div>
                            </div>

                            <div id='panelLive' class="col-md-2 text-center ticket_background_white ml-2 mr-2 mb-2">
                                <div class="check-hide">
                                    <input type="checkbox" name="isLive"
                                           id="id_isLive" {% if form.cleaned_data.isLive %}checked{% endif %}>
                                    <i class="d-none d-md-block dot check-dot fas fa-circle"></i><br>
                                    <label class="check-label check-image Live"></label>
                                    <div class="d-none d-sm-block pb-2"></div>
                                    <p class="larger "><b>Live</b></p>
                                    <p class="small">Renovate your home or help fund your transport and travel</p>
                                    <div class="d-none d-sm-block pb-2"></div>
                                </div>
                            </div>

                            <div id='panelGive' class="col-md-2 text-center ticket_background_white ml-2 mr-2 mb-2">
                                <div class="check-hide">
                                    <input type="checkbox" name="isGive"
                                           id="id_isGive" {% if form.cleaned_data.isGive %}checked{% endif %}>
                                    <i class="d-none d-md-block dot check-dot fas fa-circle"></i><br>
                                    <label class="check-label check-image Give"></label>
                                    <div class="d-none d-sm-block pb-2"></div>
                                    <p class="larger "><b>Give</b></p>
                                    <p class="small">Help your family with funding a home deposit, education
                                        expenses
                                        etc</p>
                                    <div class="d-none d-sm-block pb-2"></div>
                                </div>
                            </div>

                            <div id='panelCare' class="col-md-2 text-center ticket_background_white ml-2 mr-2 mb-2">
                                <div class="check-hide">
                                    <input type="checkbox" name="isCare"
                                           id="id_isCare" {% if form.cleaned_data.isCare %}checked{% endif %}>
                                    <i class="d-none d-md-block dot check-dot fas fa-circle"></i><br>
                                    <label class="check-label check-image Care"></label>
                                    <div class="d-none d-sm-block pb-2"></div>
                                    <p class="larger "><b>Care</b></p>
                                    <p class="small">Fund your medical expenses, in-home care or aged care
                                        requirements</p>
                                    <div class="d-none d-sm-block pb-2"></div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- Details -->


                <div class="cal_background_white">

                    <div class="container cal_container-md pt-5 pb-5">

                        <div class="row justify-content-center pb-3">
                            <div class="col-12">
                                <p class="x-large"><b>Leave an email and we'll send you a
                                    personalised summary</b></p>

                            </div>
                        </div>

                        <div>
                            <p>Your summary will provide key information on how a Household Transfer could be
                                used to meet your needs. We will provide an illustration of how the value of your home
                                and
                                the value of your home equity might change over time, based on a loan amount
                                of <b><label id="id_loanLabel">${{ obj.maxLoanAmount }}</label></b>
                            <p>

                            <p id="interestText" style="display: none"> Also assuming that you make monthly interest
                                payments of
                                <b><label id="id_interestLabel"></label></b> per month for
                                <b><label id="id_periodLabel"></label></b> years</p>
                            <br>

                        </div>

                        <div class="row justify-content-center pb-3">
                            <div class="col-8">
                                <input type="text" name="name" required placeholder="Your name"
                                       class="textinput textInput form-control fs-block" id="id_name"
                                       {% if form.name.value != None %}value="{{ form.name.value }}" {% endif %}>
                            </div>
                        </div>


                        <div class="row justify-content-center pb-3">
                            <div class="col-8">

                                <input type="email" name="email" required
                                       placeholder="Your email"
                                       maxlength="70" class="textinput textInput form-control fs-block"
                                       id="id_email"
                                       {% if form.email.value != None %}value="{{ form.email.value }}" {% endif %}
                                       {% if form.errors %}autofocus{% endif %}>
                            </div>

                        </div>
                        {% if form.errors.email %}
                            <div class="row justify-content-center pb-3">
                                <div class="col-8">
                                    <div>
                                        {{ form.errors.email }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}


                        <div class="row justify-content-center pb-3">
                            <div class="col-10">
                                <p class="small">By providing your email address, you consent to the collection, use,
                                    and disclosure of your personal information by Household Capital as set out in our
                                    <u><a href="/privacy/" target="_blank">Privacy Policy</a></u></p>
                            </div>
                        </div>


                        <div class="row justify-content-center">

                            <div class="col-md-5">
                                <br>
                                <button id="personal-summary" type="submit" value="Submit"
                                        form="leave-email"
                                        class="btn btn-lg btn-hhcGold">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Send&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </button>
                                <div class="pt-2">
                                    {% if form.errors %}
                                        <p class="errorlist">Please check input errors above</p>{% endif %}
                                </div>

                                <br> <br>

                            </div>


                        </div>


                        <div class="row">
                            <div class="col-md-12 text-center ">
                                <br>
                                <p class="small">*This calculation does not constitute an approval
                                    but provides an
                                    indicator
                                    of the maximum possible loan. Household Transfers are subject to
                                    loan approval
                                    criteria,
                                    which
                                    includes a home valuation. Full terms and conditions will be
                                    included in any
                                    application</p>
                                <br>

                            </div>
                        </div>

                    </div>
                </div>


            </form>
        </div>
    </div>
</div>