{% extends 'drawdown/input/income_base.html' %}

{% load static %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}
{% load calc_extras %}

{% block calculator %}

    <div class="container cal_background">
        <div class="row pt-5">
            <div class="col-12 text-center">
                <form id="calculator-leave-email-postcode" class='track-form' method="post">
                    {% csrf_token %}

                    <!-- Transfer -->
                    <div class="cal_background_white">

                        <div class="container cal_container-md pt-5 pb-5">

                            {% if redirectMessage %}
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <p class="alert alert-success">{{ redirectMessage }}</p>
                                        <br><br><br>
                                    </div>

                                </div>
                            {% endif %}

                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <p class="x-large"><b>Sorry, we don't operate in your postcode</b></p>
                                    <p>Unfortunately <b>{{ obj.postcode|intStr }}</b> is not currently a postcode that
                                        we
                                        lend
                                        in<br> We will not be able to assist you at this time</p>
                                    <br>
                                    <p>We periodically update our eligible postcodes <br>Please feel free to check back with us in the future </p>
                                    <br><br><br><br><br>
                                </div>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}

    <script>


        $(document).ready(function () {

            {% if redirect %}
                parent.location = '{{ redirectURL }}';
            {% endif %}

        });

        // CTA Tracking
        $(document).ready(function () {

            $(".track-link").each(function () {
                analytics.trackLink(this, this.id)
            });
        });

        // Form Tracking
        $(document).ready(function () {

            $(".track-form").each(function () {
                analytics.trackForm(this, this.id + "-submit")
            });
        });

    </script>

{% endblock %}

