{% extends 'calendly/email/email_template.html' %}
{% load humanize %}
{% load static %}
{% load site_tags %}


{% block email_content %}

<p>Hello {{ customer_name }} </p>
<br>
<p>As promised, we are providing you with details on how to join our on-line Household Capital Loan Interview meeting on {{ start_time }} (Sydney, Melbourne Time).</p>
<br>
<p>You can join the meeting via your computer or by using your mobile or tablet device.</p>
<br>
<p>All you need to do is click on the link below (or copy the link into your internet browser) a few minutes prior to our scheduled time. Then follow the prompts, which will guide you through to our meeting.</p>
<br>
<p><b>https://householdcapital.com.au/meeting/{{ meeting_id }}</b></p>
<br>
<p>The Meeting ID is: <b>{{ meeting_id }}</b></p>
<br>
<p>Should you require assistance at any time, please call me directly on {{ user_mobile }}.</p>
<br>
<p>I look forward to talking with you then.</p>
<br>
<p>Kind regards</p>
<br>
<p>{{ user_first_name }}</p>
<br>

{% endblock %}

