{% extends 'calendly/email/email_template.html' %}
{% load humanize %}
{% load static %}
{% load site_tags %}


{% block email_content %}

<p>Hello {{ customer_name }} </p>
<br>
<p>As promised, we are providing you with details on how to join our online Household Capital meeting at {{ start_time }} (Sydney, Melbourne Time).</p>
<br>
<p>We use the <b>Zoom</b> service to host our meetings. Using this service you will be able to join the meeting using your computer or tablet device.</p>
<br>
<p>A few minutes prior to the scheduled meeting time, you can join the meeting by clicking on the link below.  Please note that if you are using a tablet device (such as an iPad), you will be prompted to download the Zoom application. So you may want to give yourself some more time and click on the link a little earlier (say 10 minutes before the scheduled meeting time).  </p>
<br>
<p><b>https://householdcapital.com.au/meeting/?id={{ meeting_id }}</b></p>
<br>
<p>The Meeting ID is: <b>{{ meeting_id }}</b></p>
<br>
<p>Should you require assistance at any time, please call me directly on {{ user_mobile }}.</p>
<br>
<p>I look forward to speaking with you then.</p>
<br>
<p>Kind regards</p>
<br>
<p>{{ user_first_name }}</p>
<br>

{% endblock %}

