<footer>

    <div class="footer-container">

        <div class="row justify-content-center">
            <div class="col-md-11 footer-padding-align">
                <div class="row">

                    <div class="col-md-4 text-center ">
                        <div class="row no-gutters">
                            <div class="col footer-social">
                                <a href="{{ settings.site_settings.SiteSettings.linkedin }}" target="_blank"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                            <div class="col footer-social">
                                <a href="{{ settings.site_settings.SiteSettings.twitter }}" target="_blank"><i
                                        class="fab fa-twitter"></i></a></li>
                            </div>
                            <div class="col footer-social">
                                <a href="{{ settings.site_settings.SiteSettings.facebook }}" target="_blank"><i
                                        class="fab fa-facebook-f"></i></a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 footer-text pb-3">
                        <p>Household Capital Pty Ltd</p>
                        <p>info@householdcapital.com</p>

                        <a id="footer-phone-number" class="track-link-no-page"
                           href="tel:1300 622 100">1300 622 100</a>
                    </div>


                    <div class="col-md-3 footer-text pb-2">
                        <p>PO Box 4232</p>
                        <p>Fitzroy South</p>
                        <p>VIC 3065</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-md-11 footer-margin-align">
                <p class="footer-text">Household Capital Pty Limited ACN 618 068 214 is the issuer of the information on this website. Household Capital Pty Limited is a credit representative (512757) of Mortgage Direct Pty Limited ACN 075 721 434, Australian Credit Licence 391876</p>
            </div>
        </div>

        <div class="row pt-4 pb-4 justify-content-center">

            <div class="col-md-11 footer-padding-align">


            </div>

        </div>
    </div>
</footer>