{% load static %}
{% load site_tags %}

<nav class="navbar navbar-light navbar-expand-lg navbar-fixed-top pb-3">
    <div class="container">
        <div class="navbar-header">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

            <a class="navbar-brand pl-3 pt-1" href="{% url 'landing:landing' %}">
                <img src="{% static 'img/hhc/HC_Logo_Flat.png' %}" height="40">
            </a>

        </div>

        <div class="collapse navbar-collapse pl-5" id="navbar">


            <ul class="nav navbar-nav ml-auto pl-3">
                <li><a href=''><i class="fas fa-phone"></i> 1300 622 100 </a></li>
            </ul>

        </div><!--/.navbar-collapse -->

    </div>
</nav>

