
/* Theme */


/* Fonts */
@font-face {
  font-family: 'MaisonNeue';
  src: url('../fonts/MaisonNeue-Book.otf')  format("truetype"),
       local('MaisonNeue');
}

@font-face {
  font-family: 'MercuryDisplay';
  src: url('../fonts/MercuryDisplay-Semibold.otf')  format("truetype"),
       local('MercuryDisplay');
}

a,p, a:link, a:visited {
	font-family: MaisonNeue;
    padding: 0;
    margin:0;
    line-height: normal;
    color: black;
}
.col {
	padding-left: 1pt;
}

.navbar {
    background-color: white;
}

.navbar-brand {
	font-size: x-large;
}

.navbar-nav > li > a {
    color: grey;
}

.dropdown.navbar-color{
    color: grey;
}

.navbar {
    padding-bottom: 30px;
}

.h1, .h2, .h3, .h4, h1 h2, h3, h4 {
    display: inline-block;
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
}

.appLogo {
    padding: 15px;
}

.title {
    font-family: MercuryDisplay;
    font-size: 36px;
}

.larger {
    font-family: MaisonNeue;
    font-size: larger;
}

.x-large {
    font-family: MaisonNeue;
    font-size: x-large;
}

.xx-large {
    font-family: MaisonNeue;
    font-size: xx-large;
}

.btn-jumbotron{
    background-color: rgb(249,248,245);
}


/* Theme */
.jumbotron {
    background-color: rgb(249,248,245);
    margin-bottom: 0px;
}

.jumbotron small {
    font-size: 12px;
    margin-left:10px;
}

.jumbotron {
    padding: 1.5rem 1rem;

}

@media (min-width:576px) {
    .jumbotron {
        padding: 1.5rem 2rem
    }
}



.hero{
    background:  no-repeat center center fixed;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            background-size:cover;
            background-position: 0 0;
    min-height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 50px;

}

.hero::after {
  content: "";
  background-image: url("/static/img/hhc/HC-Hero-FamilyOutside.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;;
}


.login_form {
    background-color: white;
    margin-left:75px;
    margin-right:75px;

}

.padding-30px{
    padding-bottom: 30px;
}

.padding-15px{
    padding-bottom: 15px;
}

.padding-10px{
    padding-bottom: 10px;
}



body {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
}
