@import url(https://fonts.googleapis.com/css?family=Cookie);

/* PAGE */

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: block;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

/* FONT FAMILY */
@font-face {
    font-family: 'MaisonNeue';
    src: url('../fonts/MaisonNeue-Book.otf') format("truetype"),
    local('MaisonNeue');
}

@font-face {
    font-family: 'MercuryDisplay';
    src: url('../fonts/MercuryDisplay-Semibold.otf') format("truetype"),
    local('MercuryDisplay');
}

/* ELEMENTS */

/* Basic elements */
a, p, a:link, a:visited {
    font-family: MaisonNeue;
    padding: 0;
    margin: 0;
    line-height: normal;
    color: black;
}

td a, td a:link, td a:visited {
    font-family: MaisonNeue;
    color: black;
}

a:hover, a:active {
    text-decoration: none;
}


.h1, .h2, .h3, .h4, h1 h2, h3, h4 {
    display: inline-block;
}

/* Font Size */

p.small {
    font-family: MaisonNeue;
    line-height: 150%;
    font-size: 90%;
}

.larger {
    font-family: MaisonNeue;
    font-size: larger;
}

.x-large {
    font-family: MaisonNeue;
    font-size: x-large;
}

.xx-large {
    font-family: MaisonNeue;
    font-size: xx-large;


}


/* Titles */

.title {
    font-family: MercuryDisplay;
    font-size: 36px;
}

.secondary_title {
    font-family: MercuryDisplay;
    font-size: 30px;
}

.tertiary_title {
    font-family: MercuryDisplay;
    font-size: 18px;
    font-weight: bolder;
}


.medium-title-inverse {
    font-family: MercuryDisplay;
    font-size: 50px;
    text-decoration: None;
    color: white
}

.title-inverse {
    font-family: MercuryDisplay;
    font-size: 96px;
    color: white;
    line-height: 120%;
}

.gold_underline {
    border-bottom: 3px solid;
    padding: 10px 0;
    border-bottom-color: #ffb800
}


/* Text Decoration */
p.small-blue {
    font-family: MaisonNeue;
    line-height: 150%;
    font-size: 90%;
    color: rgb(81, 132, 161);
}

.hhcBlueFont {
    color: rgb(81, 132, 161);
}

.hhcGoldFont {
    color: rgb(253, 182, 0)
}

/* Font Awesome Text*/
.fas.hhcLightBlue {
    color: rgb(81, 132, 161);
}

.fas.hhcTealShade {
    color: rgba(134, 179, 181, 0.5);
}

.text-white {
    color: white;
}

.text-handwriting {
    font: 400 100px/1.5 'Cookie', Helvetica, sans-serif;
    color: #2b2b2b;
    font-size: x-large;

}

/*** CONTAINERS ***/

.wrapper {
    display: flex;

}

.sidebar {
    width: 325px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    color: grey;
    transition: all 0.3s;
}

.sub-container {
    padding-left: 0px;
}


/* NavBar */

.navbar {
    background-color: white;
}

.navbar-thin {
    padding-bottom: 15px;
    background-color: white;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.navbar-nav > li > a {
    color: grey;
}

.fixed-bottom {
    background-color: rgb(249, 248, 245);
    display: block;
    padding-bottom: 0px;
}

.fixed-bottom_heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: rgb(253, 182, 0);

}

.navbar-brand {
    font-size: x-large;
}

.navbar-nav > li > a {
    color: grey;
}

.dropdown.navbar-color {
    color: grey;
}

.appLogo {
    padding: 15px;
}

a.menu_title:link,
a.menu_title:visited,
a.menu_title:hover,
a.menu_title:active {
    font-family: MercuryDisplay;
    color: black;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}


/* Jumbotron */

@media (min-width: 576px) {
    .jumbotron {
        padding: 1.5rem 2rem
    }
}

.jumbotron {
    padding: 1.5rem 1rem;

}

.jumbotron {
    background-color: rgb(249, 248, 245);
    margin-bottom: 0px;
}


.jumbotron-HHCBlue {
    background-color: rgb(25, 38, 63);
    color: white;
}

.jumbotron small {
    font-size: 12px;
    margin-left: 10px;
}

.cal_background_warm {
    background-color: rgb(249, 248, 245);
}


/* Menubar */
.menu-bar {
    background-color: rgb(249, 248, 245);
    display: block;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0
}

@media (min-width: 992px) {
    .menu-bar {
        position: fixed;
    }
}

.menu-bar-row {
    min-height: 120px;
}


.menu-bar-fixed {
    background-color: rgb(249, 248, 245);
    display: block;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0
}

@media (min-width: 992px) {
    .menu-bar-fixed {
        position: fixed;
    }
}

.menu-bar-float {
    background-color: rgb(249, 248, 245);
    display: block;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0
}

.menu-bar-thin-row {
    min-height: 100px;
}


/* Footer - external */
.footer-container {
    max-width: 1100px;
    height: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

footer {
    background: rgb(25, 38, 63);;
    padding: 20px 0 0;
    color: white;
    font-size: 12px
}

.footer-text,
.footer-text p,
.footer-text a,
.footer-text a:link,
.footer-text a:visited {
    text-align: center;
    font-family: MaisonNeue;
    font-size: 16px;
    line-height: 20px;
    text-decoration: None;
    color: white
}

@media (min-width: 768px) {
    .footer-text,
    .footer-text p,
    .footer-text a,
    .footer-text a:link,
    .footer-text a:visited {
        text-align: left;
    }
}

.footer-padding-align {
}

.footer-margin-align {
}

@media (min-width: 768px) {
    .footer-padding-align {
        padding-left: 3rem;
    }
}

@media (min-width: 768px) {
    .footer-margin-align {
        margin-left: 3rem;
    }
}

footer ul li {
    display: inline-block;
    padding: 0
}

.footer-social ul {
    text-align: center;
}

.footer-social,
.footer-social a,
.footer-social a:link,
.footer-social a:visited {
    padding: 10px 16px;
    font-size: 32px;
    color: white;
}


/*** COMPONENTS ***/


/* Alerts */
.message {
    padding-top: 15px;
}

.alert-household {
    background-color: rgb(249, 248, 245);
}

.alert-HHCBlue {
    background-color: rgb(25, 38, 63);
}

.alert-HHCBlue p {
    color: white !important;
}

.alert {
    margin-bottom: 0px;
}


/* Radio */


input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #5183A1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}


/* Errors */
.errorlist {
    color: red;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin-left: 30px;
    text-align: left;
}

.errorlist::before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f06a ";
    float: left;
    margin-left: -25px;
    color: red;
}


/* Images */
.greyscale {
    -webkit-filter: brightness(1) grayscale(1) opacity(1);
    -moz-filter: brightness(1) grayscale(1) opacity(1);
    filter: brightness(1) grayscale(1) opacity(1);
}


.imgContainer {
    padding-bottom: 5px;
}

.imgResults {
    padding-bottom: 10px;
    padding-top: 10px;
}


/* Forms */
.form-control-hidden {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-label {
    font-size: small;
    color: grey;
}

.form-header {
    font-size: normal;
    padding-bottom: 5px;
}

.input-group-text {
    background-color: rgb(249, 248, 245)
}

.asteriskField {
    display: none !important;
}

.narrow-row .form-group {
    margin-bottom: 0px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {

    /* needed */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='grey'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-size: 12px;
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;

}

/* Buttons */
.btn-hhcBlue {
    background-color: rgb(25, 38, 63);
    color: white;
    font-family: MaisonNeue;
    font-weight: normal;
    font-size: 14px;
    border-radius: 35px;
}

.btn-outline-hhcBlue {
    color: rgb(25, 38, 63);
    font-family: MaisonNeue;
    font-weight: normal;
    font-size: 14px;
    border-radius: 35px;
    border-color: rgb(25, 38, 63);
}

a.btn-hhcGold {
    font-size: 20px;
    font-weight: normal;
    font-family: MaisonNeue;
    color: black !important;
}

.btn-hhcGold {
    background-color: rgb(253, 182, 0);
    border-radius: 35px;
    font-size: 16px;
    font-weight: normal;
    font-family: MaisonNeue;
    color: black !important;
}

.btn-square-choice-hhcLightBlue {
    background-color: white;
    border-color: rgb(81, 132, 161);
    font-size: 16px;
    font-weight: normal;
    font-family: MaisonNeue;

}

.btn-square-choice-hhcLightBlue.active {
    background-color: rgb(81, 132, 161);
    font-size: 16px;
    font-weight: normal;
    font-family: MaisonNeue;
    color: white !important;
}

.btn-jumbotron {
    background-color: rgb(249, 248, 245);
}

.infoBtn {
    color: #212529;
    background: #eef4f9;
    border-color: #d3d9df;
}

.HHCBlue {
    background-color: rgb(25, 38, 63);
    color: white
}

.HHCTeal {
    background-color: rgba(134, 179, 181, 0.5);
    color: white;
}

.HHCLightBlue {
    background-color: #5183A1;
    color: white;
}


/* Badges */
.badge-form-labelBlue {
    background-color: rgb(81, 132, 161);
    color: white
}


/* Notes Text*/
.notes ul {
    padding-inline-start: 0px;
}

.notes > ul li {
    color: grey;
    display: inline-block;
    list-style: none;
    padding: 0;
    position: relative;
    font-size: small;
}

.notes > ul li::before {
    color: grey;
    content: "\2022";
    display: inline-block;
    font-size: 1em;
    left: -1.0em;
    position: absolute;
    top: 0em;
}

.accordion div.card:only-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: calc(0.25rem - 1px);
}


/*** CONTROLS ***/

.equitySlider {
    margin-top: 7px;
}

.slider-img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -80%);
    color: white
}


#equitySlider .ui-slider-handle {
    height: 25px;
    width: 30px;
}

#equitySlider ui-widget-header {
    background: rgb(81, 132, 161);
}

/* Application Progress */
.hhc-progress:before {
    content: '';
    width: 100%;
    height: 0.75px;
    background: lightgrey;
    position: absolute;
    right: -45%;
    top: 9px;
    z-index: 0
}

.hhc-progress-text {
    position: relative;
    z-index: 1;
}

.fa-progress {
    background-image: radial-gradient(at center, white 60%, transparent 40%);
}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='SteelBlue' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='SteelBlue' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -40%);
    color: white
}

/*** PAGE SPECIFIC ***/

/* Landing Page */
.landing {
    background-color: rgb(249, 248, 245);
}

.hero {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 0;
    min-height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 50px;

}

.hero::after {
    content: "";
    background-image: url("/static/img/hhc/HC-Hero.6.jpg");
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;;
}

.login_form {
    background-color: white;
    margin-left: 75px;
    margin-right: 75px;

}


/* Manual padding - deprecated */

.padding-30px {
    padding-bottom: 30px;
}

.padding-15px {
    padding-bottom: 15px;
}

.padding-10px {
    padding-bottom: 10px;
}

.padding-7px {
    padding-bottom: 7px;
}

.padding-5px {
    padding-bottom: 5px;
}

.padding-2px {
    padding-bottom: 2px;
}


/*** PRINTING ***/

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
}

@page {
    size: A4;
    margin: 0 !important;
    padding: 0;
}

.page {
    width: 100%;
    top: 0px;
    bottom: 0px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    float: none;
}

.print-text {
    font-family: MaisonNeue;
    line-height: 130%;
    font-size: 115%;
}

.print-text-bold {
    font-family: MaisonNeue;
    line-height: 130%;
    font-size: 115%;
    font-weight: bolder;
}

.print-text-smaller {
    font-family: MaisonNeue;
    line-height: 120%;
    font-size: 100%;
}

.print-text-fine {
    font-family: MaisonNeue;
    line-height: 140%;
    font-size: 90%;
}

.print-text-larger {
    font-family: MaisonNeue-;
    line-height: 150%;
    font-size: x-large;
}

.print_subtitle {
    font-family: MercuryDisplay;
    font-size: 22px;
    font-weight: bolder;
}

.print-container {
    width: 100%;
    padding-left: 55px;
    padding-right: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

.print-edge-row {
    margin-left: -55px;
    margin-right: -50px;
}

.print-edge-col {
    padding-left: 0px;
    padding-right: 0px;
}

.borderless {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;

}

.HHCBlueBackground-Printed {
    background-color: #19263F;
    color: white
}

.HHCLightBlue-Printed {
    color: #5184A1 !important;
}

.border-spacing {
    line-height: 250% !important;
}


/* Printing definitions of API2PDF */
@media print {

    .col-sm-12,
    .col-md-12,
    .col-lg-12 {
        width: 100%
    }

    .col-sm-11,
    .col-md-11,
    .col-lg-11 {
        width: 91.66666667%
    }

    .col-sm-10,
    .col-md-10,
    .col-lg-10 {
        width: 83.33333333%
    }

    .col-sm-9,
    .col-md-9,
    .col-lg-9 {
        width: 75%
    }

    .col-sm-8,
    .col-md-8,
    .col-lg-8 {
        width: 66.66666667%
    }

    .col-sm-7,
    .col-md-7,
    .col-lg-7 {
        width: 58.33333333%
    }

    .col-sm-6,
    .col-md-6,
    .col-lg-6 {
        width: 50%
    }

    .col-sm-5,
    .col-md-5,
    .col-lg-5 {
        width: 41.66666667%
    }

    .col-sm-4,
    .col-md-4,
    .col-lg-4 {
        width: 33.33333333%
    }

    .col-sm-3,
    .col-md-3,
    .col-lg-3 {
        width: 25%
    }

    .col-sm-2,
    .col-md-2,
    .col-lg-2 {
        width: 16.66666667%
    }

    .col-sm-1,
    .col-md-1,
    .col-lg-1 {
        width: 8.33333333%
    }
}




