{% load static %}
{% load humanize %}


<!-- Include -->
<div class="col-lg-12 "><br>
    <p class="secondary_title">Your Projections</p>
</div>
<br>

<div class="print-container">

    <div class="col-lg-12 ">
        <p class="print-text">This document helps you understand how much your loan will increase over time and what this means for the equity in your home. It will also show you how changes in interest rates and house prices could affect the equity in your home. These projections are designed to help you see if a Household Loan is worthwhile for you.</p>
    </div>

    <div class="col-lg-12 "><br>
        <p class="print-text HHCLightBlue-Printed"><b>Home Value</b></p>
        <p class="print-text">Your home value is updated each year using the increase/decrease rate. The calculations assume a constant rate (although in reality this rate will rise and fall).</p>
        <br>

        <p class="print-text HHCLightBlue-Printed"><b>Interest Rate</b></p>
        <p class="print-text">Interest rates are assumed to remain constant over the life of the loan (although in reality interest rates may fluctuate over time). Interest is calculated daily and accrued monthly. Actual interest rates and fees may vary from those used in these projections.</p>
        <br>

        <p class="print-text HHCLightBlue-Printed"><b>Home Ownership</b></p>
        <p class="print-text">Your home ownership is calculated as a percentage of the equity remaining in your home. the remaining home equity is calculated by subtracting the outstanding loan from the value of your home. the oustanding loan is calculated each month by adding interest charges and fess to the outstanding loan balance from the previous month. these projections assume that no repayments are made during the life of the reverse mortgage.</p>
        <br>

        <p class="print-text HHCLightBlue-Printed"><b>Super value</b></p>
        <p class="print-text">Your super value is updated each year using the superannuation growth rate.  Your annual income is subtracted from your super value each year.</p>
        <br>

        <p class="print-text HHCLightBlue-Printed"><b>Income</b></p>
        <p class="print-text">Your income is indexed. This means your income will increase each year with inflation. This ensures you can still afford the items that you need as they become more expensive over time.</p>
        <br>
    </div>
</div>
<!-- End Include -->