{% load static %}
{% load humanize %}


<!-- Include -->

<div class="print-container">

    <br>
    <div class="row">
        <div class="col-lg-3 text-center">
            <div class="imgContainer"><img src="{% static 'img/icons/topup_icon.png' %}" width="125px"
                    {% if topUpAmount == 0 and refinanceAmount == 0 %} style="filter: grayscale(100%)" {% endif %};></div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="imgContainer"><img src="{% static 'img/icons/live_icon.png' %}" width="125px"
                    {% if renovateAmount == 0 and travelAmount == 0 %} style="filter: grayscale(100%)" {% endif %};></div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="imgContainer"><img src="{% static 'img/icons/give_icon.png' %}" width="125px" {% if giveAmount == 0 and protectedEquity == 0 %}
                                           style="filter: grayscale(100%)" {% endif %};></div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="imgContainer"><img src="{% static 'img/icons/care_icon.png' %}" width="125px" {% if careAmount == 0 %}
                                           style="filter: grayscale(100%)" {% endif %};></div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-lg-3">
            {% if topUpAmount != 0 %}
                <p class="print-text">Your Household income objective is: $<b>{{ incomeObjective|intcomma }}</b></p><br>
            {% else %}
                <p class="print-text">Your Household income objective is: N/A</p><br>
            {% endif %}

        </div>
        <div class="col-lg-3 ">
            <p class="print-text">Live lets you allocate funds for an active retirement</p><br>
        </div>

        <div class="col-lg-3 ">
            <p class="print-text">Give lets you give to your family when they need it most</p><br>

        </div>
        <div class="col-lg-3 ">
            <p class="print-text">Care enables you to fund aged care
            <p><br>

        </div>
        <br>
    </div>

    <div class="row">
        <div class="col-lg-3">
            {% if topUpAmount != 0 %}
                <p class="print-text">To help you achieve this, you have chosen to top up Super by:
                    $<b>{{ topUpAmount|intcomma }}</b></p> <br>
            {% endif %}


            {% if refinanceAmount != 0 %}

                <p class="print-text">You have also chosen to refinance your mortgage of
                    $<b>{{ refinanceAmount|intcomma }}</b><br>
            {% endif %}

        </div>
        <div class="col-lg-3 ">
            <p class="print-text">You have chosen: </p>
            {% if renovateAmount != 0 %}
                <p class="print-text">>
                    $<b>{{ renovateAmount|intcomma }}</b><br>&nbsp;&nbsp;&nbsp;for {{ renovateDescription }} </p>
            {% endif %}
            {% if travelAmount != 0 %}
                <p class="print-text">> $<b>{{ travelAmount|intcomma }}</b><br>&nbsp;&nbsp;&nbsp;
                    for {{ travelDescription }} </p>
            {% endif %}
            {% if renovateAmount == 0 and travelAmount == 0 %}
                <p class="print-text">N/A</p>
            {% endif %}
        </div>

        <div class="col-lg-3 ">
            {% if giveAmount != 0 %}
                <p class="print-text">You would like to give $<b>{{ giveAmount|intcomma }}</b>
                    to/for {{ giveDescription }}</p>
            {% else %}
                <p class="print-text">You would like to give: N/A</p>
            {% endif %}
            <br>
            {% if protectedEquity != 0 %}
                <p class="print-text">You have chosen to reserve <b>{{ protectedEquity }}</b>% of your home equity</p>
            {% endif %}


        </div>
        <div class="col-lg-3 ">
            {% if careAmount != 0 %}
                <p>You have allocated $<b>{{ careAmount|intcomma }}</b> for {{ careDescription }}</p>
            {% else %}
                <p class="print-text">You have allocated: N/A</p>
            {% endif %}

        </div>
        <br>
    </div>

    <br>
    <div class="row">
        <div class="col-lg-10 border-top border-bottom border-dark">
            <p class="border-spacing print-text">Total Household Loan</p>
        </div>
        <div class="col-lg-2 border-top border-bottom border-dark text-right">
            <p class="border-spacing print-text">$<b>{{ totalLoanAmount|intcomma }}</b></p>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <p>Includes establishment fee of: ${{ establishmentFee|intcomma }}</p>
        </div>
    </div>
</div>

<!-- End -->

