{% load static %}
{% load humanize %}


<!-- Include -->
<br><br><br><br>
<div class="row justify-content-center">
    <div class="col-lg-10">

        <p class="print-text HHCLightBlue-Printed"><b>What if the value of my home doesn't grow as much?</b></p>
        <p> Assumed annual increase in home value: <b>{{ hpi1 }}</b>%</p>
        <p> Interest Rate: {{ intRate1 }}%</p>
        <br>
        <div class="row justify-content-center">
            <div class="col-lg-3 text-center">
                <p class="small">Home value: ${{ resultsHouseValue1.0|intcomma }}</p>
                <p class="small">Home ownership: {{ resultsHomeEquityPC1.0|intcomma }}%</p>
                <p class="small">Home equity: ${{ resultsHomeEquity1.0|intcomma }}</p>
            </div>
            <div class="col-lg-3 text-center">
                <p class="small">Home value: ${{ resultsHouseValue1.1|intcomma }}</p>
                <p class="small">Home ownership: {{ resultsHomeEquityPC1.1|intcomma }}%</p>
                <p class="small">Home equity: ${{ resultsHomeEquity1.1|intcomma }}</p>
            </div>
            <div class="col-lg-3 text-center">
                <p class="small">Home value: ${{ resultsHouseValue1.2|intcomma }}</p>
                <p class="small">Home ownership: {{ resultsHomeEquityPC1.2|intcomma }}%</p>
                <p class="small">Home equity: ${{ resultsHomeEquity1.2|intcomma }}</p>
            </div>
            <div class="col-lg-3 text-center">
                <p class="small">Home value: ${{ resultsHouseValue1.3|intcomma }}</p>
                <p class="small">Home ownership: {{ resultsHomeEquityPC1.3|intcomma }}%</p>
                <p class="small">Home equity: ${{ resultsHomeEquity1.3|intcomma }}</p>
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 text-center my-auto">
                <div class="imgResults"><img src="{{ resultsHomeImages1.0 }}" width="{{ resultsHouseValue1.4 }}px">
                </div>
            </div>
            <div class="col-lg-3 text-center my-auto">
                <div class="imgResults"><img src="{{ resultsHomeImages1.1 }}" width="{{ resultsHouseValue1.5 }}px">
                </div>
            </div>

            <div class="col-lg-3 text-center my-auto ">
                <div class="imgResults"><img src="{{ resultsHomeImages1.2 }}" width="{{ resultsHouseValue1.6 }}px">
                </div>
            </div>
            <div class="col-lg-3 text-center my-auto">
                <div class="imgResults"><img src="{{ resultsHomeImages1.3 }}" width="{{ resultsHouseValue1.7 }}px">
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-end">
            <div class="col-lg-3 text-center">
                <p class="larger">{{ resultsAge.0 }}</p>
            </div>
            <div class="col-lg-3 text-center">
                <p class="larger">{{ resultsAge.1 }}</p>
            </div>
            <div class="col-lg-3 text-center ">
                <p class="larger">{{ resultsAge.2 }}</p>
            </div>
            <div class="col-lg-3 text-center">
                <p class="larger">{{ resultsAge.3 }}</p>
            </div>
        </div>
        <br><br>


        <br><br>
        <p class="print-text HHCLightBlue-Printed"><b>What if the value of my house doesn't grow at all?</b></p>
        <p> Assumed annual increase in home value: <b>{{ hpi2 }}</b>%</p>
        <p> Interest Rate: {{ intRate2 }}%</p>
        <br>
        <div class="row justify-content-center">
            <div class="col-lg-3 text-center">
                <p class="small">Home value: ${{ resultsHouseValue2.0|intcomma }}</p>
                <p class="small">Home ownership: {{ resultsHomeEquityPC2.0|intcomma }}%</p>
                <p class="small">Home equity: ${{ resultsHomeEquity2.0|intcomma }}</p>
            </div>
            <div class="col-lg-3 text-center">
                <p class="small">Home value: ${{ resultsHouseValue2.1|intcomma }}</p>
                <p class="small">Home ownership: {{ resultsHomeEquityPC2.1|intcomma }}%</p>
                <p class="small">Home equity: ${{ resultsHomeEquity2.1|intcomma }}</p>
            </div>
            <div class="col-lg-3 text-center">
                <p class="small">Home value: ${{ resultsHouseValue2.2|intcomma }}</p>
                <p class="small">Home ownership: {{ resultsHomeEquityPC2.2|intcomma }}%</p>
                <p class="small">Home equity: ${{ resultsHomeEquity2.2|intcomma }}</p>
            </div>
            <div class="col-lg-3 text-center">
                <p class="small">Home value: ${{ resultsHouseValue2.3|intcomma }}</p>
                <p class="small">Home ownership: {{ resultsHomeEquityPC2.3|intcomma }}%</p>
                <p class="small">Home equity: ${{ resultsHomeEquity2.3|intcomma }}</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 text-center my-auto">
                <div class="imgResults"><img src="{{ resultsHomeImages2.0 }}" width="{{ resultsHouseValue2.4 }}px">
                </div>
            </div>
            <div class="col-lg-3 text-center my-auto">
                <div class="imgResults"><img src="{{ resultsHomeImages2.1 }}" width="{{ resultsHouseValue2.5 }}px">
                </div>
            </div>

            <div class="col-lg-3 text-center my-auto ">
                <div class="imgResults"><img src="{{ resultsHomeImages2.2 }}" width="{{ resultsHouseValue2.6 }}px">
                </div>
            </div>
            <div class="col-lg-3 text-center my-auto">
                <div class="imgResults"><img src="{{ resultsHomeImages2.3 }}" width="{{ resultsHouseValue2.7 }}px">
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-end">
            <div class="col-lg-3 text-center">
                <p class="larger">{{ resultsAge.0 }}</p>
            </div>
            <div class="col-lg-3 text-center">
                <p class="larger">{{ resultsAge.1 }}</p>
            </div>
            <div class="col-lg-3 text-center ">
                <p class="larger">{{ resultsAge.2 }}</p>
            </div>
            <div class="col-lg-3 text-center">
                <p class="larger">{{ resultsAge.3 }}</p>
            </div>
        </div>
        <br><br>

        <br><br>


        <p class="print-text HHCLightBlue-Printed"><b>What if the interest rate grows up?</b></p>
        <p> Assumed annual increase in home value: {{ hpi3 }}%</p>
        <p> Interest Rate: <b>{{ intRate3 }}%</b></p>
        <br>
        <div class="row justify-content-center">
            <div class="col-lg-3 text-center">
                <p class="small">Home value: ${{ resultsHouseValue3.0|intcomma }}</p>
                <p class="small">Home ownership: {{ resultsHomeEquityPC3.0|intcomma }}%</p>
                <p class="small">Home equity: ${{ resultsHomeEquity3.0|intcomma }}</p>
            </div>
            <div class="col-lg-3 text-center">
                <p class="small">Home value: ${{ resultsHouseValue3.1|intcomma }}</p>
                <p class="small">Home ownership: {{ resultsHomeEquityPC3.1|intcomma }}%</p>
                <p class="small">Home equity: ${{ resultsHomeEquity3.1|intcomma }}</p>
            </div>
            <div class="col-lg-3 text-center">
                <p class="small">Home value: ${{ resultsHouseValue3.2|intcomma }}</p>
                <p class="small">Home ownership: {{ resultsHomeEquityPC3.2|intcomma }}%</p>
                <p class="small">Home equity: ${{ resultsHomeEquity3.2|intcomma }}</p>
            </div>
            <div class="col-lg-3 text-center">
                <p class="small">Home value: ${{ resultsHouseValue3.3|intcomma }}</p>
                <p class="small">Home ownership: {{ resultsHomeEquityPC3.3|intcomma }}%</p>
                <p class="small">Home equity: ${{ resultsHomeEquity3.3|intcomma }}</p>
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 text-center my-auto">
                <div class="imgResults"><img src="{{ resultsHomeImages3.0 }}" width="{{ resultsHouseValue3.4 }}px">
                </div>
            </div>
            <div class="col-lg-3 text-center my-auto">
                <div class="imgResults"><img src="{{ resultsHomeImages3.1 }}" width="{{ resultsHouseValue3.5 }}px">
                </div>
            </div>

            <div class="col-lg-3 text-center my-auto ">
                <div class="imgResults"><img src="{{ resultsHomeImages3.2 }}" width="{{ resultsHouseValue3.6 }}px">
                </div>
            </div>
            <div class="col-lg-3 text-center my-auto">
                <div class="imgResults"><img src="{{ resultsHomeImages3.3 }}" width="{{ resultsHouseValue3.7 }}px">
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-end">
            <div class="col-lg-3 text-center">
                <p class="larger">{{ resultsAge.0 }}</p>
            </div>
            <div class="col-lg-3 text-center">
                <p class="larger">{{ resultsAge.1 }}</p>
            </div>
            <div class="col-lg-3 text-center ">
                <p class="larger">{{ resultsAge.2 }}</p>
            </div>
            <div class="col-lg-3 text-center">
                <p class="larger">{{ resultsAge.3 }}</p>
            </div>
        </div>
        <br><br>


    </div>


