{% extends 'client/base_client.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block message_display %}

    <div class="container">

        {% if messages %}
            <div class="row justify-content-md-center">
                <div class="col-6 text-center">
                    <br>
                    {% for message in messages %}
                        <p{% if message.tags == 'error' %}
                            class="alert alert-warning"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">

        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">

        <div class="wrapper">

            <div class="container sub-container">
                <div class="row">
                    <div class="col-lg-6">
                        <br>
                        <div class="secondary_title">Pay off bank debt at retirement</div>
                        <br>
                        <p>If you are retiring with debt remaining on your mortgage, we ensure this debt is paid as part
                            of
                            the
                            Household Transfer</p>
                        <br>
                    </div>

                </div>
                <br>

                <div class="row">

                    <div class="form-inline">
                        <div class="col-lg-5 ">
                            <p>Refinance amount</p>
                        </div>

                        <div class="col-lg-6">
                            {% crispy form %}
                        </div>
                    </div>

                </div>
            </div>


            {% include 'client/base_client.sidebar.html' %}

        </div>

    </div>


{% endblock %}


{% block javascript %}

{% endblock %}
