{% extends 'application/base/base_app.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block message_display %}
    <div class="container">
        {% if messages %}
            <div class="row justify-content-md-center pt-2">
                <div class="col-6 text-center">
                    {% for message in messages %}
                        <p{% if message.tags == 'error' %}
                            class="alert alert-warning"{% endif %}
                                {% if message.tags == 'info' %} class="alert alert-info"{% endif %}
                                {% if message.tags == 'success' %}
                            class="alert alert-success"{% endif %}>
                            {{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 pb-3">
                <br>
                <div class="secondary_title">About you and your objectives</div>

            </div>
        </div>
        <form id="{{ form.id }}" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">


            <div class="row justify-content-center">
                <div class="col-lg-6 text-left">

                    <div class="row justify-content-left pt-1">
                        <div class="col-sm-7 text-left align-self-center pb-2">
                            <p>{% if form.choiceIncome.errors %}<span class="text-danger">
                                <i class="fas fa-question-circle"></i>{% endif %}
                                </span>
                                Are you seeking additional retirement income?
                            </p>
                        </div>

                        <div class="col-sm-5 text-center ">
                            <div class=" btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-square-choice-hhcLightBlue
                                    {% if formData.choiceIncome == True %} active {% endif %}">
                                    <input type="radio" name="choiceIncome" value="True"
                                           id="id_choiceIncome_0" autocomplete="off"
                                            {% if formData.choiceIncome == True %} checked {% endif %}>
                                    Yes
                                </label>
                                <span class="pr-3"></span>
                                <label class="btn btn-square-choice-hhcLightBlue
                                    {% if formData.choiceIncome == False %} active {% endif %}">
                                    <input type="radio" name="choiceIncome" value="False"
                                           id="choiceIncome_1" autocomplete="off"
                                            {% if formData.choiceIncome == False %} checked {% endif %}>
                                    &nbsp;No&nbsp;
                                </label>
                                <span><button type="button" class="btn btn-sm btn-light" data-toggle="modal"
                                              data-target="#incomeModal">
                                    <i class="fas fa-info"></i></button></span>
                                {{ form.choiceIncome.error }}
                            </div>
                        </div>


                    </div>

                    <div class="row justify-content-left pt-3">
                        <div class="col-sm-7 text-left align-self-center pb-2">
                            <p>{% if form.choiceOtherNeeds.errors %}<span class="text-danger">
                                <i class="fas fa-question-circle"></i>{% endif %}
                                </span>
                                Do you require funding for other retirement purposes at this time?

                            </p>
                        </div>
                        <div class="col-sm-5 text-center ">
                            <div class=" btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-square-choice-hhcLightBlue
                                    {% if formData.choiceOtherNeeds == True %} active {% endif %}">
                                    <input type="radio" name="choiceOtherNeeds" value="True"
                                           id="id_choiceOtherNeeds_0" autocomplete="off"
                                            {% if formData.choiceOtherNeeds == True %} checked {% endif %}>
                                    Yes
                                </label>
                                <span class="pr-3"></span>
                                <label class="btn btn-square-choice-hhcLightBlue
                                    {% if formData.choiceOtherNeeds == False %} active {% endif %}">
                                    <input type="radio" name="choiceOtherNeeds" value="False"
                                           id="choiceOtherNeeds_1" autocomplete="off"
                                            {% if formData.choiceOtherNeeds == False %} checked {% endif %}>
                                    &nbsp;No&nbsp;
                                </label>
                                <span><button type="button" class="btn btn-sm btn-light" data-toggle="modal"
                                              data-target="#otherPurposesModal">
                                    <i class="fas fa-info"></i></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-left pt-3">
                        <div class="col-sm-7 text-left align-self-center pb-2">
                            <p>{% if form.choiceOwnership.errors %}<span class="text-danger">
                                <i class="fas fa-question-circle"></i>{% endif %}
                                </span>
                                Do you own you your home and are you on the title?
                            </p>
                        </div>
                        <div class="col-sm-5 text-center ">
                            <div class=" btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-square-choice-hhcLightBlue
                                    {% if formData.choiceOwnership == True %} active {% endif %}">
                                    <input type="radio" name="choiceOwnership" value="True"
                                           id="id_choiceOwnership_0" autocomplete="off"
                                            {% if formData.choiceOwnership == True %} checked {% endif %}>
                                    Yes
                                </label>
                                <span class="pr-3"></span>
                                <label class="btn btn-square-choice-hhcLightBlue
                                    {% if formData.choiceOwnership == False %} active {% endif %}">
                                    <input type="radio" name="choiceOwnership" value="False"
                                           id="choiceOwnership_1" autocomplete="off"
                                            {% if formData.choiceOwnership == False %} checked {% endif %}>
                                    &nbsp;No&nbsp;
                                </label>
                                <span><button type="button" class="btn btn-sm btn-light" data-toggle="modal"
                                              data-target="#ownershipModal">
                                    <i class="fas fa-info"></i></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-left pt-3">
                        <div class="col-sm-7 text-left align-self-center pb-2">
                            <p>{% if form.choiceMortgage.errors %}<span class="text-danger">
                                <i class="fas fa-question-circle"></i>{% endif %}
                                </span>
                                Do you have an existing mortgage on your home?
                            </p>
                        </div>
                        <div class="col-sm-5 text-center ">
                            <div class=" btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-square-choice-hhcLightBlue
                                    {% if formData.choiceMortgage == True %} active {% endif %}">
                                    <input type="radio" name="choiceMortgage" value="True"
                                           id="id_choiceMortgage_0" autocomplete="off"
                                            {% if formData.choiceMortgage == True %} checked {% endif %}>
                                    Yes
                                </label>
                                <span class="pr-3"></span>
                                <label class="btn btn-square-choice-hhcLightBlue
                                    {% if formData.choiceMortgage == False %} active {% endif %}">
                                    <input type="radio" name="choiceMortgage" value="False"
                                           id="choiceMortgage_1" autocomplete="off"
                                            {% if formData.choiceMortgage == False %} checked {% endif %}>
                                    &nbsp;No&nbsp;
                                </label>
                                <span><button type="button" class="btn btn-sm btn-light" data-toggle="modal"
                                              data-target="#mortgageModal">
                                    <i class="fas fa-info"></i></button></span>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-left pt-3">
                        <div class="col-sm-7 text-left align-self-center pb-2">
                            <p>{% if form.loanType.errors %}<span class="text-danger">
                                <i class="fas fa-question-circle"></i>{% endif %}
                                </span>
                                Is there a second borrower? Or is there an other occupant that you intend to allow to live in your home?
                            </p>
                        </div>
                        <div class="col-sm-5 text-center ">
                            <div class=" btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-square-choice-hhcLightBlue
                                    {% if formData.loanType == True %} active {% endif %}">
                                    <input type="radio" name="loanType" value="True"
                                           id="id_loanType_0" autocomplete="off"
                                            {% if formData.loanType == True %} checked {% endif %}>
                                    Yes
                                </label>
                                <span class="pr-3"></span>
                                <label class="btn btn-square-choice-hhcLightBlue
                                    {% if formData.loanType == False %} active {% endif %}">
                                    <input type="radio" name="loanType" value="False"
                                           id="loanType_1" autocomplete="off"
                                            {% if formData.loanType == False %} checked {% endif %}>
                                    &nbsp;No&nbsp;
                                </label>
                                <span><button type="button" class="btn btn-sm btn-light" data-toggle="modal"
                                              data-target="#loanTypeModal">
                                    <i class="fas fa-info"></i></button></span>
                            </div>
                        </div>
                    </div>

                    <br> <br>
                </div>

                <div class="col-lg-4 text-center"></div>
            </div>
        </form>
    </div>



    <!-- Modals -->
    <div class="modal fade" id="incomeModal" tabindex="-1" role="dialog" aria-labelledby="incomeModalLabel"
         aria-hidden="true" data-timeout="10000">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="incomeModalLabel"><i class="far fa-info-circle"></i>&nbsp;
                        Income objective</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This is a single-purpose application. The purpose is to draw down home equity, in regular
                    instalments, to enhance retirement income.
                    <br><br>
                    Is this your objective?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="otherPurposesModal" tabindex="-1" role="dialog"
         aria-labelledby="otherPurposesModalLabel"
         aria-hidden="true" data-timeout="10000">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="otherPurposesModalLabel"><i class="far fa-info-circle"></i>&nbsp;
                        Other purposes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    We can help you access home equity for other purposes requiring lump-sum amounts (e.g., renovations,
                    medical expense etc)? <br><br>
                    Do your require funding for other retirement purposes?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ownershipModal" tabindex="-1" role="dialog" aria-labelledby="ownershipModalLabel"
         aria-hidden="true" data-timeout="10000">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="owenershipModalLabel"><i class="far fa-info-circle"></i>&nbsp;
                        Home ownership</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    To be eligible, you need to own your home and be on the title. Your home must be on a regular
                    certificate of title or strata title.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="mortgageModal" tabindex="-1" role="dialog" aria-labelledby="mortgageModalLabel"
         aria-hidden="true" data-timeout="10000">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mortgageModalLabel"><i class="far fa-info-circle"></i>&nbsp;
                        Do you have an existing mortgage?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    We need to be able to take a first mortgage on your property <br><br>
                    If you have an existing mortgage, we can refinance this. You have the choice as to whether to pay
                    regular interest or not.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loanTypeModal" tabindex="-1" role="dialog" aria-labelledby="loanTypeModalLabel"
         aria-hidden="true" data-timeout="30000">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loanTypeModalLabel"><i class="far fa-info-circle"></i>&nbsp;
                        Second borrower or other occupant?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Is there a second borrower? Alternatively, is there someone else you intend to allow to live in your home?<br><br>
                    There are two types of other occupants:<br>
                    <ul>
                        <li class="pt-2"> A 'Nominated Occupant' is someone who is not a borrower who you intend to allow to live in
                            your home and have the same rights as you to occupy the property until death (must be older
                            than 60)
                        </li>
                        <li class="pt-2">A 'Permitted Cohabitant' is someone who is not a borrower who you intend to allow to live in
                            your home, but who will not have the same rights as you to occupy the property until death
                            (can be any age)
                        </li>


                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

{% endblock %}




{% block javascript %}

{% endblock %}