{% load static %}
{% load humanize %}


<!-- Include -->

<br>
<div class="row">
    <div class="col-lg-12 pt-2">
        <p class="secondary_title">Detailed Breakdowns</p>
    </div>
    <br>
</div>

<div>


    <div class="print-container">
        <div class="row ">
            <div class="col-lg-12 "><br>
                <p class="larger HHCLightBlue-Printed pb-1">Baseline projection</p>
                <p class="small">This is how your home equity may change over time (assuming {{ housePriceInflation }}%
                    pa increase in home value and loan interest rate of {{ totalInterestRate }}%)</p>
                <br>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="row no-gutters">

                    <div class="col-lg-4 text-left">
                        <p class="small ">&nbsp;</p>
                        <p class="small pb-1">&nbsp;</p>
                        <p class="small border-top border-bottom pb-1 pt-1">Home value</p>
                        <p class="small pt-1">Lump sum received</p>
                        <p class="small pt-1">Regular payments received</p>
                        <p class="small pt-1">Interest owing</p>
                        <p class="small pt-1">Fees paid</p>
                        <p class="small border-top border-bottom pb-1 pt-1">Total owing</p>
                        <p class="small border-bottom pb-1 pt-1">Your home equity</p>
                        <p class="small border-bottom pb-1 pt-1">Equity as a % of projected home value</p>
                    </div>

                    <div class="col-lg-2 text-right">
                        <p class="small ">Now</p>
                        <p class="small pb-1">Age {{ resultsAge.0 }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1">${{ resultsHouseValue.0|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumLumpSum.0|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumRegular.0|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumInt.0|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumFee.0|intcomma }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1 text-danger">
                            ${{ resultsLoanBalance.0|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">${{ resultsHomeEquity.0|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">{{ resultsHomeEquityPC.0|intcomma }}%</p>

                    </div>
                    <div class="col-lg-2 text-right">
                        <p class="small ">In 5 years</p>
                        <p class="small pb-1">Age {{ resultsAge.1 }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1">${{ resultsHouseValue.1|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumLumpSum.1|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumRegular.1|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumInt.1|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumFee.1|intcomma }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1 text-danger">
                            ${{ resultsLoanBalance.1|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">${{ resultsHomeEquity.1|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">{{ resultsHomeEquityPC.1|intcomma }}%</p>

                    </div>
                    <div class="col-lg-2 text-right">
                        <p class="small ">In 10 years</p>
                        <p class="small pb-1">Age {{ resultsAge.2 }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1">${{ resultsHouseValue.2|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumLumpSum.2|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumRegular.2|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumInt.2|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumFee.2|intcomma }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1 text-danger">
                            ${{ resultsLoanBalance.2|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">${{ resultsHomeEquity.2|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">{{ resultsHomeEquityPC.2|intcomma }}%</p>

                    </div>
                    <div class="col-lg-2 text-right">
                        <p class="small ">In 15 years</p>
                        <p class="small pb-1">Age {{ resultsAge.3 }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1">${{ resultsHouseValue.3|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumLumpSum.3|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumRegular.3|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumInt.3|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumFee.3|intcomma }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1 text-danger">
                            ${{ resultsLoanBalance.3|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">${{ resultsHomeEquity.3|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">{{ resultsHomeEquityPC.3|intcomma }}%</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="print-container">
        <div class="row ">
            <div class="col-lg-12 "><br>
                <p class="larger HHCLightBlue-Printed pb-1">What if the value of my home doesn't grow at all?</p>
                <p class="small">If the value of your home does not increase, your resulting equity will be lower</p>
                <br>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="row no-gutters">

                    <div class="col-lg-4 text-left">
                        <p class="small ">&nbsp;</p>
                        <p class="small pb-1">&nbsp;</p>
                        <p class="small border-top border-bottom pb-1 pt-1">Home value</p>
                        <p class="small pt-1">Lump sum received</p>
                        <p class="small pt-1">Regular payments received</p>
                        <p class="small pt-1">Interest owing</p>
                        <p class="small pt-1">Fees paid</p>
                        <p class="small border-top border-bottom pb-1 pt-1">Total owing</p>
                        <p class="small border-bottom pb-1 pt-1">Your home equity</p>
                        <p class="small border-bottom pb-1 pt-1">Equity as a % of projected home value</p>
                    </div>

                    <div class="col-lg-2 text-right">
                        <p class="small ">Now</p>
                        <p class="small pb-1">Age {{ resultsAge.0 }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1">${{ resultsHouseValue2.0|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumLumpSum2.0|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumRegular2.0|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumInt2.0|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumFee2.0|intcomma }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1 text-danger">
                            ${{ resultsLoanBalance2.0|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">${{ resultsHomeEquity2.0|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">{{ resultsHomeEquityPC2.0|intcomma }}%</p>

                    </div>
                    <div class="col-lg-2 text-right">
                        <p class="small ">In 5 years</p>
                        <p class="small pb-1">Age {{ resultsAge.1 }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1">${{ resultsHouseValue2.1|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumLumpSum2.1|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumRegular2.1|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumInt2.1|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumFee2.1|intcomma }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1 text-danger">
                            ${{ resultsLoanBalance2.1|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">${{ resultsHomeEquity2.1|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">{{ resultsHomeEquityPC2.1|intcomma }}%</p>

                    </div>
                    <div class="col-lg-2 text-right">
                        <p class="small ">In 10 years</p>
                        <p class="small pb-1">Age {{ resultsAge.2 }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1">${{ resultsHouseValue2.2|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumLumpSum2.2|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumRegular2.2|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumInt2.2|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumFee2.2|intcomma }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1 text-danger">
                            ${{ resultsLoanBalance2.2|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">${{ resultsHomeEquity2.2|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">{{ resultsHomeEquityPC2.2|intcomma }}%</p>

                    </div>
                    <div class="col-lg-2 text-right">
                        <p class="small ">In 15 years</p>
                        <p class="small pb-1">Age {{ resultsAge.3 }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1">${{ resultsHouseValue2.3|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumLumpSum2.3|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumRegular2.3|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumInt2.3|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumFee2.3|intcomma }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1 text-danger">
                            ${{ resultsLoanBalance2.3|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">${{ resultsHomeEquity2.3|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">{{ resultsHomeEquityPC2.3|intcomma }}%</p>
                    </div>

                </div>
            </div>
        </div>
    </div>





        <br>

    <div class="print-container">
        <div class="row ">
            <div class="col-lg-12 "><br>
                <p class="larger HHCLightBlue-Printed pb-1">What if the loan interest rate goes up?</p>
                <p class="small">If the loan interest rate was {{ intRate3 }}% pa (instead of {{ totalInterestRate }}% pa), your outstanding loan
                will increase faster and your resulting equity will be lower</p>
                <br>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="row no-gutters">

                    <div class="col-lg-4 text-left">
                        <p class="small ">&nbsp;</p>
                        <p class="small pb-1">&nbsp;</p>
                        <p class="small border-top border-bottom pb-1 pt-1">Home value</p>
                        <p class="small pt-1">Lump sum received</p>
                        <p class="small pt-1">Regular payments received</p>
                        <p class="small pt-1">Interest owing</p>
                        <p class="small pt-1">Fees paid</p>
                        <p class="small border-top border-bottom pb-1 pt-1">Total owing</p>
                        <p class="small border-bottom pb-1 pt-1">Your home equity</p>
                        <p class="small border-bottom pb-1 pt-1">Equity as a % of projected home value</p>
                    </div>

                    <div class="col-lg-2 text-right">
                        <p class="small ">Now</p>
                        <p class="small pb-1">Age {{ resultsAge.0 }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1">${{ resultsHouseValue3.0|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumLumpSum3.0|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumRegular3.0|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumInt3.0|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumFee3.0|intcomma }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1 text-danger">
                            ${{ resultsLoanBalance3.0|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">${{ resultsHomeEquity3.0|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">{{ resultsHomeEquityPC3.0|intcomma }}%</p>

                    </div>
                    <div class="col-lg-2 text-right">
                        <p class="small ">In 5 years</p>
                        <p class="small pb-1">Age {{ resultsAge.1 }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1">${{ resultsHouseValue3.1|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumLumpSum3.1|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumRegular3.1|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumInt3.1|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumFee3.1|intcomma }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1 text-danger">
                            ${{ resultsLoanBalance3.1|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">${{ resultsHomeEquity3.1|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">{{ resultsHomeEquityPC3.1|intcomma }}%</p>

                    </div>
                    <div class="col-lg-2 text-right">
                        <p class="small ">In 10 years</p>
                        <p class="small pb-1">Age {{ resultsAge.2 }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1">${{ resultsHouseValue3.2|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumLumpSum3.2|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumRegular3.2|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumInt3.2|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumFee3.2|intcomma }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1 text-danger">
                            ${{ resultsLoanBalance3.2|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">${{ resultsHomeEquity3.2|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">{{ resultsHomeEquityPC3.2|intcomma }}%</p>

                    </div>
                    <div class="col-lg-2 text-right">
                        <p class="small ">In 15 years</p>
                        <p class="small pb-1">Age {{ resultsAge.3 }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1">${{ resultsHouseValue3.3|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumLumpSum3.3|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumRegular3.3|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumInt3.3|intcomma }}</p>
                        <p class="small pt-1 text-danger">${{ cumFee3.3|intcomma }}</p>
                        <p class="small border-top border-bottom pb-1 pt-1 text-danger">
                            ${{ resultsLoanBalance3.3|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">${{ resultsHomeEquity3.3|intcomma }}</p>
                        <p class="small border-bottom pb-1 pt-1">{{ resultsHomeEquityPC3.3|intcomma }}%</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>






