{% load static %}
{% load humanize %}


<!-- Include -->

<div class="print-container">

    <div class="row ">
        <div class="col-lg-12 ">


            <div class="row align-items-center ">
                <div class="col-md-2 text-center pt-2 pb-2 ">
                    <img class="{% if not purposes.TOP_UP.INVESTMENT.amount and not purposes.TOP_UP.CONTINGENCY.amount and not purposes.TOP_UP.REGULAR_DRAWDOWN.amount %}greyscale{% endif %}"
                         src="{% static 'img/icons/topup_icon.png' %}" width="80px">
                    <p class="pl-2 pt-1 print-text"><b>Top Up</b></p>
                </div>
                <div class="col-md-8 text-left">
                    {% if purposes.TOP_UP.INVESTMENT.amount %}
                        <p class="print-text pb-2">Investment: {{ purposes.TOP_UP.INVESTMENT.description }}
                        </p>
                    {% endif %}

                    {% if purposes.TOP_UP.CONTINGENCY.amount %}
                        <p class="print-text pb-2">Contingency: {{ purposes.TOP_UP.CONTINGENCY.description }}
                        </p>
                    {% endif %}

                    {% if purposes.TOP_UP.REGULAR_DRAWDOWN.amount %}
                        <p class="print-text pb-2">Draw-down plan:
                            ${{ purposes.TOP_UP.REGULAR_DRAWDOWN.drawdownAmount }} {{ purposes.TOP_UP.REGULAR_DRAWDOWN.enumDrawdownFrequency }}
                            for {{ purposes.TOP_UP.REGULAR_DRAWDOWN.planPeriod }} years [12 month amount]
                        </p>
                    {% endif %}

                </div>
                <div class="col-md-2 text-right"><p class="larger">
                    {% if purposes.TOP_UP.INVESTMENT.amount %}
                        <p class="print-text pb-2">$ {{ purposes.TOP_UP.INVESTMENT.amount }}</p>{% endif %}
                    {% if purposes.TOP_UP.CONTINGENCY.amount %}
                        <p class="print-text pb-2">$ {{ purposes.TOP_UP.CONTINGENCY.amount }}</p>{% endif %}

                    {% if purposes.TOP_UP.REGULAR_DRAWDOWN.amount %}
                        <p class="print-text pb-2">$ {{ purposes.TOP_UP.REGULAR_DRAWDOWN.amount }} </p>{% endif %}

                </div>
            </div>

            <div class="row align-items-center ">
                <div class="col-md-2 text-center pt-2 pb-2 ">
                    <img class="{% if not purposes.REFINANCE.MORTGAGE.amount %}greyscale{% endif %}"
                         src="{% static 'img/icons/refi_icon.png' %}" width="80px">
                    <p class="pl-2 pt-1 print-text"><b>Refinance</b></p>
                </div>
                <div class="col-md-8 text-left">
                    {% if purposes.REFINANCE.MORTGAGE.amount %}
                        <p class="print-text pb-2">{{ purposes.REFINANCE.MORTGAGE.description }}</p>{% endif %}
                </div>
                <div class="col-md-2 text-right"><p class="print-text">{% if purposes.REFINANCE.MORTGAGE.amount %}$
                    {{ purposes.REFINANCE.MORTGAGE.amount }}{% endif %}</p></div>
            </div>

            <div class="row align-items-center ">
                <div class="col-md-2 text-center pt-2 pb-2 ">
                    <img class="{% if not purposes.LIVE.RENOVATIONS.amount and not purposes.LIVE.TRANSPORT_AND_TRAVEL.amount %}greyscale{% endif %}"
                         src="{% static 'img/icons/live_icon.png' %}" width="80px">
                    <p class="pl-2 pt-1 print-text"><b>Live</b></p>
                </div>
                <div class="col-md-8 text-left">
                    {% if purposes.LIVE.RENOVATIONS.amount %}
                        <p class="print-text pb-2">Renovate: {{ purposes.LIVE.RENOVATIONS.description }}
                        </p>{% endif %}
                    {% if purposes.LIVE.TRANSPORT_AND_TRAVEL.amount %}
                        <p class="print-text">Transport:
                            {{ purposes.LIVE.TRANSPORT_AND_TRAVEL.description }}
                        </p>{% endif %}
                </div>
                <div class="col-md-2 text-right"><p class="larger">
                    {% if purposes.LIVE.RENOVATIONS.amount %}
                        <p class="print-text pb-2">$ {{ purposes.LIVE.RENOVATIONS.amount }}</p>{% endif %}
                    {% if purposes.LIVE.TRANSPORT_AND_TRAVEL.amount  %}
                        <p class="print-text">$ {{ purposes.LIVE.TRANSPORT_AND_TRAVEL.amount }} </p>{% endif %}

                </div>
            </div>

            <div class="row align-items-center ">
                <div class="col-md-2 text-center pt-2 pb-2 ">
                    <img class="{% if not purposes.GIVE.GIVE_TO_FAMILY.amount %}greyscale{% endif %}"
                         src="{% static 'img/icons/give_icon.png' %}" width="80px">
                    <p class="pl-2 pt-1 print-text"><b>Give</b></p>
                </div>
                <div class="col-md-8 text-left">
                    {% if purposes.GIVE.GIVE_TO_FAMILY.amount %}
                        <p class="print-text pb-2">{{ purposes.GIVE.GIVE_TO_FAMILY.description }}</p>{% endif %}
                </div>
                <div class="col-md-2 text-right"><p class="print-text">{% if purposes.GIVE.GIVE_TO_FAMILY.amount %}$
                    {{ purposes.GIVE.GIVE_TO_FAMILY.amount }}{% endif %}</p></div>
            </div>

            <div class="row align-items-center ">
                <div class="col-md-2 text-center pt-2 pb-2 ">
                    <img class="{% if not purposes.CARE.LUMP_SUM.amount and not purposes.CARE.REGULAR_DRAWDOWN.amount %}greyscale{% endif %}"
                         src="{% static 'img/icons/care_icon.png' %}" width="80px">
                    <p class="pl-2 pt-1 print-text"><b>Care</b></p>
                </div>

                <div class="col-md-8 text-left">
                    {% if purposes.CARE.LUMP_SUM.amount %}
                        <p class="print-text pb-2">Lump-sum: {{ purposes.CARE.LUMP_SUM.description }}</p>
                    {% endif %}

                    {% if purposes.CARE.REGULAR_DRAWDOWN.amount %}
                        <p class="print-text pb-2">Draw-down plan:
                            ${{ purposes.CARE.REGULAR_DRAWDOWN.drawdownAmount }} {{ purposes.CARE.REGULAR_DRAWDOWN.enumDrawdownFrequency }}
                            for {{ purposes.CARE.REGULAR_DRAWDOWN.planPeriod }} years [12 month amount]
                        </p>
                    {% endif %}
                </div>

                <div class="col-md-2 text-right">
                    <p class="print-text pb-2">
                        {% if purposes.CARE.LUMP_SUM.amount %}$
                            {{ purposes.CARE.LUMP_SUM.amount }}
                        {% endif %}</p>
                    <p class="print-text">
                        {% if purposes.CARE.REGULAR_DRAWDOWN.amount %}$
                            {{ purposes.CARE.REGULAR_DRAWDOWN.amount }}
                        {% endif %}</p>

                </div>

            </div>


            <div class="row">
                <div class="col-lg-10 border-top border-bottom border-dark">
                    <p class="border-spacing print-text">Total Household Loan</p>
                </div>
                <div class="col-lg-2 border-top border-bottom border-dark text-right">
                    <p class="border-spacing print-text">$<b>{{ totalLoanAmount|intcomma }}*</b></p>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="print-text">* Includes establishment fee of: ${{ establishmentFee|intcomma }}</p>
                    {% if purposes.TOP_UP.REGULAR_DRAWDOWN.amount or purposes.CARE.REGULAR_DRAWDOWN.amount %}
                        <p class="print-text">&nbsp;&nbsp;The total Plan Amount is ${{ totalPlanAmount|intcomma }}
                            (includes establishment fee of ${{ planEstablishmentFee|intcomma }})</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- End -->


