{% load static %}
{% load humanize %}
{% load site_tags %}


<!-- Include -->
<div class="print-container">

    <br>
    <div class="row">
        <div class="col-lg-3 text-center">
            {% if loanType == loanTypesEnum.SINGLE_BORROWER.value %}
                <div class="imgContainer"><img src="{% static 'img/icons/person_icon.png' %}" width="125px"></div>
            {% else %}
                <div class="imgContainer"><img src="{% static 'img/icons/couple_icon.png' %}" width="125px"></div>
            {% endif %}
        </div>

        <div class="col-lg-3 text-center">
            <div class="imgContainer"><img src="

                    {% if obj.superFund %}{{ obj.superFund.fundImage.url }}{% else %}{% static 'img/icons/nestEgg_icon.png' %}{% endif %}"
                                           class="rounded-circle" alt="SuperFund" width="125px" height="125px">
            </div>

        </div>

        <div class="col-lg-3 text-center">

            <div class="imgContainer"><img src="
                    {% if obj.propertyImage %}{{ obj.propertyImage.url }}{% else %}{% static 'img/icons/home_icon.png' %}{% endif %}"
                                           class="rounded-circle" alt="SuperFund" width="125px" height="125px">
            </div>
        </div>

        <div class="col-lg-3 text-center">
            <div class="imgContainer"><img src="{% static 'img/logos/centrelink_logo.png' %}"
                                           class="rounded-circle" alt="SuperFund" width="125px" height="125px">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-3 text-center">
            {% if loanType == loanTypesEnum.SINGLE_BORROWER.value %}
                <p > {% if preferredName_1 %}{{ preferredName_1 }}{% else %}{{ firstname_1 }}{% endif %}&nbsp;{{ surname_1 }}</p>
            {% else %}
                <p > {% if preferredName_1 %}{{ preferredName_1 }}{% else %}{{ firstname_1 }}{% endif %}&nbsp;{{ surname_1 }}</p>
                <p > {% if preferredName_2 %}{{ preferredName_2 }}{% else %}{{ firstname_2 }}{% endif %}&nbsp;{{ surname_2 }}</p>
            {% endif %}

        </div>

        <div class="col-lg-3 text-center">
            <p >{{ enumInvestmentLabel }} </p>

        </div>

        <div class="col-lg-3 text-center">
            <p > {{ street }}</p>
            <p > {{ suburb }} </p>
        </div>

        <div class="col-lg-3 text-center">
            <p >Age Pension
            <p>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-lg-3 text-center">

            {% if loanType == loanTypesEnum.SINGLE_BORROWER.value %}
                <p >{{ age_1 }} years old</p>
                {% if  obj.head_doc.emp_status  %}
                    <p >{{ firstname_1 }}: {{ obj.head_doc.emp_status }} {% if obj.head_doc.age_retire %} - (retiring at {{ obj.head_doc.age_retire }}) {% endif %}</p>
                {%  endif %}
            {% else %}
                <p >{{ age_1 }} and {{ age_2 }} years old</p>
                {% if  obj.head_doc.emp_status %}
                    <p > {{ firstname_1 }}: {{ obj.head_doc.emp_status }} {% if obj.head_doc.age_retire %} - (retiring at {{ obj.head_doc.age_retire }}) {% endif %} </p> 
                {%  endif %}
                {% if obj.head_doc.emp_status_2  %}
                    <p >{{ firstname_2 }}: {{ obj.head_doc.emp_status_2 }} {% if obj.head_doc.age_retire_2 %} - (retiring at {{ obj.head_doc.age_retire_2 }}) {% endif %} </p>
                {% endif %}
            {% endif %}

        </div>

        <div class="col-lg-3 text-center">

            <p >Estimated value</p>
            <p >${{ superAmount|intcomma }}</p>
            {% if loanType == loanTypesEnum.JOINT_BORROWER.value and  obj.head_doc.superannuation_2 %}
                <p >Second Borrower Balance</p>
                <p >${{ obj.head_doc.superannuation_2|intcomma }}</p>
            {% endif %}
        </div>

        <div class="col-lg-3 text-center">
            <p >Estimated value</p>
            <p >${{ valuation|intcomma }}</p>
            {% if obj.mortgageDebt %}
                <p >Mortgage Balance</p>
                <p >${{ obj.mortgageDebt|intcomma }}</p>
            {% endif %}
        </div>

        <div class="col-lg-3 text-center">
            <p >Annual Payment
            <p>
            <p >${{ annualPensionIncome|intcomma }}</p>
            {% if obj.head_doc.pension_2 %}
                <p >Second Borrower Pension<p>  
                <p >${{ obj.head_doc.pension_2|intcomma }}/fortnight</p>
            {% endif %}
            {% if obj.head_doc.wages or obj.head_doc.wages_2 %}
                <p >Wages - ${{ obj.head_doc.wages|intcomma }}  {% if obj.head_doc.wages_2 %} and ${{ obj.head_doc.wages_2|intcomma }} {% endif %}</p>
            {% endif %}
            {% if obj.head_doc.other_income or obj.head_doc.other_income_2 %}
                <p >Other Income - ${{ obj.head_doc.other_income|intcomma }}  {% if obj.head_doc.other_income_2 %} and ${{ obj.head_doc.other_income_2|intcomma }} {% endif %}</p>
            {% endif %}
            {% if obj.head_doc.other_assets or obj.head_doc.other_assets_2 %}
                <p >Other Assets - ${{ obj.head_doc.other_assets|intcomma }}  {% if obj.head_doc.other_assets_2 %} and ${{ obj.head_doc.other_assets_2|intcomma }} {% endif %}</p>
            {% endif %}
            </div>
    </div>
</div>
<!-- End Include -->
