<script>

    // Variables
    var addressData;

    // Icon Functions
    function hideAge2(obj) {
        if (obj.is(':checked')) {
            $('#id_age_2').removeAttr('required');
            $('#id_age_2').attr("disabled", "");
            $('#id_age_2').prop("value", "");
        }
    }

    function showAge2(obj) {
        if (obj.is(':checked')) {
            $('#id_age_2').removeAttr('disabled');
            $('#id_age_2').attr("required", "")
        }
    }

    function currency(obj) {
        var currentValue = obj.prop("value").replace(/[$,]+/g, "");
        if ((isNaN(currentValue)) || (currentValue == 0)) {

        } else {
            var output = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',
                minimumFractionDigits: 0,
                maximumFractionDigits: 0
            }).format(currentValue);
            obj.prop("value", output);
        }
    }

    function altInput(obj) {
        var currentValue = obj.prop("value").replace(/[$,]+/g, "");
        currentValue = currentValue.replace('k', "");
        currentValue = currentValue.replace('K', "");
        if ((isNaN(currentValue))) {
            currentValue = 0
        } else if (parseInt(currentValue) < 10) {
            currentValue = currentValue * 1000000;
        } else if (parseInt(currentValue) < 1000) {
            currentValue = currentValue * 1000;
        }

        obj.prop("value", currentValue)

    }

    // Address Functions

    function findAddress() {
        var source = $("#id_address");
        var dropdown = $("#addressSelect");
        if (source.val().length > 10) {
            return $.ajax({
                url: "http://127.0.0.1:8000/drawdown/addressComplete",
                type: "post",
                data: {
                    "address": source.prop("value"),
                    "csrfmiddlewaretoken": '{{ csrf_token }}'
                },
                success: function (data) {
                    addressData = data;
                    clearDropdown();
                    $.each(addressData, function (i) {
                        dropdown.append($("<option />").val(i).text(this.streetAddress));
                    });
                },
            });
        } else {
            console.log(dropdown.val())
            if (dropdown.val() == -1) {
                clearDropdown()
            }
        }
    }

    function setAddressData(obj) {
        $('#id_streetAddress').prop("value", addressData[obj.val()].streetComponent);
        $('#id_suburb').prop("value", addressData[obj.val()].suburb);
        $('#id_state').prop("value", addressData[obj.val()].state);
        $('#id_postcode').prop("value", addressData[obj.val()].postCode);
    }

    function clearAddressData() {
        $('#id_streetAddress').prop("value", "");
        $('#id_suburb').prop("value", "");
        $('#id_state').prop("value", "");
        $('#id_postcode').prop("value", "");
    }

    function clearDropdown() {
        $("#addressSelect option").remove();
        $("#addressSelect").append('<option value="-1"> -- Please Select -- </option>');

    }

    //Initialisation
    $(document).ready(function () {

        hideAge2($('#loanType_Single'));

        showAge2($('#loanType_Couple'));


        $('#loanType_Single').click(function () {
            hideAge2($(this));
        });

        $('#loanType_Couple').click(function () {
            showAge2($(this));
        });

        $('#manualButton').click(function () {
            clearAddressData();
            clearDropdown();
            $("#addressSearch").hide();
            $("#addressData").show();
        });

        $('#id_valuation').change(function () {
            altInput($(this));
            currency($(this));
        });

        $('#id_address').on('keyup', function () {
            if (this.value.length > 10) {
                $("#addressSelect").show();
                $("#addressButton").show();
            }
            findAddress($(this));
        });

        $('#addressSelect').change(function () {
            if ($(this).val() > -1) {
                $('#id_address').val("");
                setAddressData($(this))
            }
        });

    });


</script>