{% load static %}

<!doctype html>
<html lang="en">

<head>

    <!-- CSS -->
    {% include 'site/base.css.html' %} {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/calculator.css' %}">

    <!-- JS -->
    {% include 'site/base.js.html' %}{# Global javascript #}


</head>


<body>

<!-- Navigation Bar -->
{% include 'site/base_navbar.html' %} {# Global menu #}

{% block calculator_banner %}{% endblock %}

{% block calculator %}{% endblock %}

{% block calculator_js %}{% endblock %}


</body>