{% extends 'drawdown/input/income_base.html' %}

{% load static %}

<!-- Convoluted build allows calculator to be embedded on other pages by including the components -->

{% block calculator_banner %}

    <div class="banner-container">
        <img src="{% static 'img/hhc/HC-IncomeHero.jpg' %}" class="img-fluid w-100" alt="Responsive image">
        <div class="banner-title">
            <h1>
                Looking to enhance <br>your retirement income?
            </h1>
            <h2>

            </h2>
        </div>
    </div>
{% endblock %}

{% block calculator %}
    {% include 'drawdown/input/income_input_html.html' %}
{% endblock %}


{% block calculator_js %}
    {% include 'drawdown/input/income_input_js.html' %}
{% endblock %}

