{% extends 'site/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load site_tags %}

{% block message_display %}

    <div class="container">
        {% if messages %}
            <div class="row justify-content-md-center pt-3">
                <div class="col-6 text-center">
                    {% for message in messages %}
                        <p{% if message.tags == 'error' %} class="alert alert-danger"{% endif %}
                                {% if message.tags == 'warning' %} class="alert alert-warning"{% endif %}
                                {% if message.tags == 'info' %} class="alert alert-info"{% endif %}
                                {% if message.tags == 'success' %} class="alert alert-success"{% endif %}>
                            {{ message }}</p>
                    {% endfor %}
                    <br>
                </div>

            </div>

        {% endif %}
    </div>

{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 title">{{ title }}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">

        {% include 'servicing/loanMenu.html' %}


        <div class="row pt-4">

            <div class="col-lg-3 text-left">
                <p class="small"><b>Loan Amounts</b></p>

                <div class="row no-gutters">
                    <div class="col-lg-7">
                        <p> Loan Limit:</p>
                        <p class="pt-1"> Advanced Funds</p>
                        <p class="pt-1"> Current Balance:</p>
                    </div>
                    <div class="col-lg-5 text-right">
                        <p>$ {{ obj.totalLoanAmount|intVal|intcomma }}</p>
                        <p class="pt-1"> $ {{ obj.advancedAmount |intVal|intcomma }}</p>
                        <p class="pt-1">$ {{ obj.currentBalance |intVal|intcomma }}</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 text-left ml-3">
                <p class="small"><b>Loan Dates</b></p>

                <div class="row no-gutters">
                    <div class="col-lg-7">
                        <p> Settlement</p>
                        <p class="pt-1"> Max Drawdown</p>
                        {% if obj.dischargeDate %} <p class="pt-1">Discharge</p>{% endif %}

                    </div>
                    <div class="col-lg-5 text-right">
                        <p>{{ obj.settlementDate |date:'d M Y' }}</p>
                        <p class="pt-1"> {{ obj.maxDrawdownDate |date:'d M Y' }}</p>
                        {% if obj.dischargeDate %} <p class="pt-1">{{ obj.dischargeDate |date:'d M Y'}}</p>{% endif %}
                    </div>

                </div>
            </div>

            <div class="col-lg-3 text-left ml-3">
                <p class="small"><b>BPay</b></p>

                <div class="row no-gutters">
                    <div class="col-lg-7">
                        <p> Biller Code</p>
                        <p class="pt-1"> Reference</p>


                    </div>
                    <div class="col-lg-5 text-right">
                        <p>{{ obj.bPayBillerCode|default:""  }}</p>
                        <p class="pt-1"> {{ obj.bPayReference|default:""  }}</p>
                    </div>

                </div>
            </div>

        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-11">

                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th scope="col">&nbsp;Date</th>
                        <th scope="col">&nbsp;Description</th>
                        <th scope="col" style="text-align:right">&nbsp;Debit</th>
                        <th scope="col" style="text-align:right">&nbsp;Credit</th>
                        <th scope="col" style="text-align:right">&nbsp;Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in transList %}
                        <tr>
                            <td>{{ obj.effectiveDate| date:'d M Y' }}</td>
                            <td>{{ obj.description |truncatechars:49 }}</td>
                            <td align="right">$ {{ obj.creditAmount|floatformat:2|intcomma  }}</td>
                            <td align="right">$ {{ obj.debitAmount |floatformat:2|intcomma  }}</td>
                            <td align="right">$ {{ obj.balance |floatformat:2|intcomma }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

    </div>



{% endblock %}


{% block javascript %}


{% endblock %}