{% extends 'calculator/email/email_calc_template.html' %}
{% load humanize %}
{% load static %}


{% block email_content %}

    <p>{% if customerFirstName %}Dear {{ customerFirstName }} {% else %}Hello {% endif %}</p>
    <br>
    <p>We're pleased to provide your personalised summary following your
        recent interaction with our online calculator. It shows how a Household Loan may be able
        to help you meet your retirement objectives, based on the information you provided.</p>
    <br>
    <p>Kind regards</p>
    <br>
    <p>Household Capital</p>
    <br>

    <br><br>
    <small>Applications for credit are subject to eligibility and lending criteria.
        Fees and charges are payable and terms and conditions apply (available on request).
        Household Capital Pty Limited is a credit representative (512757) of Mortgage Direct Pty Limited
        ACN 075 721 434, Australian Credit Licence 391876.</small>
     <br><br>

{% endblock %}
