{% load crispy_forms_tags %}


<div class="row align-items-center">
    <div class="col-lg-12 ">
        <br/>
        <p class="small-blue pb-2">Loan Purposes</p>
    </div>
</div>

{% include 'fact_find/components/purposes.html' %}

<div class="row align-items-center">
    <div class="col-lg-12 ">
        <br/>
        <p class="small">
            Please detail any additional information relevant to the credit assessment
        </p>
        <br/>
        <div class="row ">
            <div class="col-lg-8 ">
                <textarea class="textarea form-control" rows="5" name="additional_info_credit">{% if object.additional_info_credit != None %}{{ object.additional_info_credit }}{% endif %}</textarea>
            </div>
        </div>
        <br/>
        <div class="row ">
            <div class="col-lg-8 text-right">
                <button id="background" type="submit" value="Submit" form="clientForm"
                            class="btn btn-warning"> Save
                </button>
            </div>
        </div>
    </div>
</div>
