{% load static %}

<nav class="navbar navbar-dark navbar-expand-lg navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

                <span class="sr-only">Toggle navigation</span>

            </button>

        </div>

        <div class="collapse navbar-collapse" id="navbar">

             <ul class="nav navbar-nav ml-auto">
                <li><a href=''><i class="fas fa-phone"></i> 1300 622 100 </a></li>
            </ul>

            <ul class="nav navbar-nav pl-3">
                <li><a href='{% url "application:exit" %}'><i class="fas fa-sign-out-alt"></i>  Save and exit </a></li>
            </ul>

        </div><!--/.navbar-collapse -->
    </div>
</nav>

