{% load static %}

<!doctype html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Other tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon/favicon.png' %}"/>

    <!-- CSS -->
    {% include 'application/base/base_app.css.html' %}

    <title>HouseholdCapital.app</title>

</head>

<body>

    <!-- Navbar -->
    {% include 'application/base/base_app.navbar.html' %}


    <!-- Header Jumbotron -->
    {% include 'application/base/base_app.header.html' %}

    <!-- Message Block -->
    {% block message_display %}{% endblock %}

    <!-- Individual Page Content -->
    {% block content %}{% endblock %}

    <!-- Javascript -->
    {% include 'application/base/base_app.js.html' %}
    {% block javascript %}{% endblock %}

</body>

</html>

