{% load comments %}
{% load comments_extension %}

<div>
    {% for comment in comment_list %}
        <div class="card pt-2">
            <form method="POST">
                {% get_comment_edit_form for comment as form %}
                {% csrf_token %}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                <input type="hidden" name="next" value="{{ request.get_full_path }}" />

            <div class="card-header pt-1" style="vertical-align: middle">
                {{ comment.submit_date }} - {{ comment.name }}
                    <input class="btn btn-outline-secondary float-right pb-1" style="" type="submit" value="Delete" formaction="{% url 'comments-delete' comment_id=comment.id %}"/>

            </div>
            <div class="card-body">
                <p class="card-text" style="white-space: pre-wrap;">{{ comment.comment }}</p>
            </div>
            </form>
        </div>
    {% endfor %}
</div>
