{% extends 'site/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load case_tags %}


{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 title">{{ title }}</div>
            </div>
        </div>
    </div>
{% endblock %}


{% block message_display %}

    <div class="container">

        {% if messages %}
            <div class="row justify-content-md-center">
                <div class="col-6 text-center">
                    <br>
                    {% for message in messages %}
                        <p{% if message.tags == 'error' %}
                            class="alert alert-warning"{% endif %}
                                {% if message.tags == 'success' %}
                            class="alert alert-success"{% endif %}>
                            {{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">

        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">
    <br><br>

    <div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-4">
                <b>Number of Calculator Interactions</b>
                <br>
                <p>Valid Cases</p>
                <p>Provided Email</p>
                <br>
                <b>Purposes</b>
                <p>Top-up</p>
                <p>Refinance</p>
                <p>Live</p>
                <p>Give</p>
                <p>Care</p>
                <br>
                <b>Ineligible</b>
                <p>Postcode</p>
                <p>Youngest Borrower</p>
                <p>Youngest Joint Borrower</p>
                <p>Minimum Loan Size</p>

            </div>
            <div class="col-lg-2">
                <b>{{ interactions }}</b>
                <p>{{ valid_cases }}</p>
                <p>{{ provided_email }}</p>
                <br>
                <b>{{ purposes }}</b>
                <p>{{ topUp }}</p>
                <p>{{ refi }}</p>
                <p>{{ live }}</p>
                <p>{{ give }}</p>
                <p>{{ care }}</p>
                <br>
                <b>{{ invalid_cases }}</b>
                <p>{{ postcode }}</p>
                <p>{{ youngest_borrower }}</p>
                <p>{{ youngest_joint }}</p>
                <p>{{ minimum_loan }}</p>

            </div>

            <div class="col-lg-4">
                <b>Referrers</b>
                <p>Website</p>
                <p>Reverse Mortgage</p>
                <p>Equity Release</p>
                <p>Retirement Planning</p>
                <p>Superannuation</p>
                <p>Centrelink Pension</p>
            </div>
            <div class="col-lg-2">
                <b>{{ referrers }}</b>
                <p>{{ website }}</p>
                <p>{{ superannuation }}</p>
                <p>{{ reverse_mortgage }}</p>
                <p>{{ equity_release }}</p>
                <p>{{ retirement_planning }}</p>
                <p>{{ centrelink }}</p>
            </div>
        </div>
    </div>




{% endblock %}


{% block javascript %}

{% endblock %}
