{% extends 'site/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load site_tags %}


{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 title">{{ title }}</div>
            </div>
        </div>
    </div>
{% endblock %}


{% block message_display %}

    <div class="container">

        {% if messages %}
            <div class="row justify-content-md-center">
                <div class="col-6 text-center">
                    <br>
                    {% for message in messages %}
                        <p{% if message.tags == 'error' %}
                            class="alert alert-warning"{% endif %}
                                {% if message.tags == 'success' %}
                            class="alert alert-success"{% endif %}>
                            {{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">

        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">
        <br>

        <div class="row justify-content-center pb-3">
            <div class="col-sm-5">

                <div class="row justify-content-left">

                    <div class="col-12">
                        <div class="row pt-1 no-gutters">

                            <div class="col-7">
                                <b>Portfolio</b><br>
                                <p>Total Plan Amount</p>
                                <p class="pt-1 pb-1 cal_background_warm border-top border-bottom">Approved Limit</p>
                                <p class="pt-1">Current Balance</p>
                                <p class="pt-1">Advanced Amount</p>
                                <p class="pt-1">W.Ave LVR</p>
                                <p>Outstanding Loans</p>
                            </div>

                            <div class="col-4 text-right">
                                <b>&nbsp;</b><br>
                                <p>${{ portfolioPlan|intcomma }}</p>
                                <p class="pt-1 pb-1 cal_background_warm border-top border-bottom">${{ portfolioLimit|intcomma }}</p>
                                <p class="pt-1">${{ portfolioBalance|intcomma }}</p>
                                <p class="pt-1">${{ portfolioFunded|intcomma }}</p>
                                <p class="pt-1">{{ portfolioLvr }}%</p>
                                <p>{{ portfolioLoans }}</p>
                            </div>
                        </div>


                    </div>
                </div>


            </div>

            <div class="col-sm-4">

                <div class="row pt-1">

                    <div class="col-7">
                        <b>Overall Conversion</b><br>
                        <p>Enquiries</p>
                        <p>Cases</p>
                        <p>Meetings</p>
                        <p>Settled  {% if clientSFRec %}
                            <i class="text-success far fa-check-circle"></i>
                        {% else %}
                            <i class="text-danger far fa-times-circle"></i>
                        {% endif %}  </p>
                    </div>

                    <div class="col-4 text-right pb-3">
                        <b>&nbsp;</b><br>
                        <p>{{ totalEnquiries }}</p>
                        <p>{{ totalCases }}</p>
                        <p>{{ meetings }}</p>
                        <p>{{ caseLoans }}</p>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <br>

    <div class="row justify-content-center">
        <div class="col-lg-10 text-left">

            <b>Daily Enquiries</b>&nbsp;&nbsp;
            <div class="chart-container pt-3" style="height:300px;">

                <canvas id="interactionChart"></canvas>
            </div>

        </div>
    </div>

    <br><br>
    <div class="row justify-content-center">

        <div class="col-lg-10">

            <div class="pb-3"><b>Monthly Lead Generation</b></div>

            <table class="table table-hover table-sm text-right">
                <thead class="jumbotron">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    {% for month in dateRange %}
                        <th scope="col">{{ month }}</th>
                    {% endfor %}

                </tr>
                </thead>

                <tbody>

                <tr>
                    <td class="text-left"><b>Direct</b></td>
                    <td></td>
                    {% for month in dateRange %}
                        <td></td>{% endfor %}
                </tr>

                <tr>
                    <td></td>
                    <td>Calculator</td>
                    {% for month in dateRange %}
                        <td>{{ directData|getDictItem:month|getDictItem:directTypesEnum.WEB_CALCULATOR.value }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <td></td>
                    <td>Web Enquiry</td>
                    {% for month in dateRange %}
                        <td>{{ directData|getDictItem:month|getDictItem:directTypesEnum.WEB_ENQUIRY.value }}</td>
                    {% endfor %}
                </tr>


                <tr>
                    <td></td>
                    <td>Phone</td>
                    {% for month in dateRange %}
                        <td>{{ directData|getDictItem:month|getDictItem:directTypesEnum.PHONE.value }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <td></td>
                    <td>Email</td>
                    {% for month in dateRange %}
                        <td>{{ directData|getDictItem:month|getDictItem:directTypesEnum.EMAIL.value }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <td></td>
                    <td>Social</td>
                    {% for month in dateRange %}
                        <td>{{ directData|getDictItem:month|getDictItem:directTypesEnum.SOCIAL.value }}</td>
                    {% endfor %}
                </tr>



                <tr>
                    <td></td>
                    <td>Other</td>
                    {% for month in dateRange %}
                        <td>{{ directData|getDictItem:month|getDictItem:directTypesEnum.OTHER.value }}</td>
                    {% endfor %}
                </tr>


                <tr>
                    <td class="text-left"><b>Partner</b></td>
                    <td></td>
                    {% for month in dateRange %}
                        <td>
                            {{ directData|getDictItem:month|getDictItem:directTypesEnum.PARTNER.value }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <td class="text-left"><b>Broker</b></td>
                    <td></td>
                    {% for month in dateRange %}
                        <td>
                            {{ directData|getDictItem:month|getDictItem:directTypesEnum.BROKER.value }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <td class="text-left"><b>Adviser</b></td>
                    <td></td>
                    {% for month in dateRange %}
                        <td>
                            {{ directData|getDictItem:month|getDictItem:directTypesEnum.ADVISER.value }}</td>
                    {% endfor %}
                </tr>

                <tr class="jumbotron">
                    <td class="text-left"><b>Total</b></td>
                    <td></td>
                    {% for month in dateRange %}
                        <td>{{ totalData|getDictItem:month}}</td>
                    {% endfor %}
                </tr>

                </tbody>
            </table>

        </div>
    </div>

    <div class="row justify-content-center pt-5">
        <div class="col-lg-10 text-left">

            <b>Lead Generation</b>&nbsp;&nbsp;
            <div class="chart-container pt-3" style="height:370px;">

                <canvas id="enquiryChart"></canvas>
            </div>

        </div>
    </div>

    <div class="row justify-content-center pt-5">
        <div class="col-lg-10 text-left">

            <b>Platform Activity</b>&nbsp;&nbsp;
            <div class="chart-container pt-3" style="height:370px;">

                <canvas id="activityChart"></canvas>
            </div>

        </div>
    </div>

    <div class="row justify-content-center pt-5">
        <div class="col-lg-10 text-left">

            <b>Asset Writing</b>&nbsp;&nbsp;
            <div class="chart-container pt-3" style="height:370px;">

                <canvas id="portfolioChart"></canvas>
            </div>

        </div>
    </div>

    <div class="row justify-content-center pt-5">
        <div class="col-lg-10 text-left">

            <b>Meeting Date to Settlement Date (Days)</b>&nbsp;&nbsp;
            <div class="chart-container pt-3" style="height:370px;">

                <canvas id="aveDaysChart"></canvas>
            </div>

        </div>
    </div>

    <div class="row justify-content-center pt-5">
        <div class="col-lg-10 text-left">

            <b>Conversion Rates (%)</b>&nbsp;&nbsp;
            <div class="chart-container pt-3" style="height:370px;">

                <canvas id="conversionChart"></canvas>
            </div>

        </div>
    </div>

    <br><br><br>


{% endblock %}


{% block javascript %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>


    <script>

        // Create timeseries using js dates
        function createTimeSeries(sourceArray) {
            var timeSeriesArray = [];
            var arrayLength = sourceArray.length;
            for (var i = 0; i < arrayLength; i++) {
                timeSeriesArray.push({t: new Date(sourceArray[i][0]), y: sourceArray[i][1]});
            }
            return timeSeriesArray;
        }

        //Formatting
        function currencyFormat(num) {
            return '$' + num.toFixed(0).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
        }

        // Chart data
        var chartEmailData = {{ chartEmailData|safe}};
        var chartPhoneData = {{ chartPhoneData|safe}};
        var chartWebData = {{ chartWebData|safe}};
        var chartMeetingData = {{ chartMeetingData | safe }};
        var chartZoomMeetingData = {{ chartZoomMeetingData | safe }};
        var chartSettlementData = {{ chartSettlementData | safe }};
        var chartNewLoansData = {{ chartNewLoansData | safe }};
        var chartPortfolioData = {{ chartPortfolioData | safe }};
        var chartAverageDays = {{ chartAverageDays | safe }};
        var chartMinDays = {{ chartMinDays | safe }};
        var chartEnquiry = {{ chartEnquiry | safe }};
        var chartCalcMthData = {{ chartCalcMthData | safe }};
        var chartPhoneMthData = {{ chartPhoneMthData | safe }};
        var chartPartnerMthData = {{ chartPartnerData | safe }};
        var chartMeetingConversion = {{ chartMeetingConversion | safe }};
        var chartEnquiryConversion = {{ chartEnquiryConversion | safe }};


        // Timeseries data
        var emailData = createTimeSeries(chartEmailData);
        var phoneData = createTimeSeries(chartPhoneData);
        var webData = createTimeSeries(chartWebData);
        var meetingData = createTimeSeries(chartMeetingData);
        var zoomMeetingData = createTimeSeries(chartZoomMeetingData);
        var settlementData = createTimeSeries(chartSettlementData);
        var newLoansData = createTimeSeries(chartNewLoansData);
        var portfolioData = createTimeSeries(chartPortfolioData);
        var averageDays = createTimeSeries(chartAverageDays);
        var minDays = createTimeSeries(chartMinDays);
        var enquiryData = createTimeSeries(chartEnquiry);
        var calcMthData = createTimeSeries(chartCalcMthData);
        var partnerMthData = createTimeSeries(chartPartnerMthData);
        var phoneMthData = createTimeSeries(chartPhoneMthData);
        var meetingConversionData = createTimeSeries(chartMeetingConversion);
        var enquiryConversionData = createTimeSeries(chartEnquiryConversion);


        // Chart references
        var ctx_interaction = document.getElementById('interactionChart').getContext('2d');
        var ctx_activity = document.getElementById('activityChart').getContext('2d');
        var ctx_portfolio = document.getElementById('portfolioChart').getContext('2d');
        var ctx_aveDays = document.getElementById('aveDaysChart').getContext('2d');
        var ctx_enquiry = document.getElementById('enquiryChart').getContext('2d');
        var ctx_conversion = document.getElementById('conversionChart').getContext('2d');

        // Chart definitions

        var interactionChart = new Chart(ctx_interaction, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: "Calculator Enquiries",
                        data: emailData,
                        borderColor: "#fdb600",
                        backgroundColor: "#fdb600",
                        fill: false
                    },
                    {
                        label: "Phone Enquiries",
                        data: phoneData,
                        borderColor: "#86b3b5",
                        backgroundColor: "#86b3b5",
                        fill: false,

                    },
                    {
                        label: "Web Enquiries",
                        data: webData,
                        borderColor: "#5184a1",
                        backgroundColor: "#5184a1",
                        fill: false,
                        borderWidth: 1,

                    }
                    ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: false,
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day',
                            tooltipFormat: 'ddd DD-MMM-YYYY',
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            max: 40
                        }
                    }]
                },
            }
        });

        var activityChart = new Chart(ctx_activity, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: "Total Customer Meetings",
                        data: meetingData,
                        borderColor: "#5184a1",
                    },
                    {
                        label: "New Loan Settlements",
                        data: settlementData,
                        borderColor: "#fdb600",
                    },
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: false,
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'month',
                            tooltipFormat: 'ddd DD-MMM-YYYY',
                        },


                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,

                        }
                    }]
                },


            }
        });

        var portfolioChart = new Chart(ctx_portfolio, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: "New Loans Written",
                        data: newLoansData,
                        borderColor: "#5184a1",
                        yAxisID: 'y1'
                    },
                    {
                        label: "Total Loans Written",
                        data: portfolioData,
                        borderColor: "#fdb600",
                        yAxisID: 'y2'
                    },
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: false,
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'month',
                            tooltipFormat: 'ddd DD-MMM-YYYY',
                        },

                    }],
                    yAxes: [{
                        id: 'y2',
                        display: true,
                        position: 'right',
                        ticks: {
                            beginAtZero: true,
                            callback: function (value, index, values) {
                                return currencyFormat(value);

                            }
                        }
                    },
                        {
                            id: 'y1',
                            display: true,
                            position: 'left',
                            ticks: {
                                max: 20000000,
                                min: 0,
                                beginAtZero: true,
                                callback: function (value, index, values) {
                                    return currencyFormat(value);

                                }
                            }
                        }]
                },

            }
        });

        var aveDaysChart = new Chart(ctx_aveDays, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: "Average - All Loans",
                        data: averageDays,
                        borderColor: "#fdb600",
                    },
                    {
                        label: "Minimum - All Loans",
                        data: minDays,
                        borderColor: "#86b3b5",
                    },


                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: false,
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'month',
                            tooltipFormat: 'ddd DD-MMM-YYYY',
                        },


                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,

                        }
                    }]
                },


            }
        });

        var enquiryChart = new Chart(ctx_enquiry, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: "Total Enquiries",
                        data: enquiryData,
                        borderColor: "#fdb600",
                    },

                    {
                        label: "Calculator Enquiries",
                        data: calcMthData,
                        borderColor: "#5184a1",
                    },
                    {
                        label: "Phone Enquiries",
                        data: phoneMthData,
                        borderColor: "#86b3b5",
                    },
                     {
                        label: "Partner Enquiries",
                        data: partnerMthData,
                        borderColor: "#A3310C",
                        borderWidth: 1,
                    },

                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: false,
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'month',
                            tooltipFormat: 'ddd DD-MMM-YYYY',
                        },


                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,

                        }
                    }]
                },


            }
        });

        var conversionChart = new Chart(ctx_conversion, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: "Meeting to Settled Loan",
                        data: meetingConversionData,
                        borderColor: "#5184a1",
                        fill: false
                    },
                    {
                        label: "Enquiry to Case",
                        data: enquiryConversionData,
                        borderColor: "#fdb600",
                        fill: true
                    },
                    ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: false,
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'month',
                            tooltipFormat: 'ddd DD-MMM-YYYY',
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            max: 100
                        }
                    }]
                },
            }
        });


    </script>

{% endblock %}
