{% extends 'site/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load case_tags %}


{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 title">{{ title }}</div>
            </div>
        </div>
    </div>
{% endblock %}


{% block message_display %}

    <div class="container">

        {% if messages %}
            <div class="row justify-content-md-center">
                <div class="col-6 text-center">
                    <br>
                    {% for message in messages %}
                        <p{% if message.tags == 'error' %}
                            class="alert alert-warning"{% endif %}
                                {% if message.tags == 'success' %}
                            class="alert alert-success"{% endif %}>
                            {{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">

        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">
        <br>

        <div class="row justify-content-center">
            <div class="col-lg-6">

                <div class="row justify-content-center">

                    <div class="col-5 text-center">
                        <b>Current Pipeline</b><br>

                        <canvas id="enquiryHealthChart"></canvas>
                    </div>

                    <div class="col-6 my-auto">
                        <div class="row">

                            <div class="col-12">
                                <button type="button" class="btn btn-jumbotron">
                                    Enquiries&nbsp;&nbsp;&nbsp; <span
                                        class="badge badge-hhcBlue">{{ openEnquiries }}</span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row justify-content-center">

                    <div class="col-5 text-center">

                        <canvas id="caseHealthChart"></canvas>
                        <br>
                        <p class="small"> % updated in <br>last 2 weeks</p>
                    </div>

                    <div class="col-6">
                        <div class="row">

                            <div class="col-12 ">
                                <button type="button" class="btn btn-jumbotron">
                                    Cases&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span
                                        class="badge badge-hhcBlue">{{ openCases }}</span>
                                </button>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-7">

                                <p class="small">&nbsp;&nbsp;- Lead</p>
                                <p class="small">&nbsp;&nbsp;- Opportunity</p>
                                <p class="small">&nbsp;&nbsp;- Meetings</p>
                                <p class="small">&nbsp;&nbsp;- Application</p>
                                <p class="small">&nbsp;&nbsp;- Pre-Approval</p>
                            </div>
                            <div class="col-2 text-right">

                                <p class="small">{{ openLead }}</p>
                                <p class="small">{{ openOpportunity }}</p>
                                <p class="small">{{ openMeetingHeld }}</p>
                                <p class="small">{{ openApplication }}</p>
                                <p class="small">{{ openPreApproval }}</p>
                            </div>


                        </div>


                    </div>
                </div>


            </div>

            <div class="col-sm-4">

                <div class="row pt-1">

                    <div class="col-7">
                        <b>Overall Conversion</b><br>
                        <p>Enquiries</p>
                        <p>Cases</p>
                        <p>Meetings</p>
                        <p>Applications</p>
                        <p>Approvals</p>
                    </div>

                    <div class="col-4 text-right pb-3">
                        <b>&nbsp;</b><br>
                        <p>{{ totalEnquiries }}</p>
                        <p>{{ totalCases }}</p>
                        <p>{{ meetings }}</p>
                        <p>{{ applications }}</p>
                        <p>{{ approvals }}</p>
                    </div>

                </div>

                <div class="row pt-1">

                    <div class="col-7">
                        <b>Portfolio</b><br>
                        <p>Current Balance</p>
                        <p>Funded</p>
                        <p>W.Ave LVR</p>
                        <p>Number of Loans</p>
                    </div>

                    <div class="col-4 text-right">
                        <b>&nbsp;</b><br>
                        <p>${{ portfolioBalance|intcomma }}</p>
                        <p>${{ portfolioFunded|intcomma }}</p>
                        <p>{{ portfolioLvr }}%</p>
                        <p>{{ portfolioLoans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row justify-content-center">
        <div class="col-lg-9 text-left">

            <b>Website Calculator Interactions and Enquiries</b>&nbsp;&nbsp;<a role="button"
                                                                               class="btn btn-outline-secondary text-secondary"
                                                                               href="{% url 'landing:dashboardCalc' %}">&nbsp;<i
                class="fas fa-search-plus">&nbsp;</i></a>
            <div class="chart-container pt-3" style="height:250px;">

                <canvas id="interactionChart"></canvas>
            </div>

        </div>
    </div>

    <br>
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="row">
            </div>
        </div>

        <div class="col-lg-1">
        </div>

        <div class="col-lg-4">
            <div class="row">
            </div>
        </div>
    </div>
    </div>

    <br><br>


{% endblock %}


{% block javascript %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>


    <script>

        // Create timeseries using js dates
        function createTimeSeries(sourceArray) {
            var timeSeriesArray = [];
            var arrayLength = sourceArray.length;
            for (var i = 0; i < arrayLength; i++) {
                timeSeriesArray.push({t: new Date(sourceArray[i][0]), y: sourceArray[i][1]});
            }
            return timeSeriesArray;
        }

        // Chart data
        var chartInteractionData = {{ chartInteractionData|safe}};
        var chartEmailData = {{ chartEmailData|safe}};
        var caseHealthData ={{ caseHealth }};
        var enquiryHealthData ={{ enquiryHealth }};

        // Timeseries data
        var interactionData = createTimeSeries(chartInteractionData);
        var emailData = createTimeSeries(chartEmailData);

        // Chart references
        var ctx_interaction = document.getElementById('interactionChart').getContext('2d');
        var ctx_case = document.getElementById('caseHealthChart').getContext('2d');
        var ctx_enquiry = document.getElementById('enquiryHealthChart').getContext('2d');

        // Chart definitions

        var interactionChart = new Chart(ctx_interaction, {
            type: 'line',
            data: {
                datasets: [{
                    label: "Interactions",
                    data: interactionData,
                    borderColor: "#5184a1",
                    fill: false
                },
                    {
                        label: "Enquiries",
                        data: emailData,
                        borderColor: "#fdb600",
                        fill: false
                    }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: false,
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'month',
                            tooltipFormat: 'ddd DD-MMM-YYYY',
                        }

                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            max: 100
                        }
                    }]
                },

                legend: false
            }
        });

        var enquiryHealthChart = new Chart(ctx_enquiry, {
            type: 'doughnut',
            data: {
                labels: ["Current", "Non-Current"],
                datasets:
                    [
                        {
                            backgroundColor: ["{{ enquiryColor }}", "#f8f9fa"],
                            data: enquiryHealthData
                        }
                    ]
            },
            options: {
                responsive: true,
                legend: {
                    display: false
                },
                cutoutPercentage: 60,
            }
        });

        var caseHealthChart = new Chart(ctx_case, {
            type: 'doughnut',
            data: {
                labels: ["Current", "Non-Current"],
                datasets:
                    [
                        {
                            backgroundColor: ["{{ caseColor }}", "#f8f9fa"],
                            data: caseHealthData
                        }
                    ]
            },
            options: {
                responsive: true,
                legend: {
                    display: false
                },
                cutoutPercentage: 60,
            }
        });


    </script>

{% endblock %}
