{% load static %}
{% load humanize %}


<!-- Include -->
<br><br>
<div class="col-lg-12 "><br>
    <p class="secondary_title">How we get paid</p>
</div>
<br>

<div class="print-container">

    <div class="col-lg-12 ">
        <p class="print-text">Interest is charged on capital drawn from your home equity and paid when you repay your
            loan.</p>
        <br>
        <p class="print-text">Variable rate {{ totalInterestRate }}%</p>
        <p class="print-text">Comparison rate {{ comparisonRate }}% *</p>
        <br>

    </div>
</div>

<div class="col-lg-12 "><br>
    <p class="secondary_title">Your Protections</p>
</div>
<br>
<div class="print-container">
    <div class="col-lg-12 ">

        <p class="print-text">You own your own home and remain registered on the title. Your occupancy of your home is
            protected by Commonwealth legislation, including a statutory no Negative Equity Guarantee. You can never be
            forced to leave your home unless you are no longer able to live independently at home or commit a serious
            breach of contract. You can never owe more than the value of your home unless you commit a serious breach of
            contract.</p>

    </div>
</div>
<div>

    <div class="print-container">
        <div class="col-lg-12 ">


            <div class="title padding-5px">
                <br><br><br><br><br><br><br><br>
            </div>
            <br><br>

            <p class="small">* The comparison rate is based on a loan of $150,000 secured for a term of 25 years.
                Interest is calculated daily and accrued monthly. Please note that the comparison rate only applies to
                the example given. Different loan amounts and terms will result in different comparison rates.</p>
            <br>
        </div>
    </div>
</div>

    <div class="row HHCBlueBackground-Printed print-edge-row">

        <div class="print-container">

            <div class="row">

                <div class="col-lg-4 ">
                    <br>
                    <p><i class="far fa-envelope">&nbsp;&nbsp;info@householdcapital.com</i></p><br>
                    <p><i class="fas fa-phone">&nbsp;&nbsp;</i>1 300 622 100</p><br>
                    <p><i class="fas fa-desktop">&nbsp;&nbsp;www.householdcapital.com</i></p>
                    <br>
                    <br>

                </div>
                <div class="col-lg-5"></div>
                <div class="col-lg-3 title text-center">Live Well At Home
                    <br>
                </div>

            </div>
        </div>
    </div>


    <!-- End Include -->