{% extends 'site/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load case_tags %}


{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 title">{{ title }}</div>
            </div>
        </div>
    </div>
{% endblock %}


{% block message_display %}

    <div class="container">

        {% if messages %}
            <div class="row justify-content-md-center">
                <div class="col-6 text-center">
                    <br>
                    {% for message in messages %}
                        <p{% if message.tags == 'error' %}
                            class="alert alert-warning">{{ message }}</p>{% endif %}

                        <p{% if message.tags == 'success' %}
                            class="alert alert-success">{{ message }}</p>{% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">

        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row pt-4">
            <div class="col-lg-8 text-left">

                {% crispy form %}

            </div>


            <div class="col-lg-3 pt-4">

                {% if obj.inName %}
                    <div class="pb-3">
                        <div class="jumbotron pt-3 pb-3">


                            <div class="row justify-content-center">
                                <div class="col-8 text-center">
                                    {% if obj.inPic %}
                                        <a href="{{ obj.inProfileUrl }}"> <img class="img-fluid rounded-circle"
                                                                               src='{{ obj.inPic }}'>
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-10 text-center">
                                        <a href="{{ obj.inProfileUrl }}"><p class="larger"><i class="fab fa-linkedin ">&nbsp;&nbsp;</i>{{ obj.inName }}
                                        </p></a>
                                        <p>{{ obj.inDescription }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-8 pb-3">
                        <a href="{% url 'relationship:contactList' %}">
                            <div class="btn btn-outline-secondary btn-block">
                                <i class="fas fa-list"></i> Return to List
                            </div>
                        </a>


                        {% if isUpdate %}
                            <div class="pt-3 pb-3">
                                <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-block"
                                        data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" id="btnContactActions">
                                    Contact Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" data-toggle="modal" href="#deleteModal">
                                        &nbsp;<i class="far fa-trash-alt fa-fw"></i>&nbsp;&nbsp;Delete Contact
                                    </a>

                                </div>
                            </div>

                            {% if isToFollow %}

                                <div class="jumbotron">

                                </div>
                            {% endif %}



                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% if isUpdate %}
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Contact?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>You are about to delete this contact - are you sure ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a href="{% url 'relationship:contactDelete' contId=obj.contId %}">
                            <div class=" btn btn-primary">Yes, delete</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}


{% block javascript %}
    <script>
        $(document).ready(function () {
            $("form").one('click focus change', function (e) {
                $('#submit-id-submit').addClass('btn-warning').removeClass('btn-outline-secondary');
                $('#btnEnquiryActions').attr('disabled', true)

            })
        })

    </script>

{% endblock %}


