{% load static %}
{% load humanize %}
{% load site_tags %}

<!doctype html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Other tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    {% include 'client_2_0/base/base_client.css.html' %}

    <title>Household Electronic Consent</title>
</head>

<body>

<div class="page">
    <div class="print-container">

        {% include 'client_2_0/documents/summaryComponents/electronic.html' %}

        <br><br><br>
        <p class="x-small">{{ caseUID|shortUID }}</p>
    </div>

</div>

</body>
</html>