{% load static %}
{% load humanize %}

<!doctype html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Other tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    {% include 'client_2_0/base/base_client.css.html' %}

    <title>Household Client Summary</title>
</head>

<body>

<!-- Cover Letter -->
<div class="page ml-4">
    <div class="print-container">

        {% include 'client_2_0/documents/summaryComponents/cover.html' %}

    </div>
        <p style="page-break-before: always">
</div>


<div class="page HHCBlueBackground-Printed">

    <div class="print-container">

        <div class="row ">
            <div class="col-sm-12  text-center">
                <br><br>
                <img src="{% static 'img/document/HC_Logo_Craken.png' %}" width="160px">
            </div>

        </div>
        <br>
        <div class="row  justify-content-center">
            <div class="col-sm-10  text-center">
                <div class="title-inverse">Live Well <br>At Home</div>
            </div>
        </div>
        <br><br>
        <div class="row print-edge-row">
            <div class="col-sm-12 text-center print-edge-col">

                <img src="{% static 'img/document/FrontPage.png' %}" width="100%" height="auto">

            </div>
        </div>

        <br>
        <div class="row  justify-content-center">
            <div class="col-sm-12  text-center">
                <p class="xx-large">HOUSEHOLD LOAN SUMMARY</p>
            </div>
        </div>

        <br>
        <div class="row ">
            <div class="col-sm-12 text-right  ">
                <br><br>
                <img src="{% static 'img/document/HC_Logo_Inv_Colour.png' %}" width="200px">
            </div>
            <br>
        </div>
        <br>
    </div>
    <p style="page-break-before: always">
</div>


<!-- Page 2 -->
<div class="page">

    <div class="print-container">

        <div class="row pt-3 ">
            <div class="col-sm-12  text-left">
                <br>
                <img src="{% static 'img/document/HC_Logo_Flat.png' %}" width="200px">
            </div>

        </div>

        <div class="row ">
            <div class="col-lg-12 "><br>
                <p class="print-text">Thank you for discussing your requirements and objectives with me. This document
                    summarises key information discussed during our meeting and provides you with more detailed
                    projections. These projections are important and are designed to help you see if a Household Loan is worthwhile for you.</p>
                <br>
                <p class="secondary_title">Your profile</p>

                {% include 'client_2_0/documents/summaryComponents/profile.html' %}

            </div>
        </div>

        <div class="col-lg-12 "><br><br>
            <p class="secondary_title">Your Household Loan</p>
        </div>
        <br>

        {% include 'client_2_0/documents/summaryComponents/loan.html' %}

        <p style="page-break-before: always"></p>
    </div>
</div>


{% if topUpProjections %}
    <!-- Page -->
    <div class="page">
        <div class="print-container">
            <div class="row pt-3 ">
                <div class="col-sm-12  text-left">
                    <br>
                    <img src="{% static 'img/document/HC_Logo_Flat.png' %}" width="200px">
                </div>

            </div>

            {% include 'client_2_0/documents/summaryComponents/income.html' %}


        </div>
        <p style="page-break-before: always"></p>
    </div>
{% endif %}


<!-- Page -->
<div class="page">
    <div class="print-container">

        <div class="row pt-3 ">
            <div class="col-sm-12  text-left">
                <br>
                <img src="{% static 'img/document/HC_Logo_Flat.png' %}" width="200px">
            </div>

        </div>

        {% include 'client_2_0/documents/summaryComponents/projections.html' %}


    </div>
    <p style="page-break-before: always"></p>
</div>


<div class="page">
    <div class="print-container">

        <div class="row pt-3 ">
            <div class="col-sm-12  text-left">
                <br>
                <img src="{% static 'img/document/HC_Logo_Flat.png' %}" width="200px">
            </div>

        </div>
        {% include 'client_2_0/documents/summaryComponents/scenarios.html' %}
    </div>
    <p style="page-break-before: always"></p>
</div>


<div class="page">
    <div class="print-container">

        <div class="row pt-3 ">
            <div class="col-sm-12  text-left">
                <br>
                <img src="{% static 'img/document/HC_Logo_Flat.png' %}" width="200px">
            </div>

        </div>
        {% include 'client_2_0/documents/summaryComponents/final.html' %}
    </div>
    <p style="page-break-before: always"></p>
</div>

<div class="page">
    <div class="print-container">

        {% include 'client_2_0/documents/summaryComponents/privacy.html' %}
    </div>

</div>

<div class="page">
    <div class="print-container">

        {% include 'client_2_0/documents/summaryComponents/electronic.html' %}
    </div>

</div>


</body>
</html>