{% extends 'application/base/base_app.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block message_display %}
    <div class="container">
        {% if messages %}
            <div id='messages' class="row justify-content-md-center pt-2">
                <div class="col-6 text-center">
                    {% for message in messages %}
                        <p{% if message.tags == 'error' %}
                            class="alert alert-warning"{% endif %}
                                {% if message.tags == 'info' %} class="alert alert-info"{% endif %}
                                {% if message.tags == 'success' %}
                            class="alert alert-success"{% endif %}>
                            {{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 pb-3">
                <br>
                <div class="secondary_title">{{ subtitle }}</div>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-lg-10 pb-1">

                <p>Please provide the following home-related expenses:</p><br>

                {% crispy form %}
            </div>
        </div>


        <br>

    </div>


{% endblock %}

{% block javascript %}
    <script>

        function currency(obj) {
            var currentValue = obj.prop("value").replace(/[$,]+/g, "");
            if ((isNaN(parseInt(currentValue))) || (currentValue == 0)) {

            } else {
                var output = new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD',
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 0
                }).format(currentValue);
                obj.prop("value", output);
            }
        }

        function altInput(obj) {
            var currentValue = obj.prop("value").replace(/[$,]+/g, "");
            currentValue = currentValue.replace('k', "");
            currentValue = currentValue.replace('K', "");
            if ((isNaN(parseInt(currentValue)))) {
                currentValue = 0
            } else {
                currentValue = parseInt(currentValue)
            }
            obj.prop("value", currentValue)
        }

        //Initialisation
        $(document).ready(function () {

            $("[id^=id_expense]").not("[id$=Freq]").each(function (index) {
                altInput($(this));
                currency($(this));

            });

            $("[id^=id_expense]").not("[id$=Freq]").change(function () {
                altInput($(this));
                currency($(this));
            });

        })


    </script>

{% endblock %}