{% load humanize %}

<!doctype html>
<html lang="en">

<body>
{{ adviser_name }}<br><br>

Further to our recent conversation, I am pleased to be able to provide you with the following information.<br><br>

I understand that your client’s details are as follows:<br>
{% if client_name|length > 0 %}- {{ client_name}}<br>{% endif %}
{% if loanType == 1 %}- joint borrowers,the youngest of which is {{ youngest_age }} <br>
{% else %}- an individual borrower who is currently aged {{ youngest_age }}<br>{% endif %}
- living in {% if dwellingType == 1 %}an apartment {% else %}a house {% endif %}
{% if street|length > 0 %}at {{ street }}{% endif %}<br>
- in the postcode {{ postcode }}<br>
- with an estimated valuation of approximately ${{ valuation|intcomma }}<br><br>

Based on this high level information and subject to credit assessment, we may be able to provide a Household Loan with a loan-to-value ratio of up to <b>{{restrictions.maxLVR}}%</b> or <b>${{restrictions.maxLoan|intcomma}}</b>.<br><br>

As you know, Household has certain loan restrictions that are based on the intended purpose of the loan.  Potential restrictions may include the following:<br>
{% if restrictions.maxLoan > restrictions.maxCare %}- Maximum amount for Age Care: ${{ restrictions.maXCare|intcomma }}<br>{% endif %}
{% if restrictions.maxLoan > restrictions.maxTopUp %}- Maximum amount for Super Top Up: ${{ restrictions.maxTopUp|intcomma }}<br>{% endif %}
{% if restrictions.maxLoan > restrictions.maxReno %}- Maximum amount for Renovations: ${{ restrictions.maxReno|intcomma }}<br>{% endif %}
- Maximum amount for Refinance: ${{ restrictions.maxRefi|intcomma }}<br>
- Maximum amount for Accelerated Giving: ${{ restrictions.maxGive|intcomma }}<br>
- Maximum amount for Transport and Travel: ${{ restrictions.maxTravel|intcomma }}<br><br>

We would be pleased to meet with you and your client to determine whether a Household Loan might be appropriate.  If you would like any further information, please don’t hesitate to contact me.<br><br>

Kind regards<br>

</body>
</html>

