{% load humanize %}

<!doctype html>
<html lang="en">

<body>
{{ adviser }}<br><br>

Further to our recent conversation, I am pleased to be able to provide you with the following information.<br><br>

I understand that your client’s details are as follows:<br>
{% if surname_1|length > 0 %}- {{ firstname_1 }} {{ surname_1 }}{% endif %} {% if surname_2|length > 0 %} and {{ firstname_2 }} {{ surname_2 }}<br>{% endif %}
{% if loanType == 1 %}- joint borrowers, who are aged {{ age_1 }} and {{ age_2 }} <br>
{% else %}- an individual borrower who is currently aged {{ age_1 }}<br>{% endif %}
- living in {% if dwellingType == 1 %}an apartment {% else %}a house {% endif %}
{% if street|length > 0 %}at {{ street }}{% endif %}<br>
- in the postcode {{ postcode }}<br>
- with an estimated valuation of approximately ${{ valuation|intcomma }}<br><br>

Based on this high level information and subject to credit assessment, we may be able to provide a Household Loan with a loan-to-value ratio of up to <b>{{status.restrictions.maxLVR}}%</b> or <b>${{status.restrictions.maxLoan|intcomma}}</b>.<br><br>

As you know, Household has certain loan restrictions that are based on the intended purpose of the loan.  Potential restrictions may include the following:<br>
{% if status.restrictions.maxLoan > status.restrictions.maxCare %}- Maximum amount for Age Care: ${{ status.restrictions.maXCare|intcomma }}<br>{% endif %}
{% if status.restrictions.maxLoan > status.restrictions.maxTopUp %}- Maximum amount for Super Top Up: ${{ status.restrictions.maxTopUp|intcomma }}<br>{% endif %}
{% if status.restrictions.maxLoan > status.restrictions.maxReno %}- Maximum amount for Renovations: ${{ status.restrictions.maxReno|intcomma }}<br>{% endif %}
- Maximum amount for Refinance: ${{ status.restrictions.maxRefi|intcomma }}<br>
- Maximum amount for Accelerated Giving: ${{ status.restrictions.maxGive|intcomma }}<br>
- Maximum amount for Transport and Travel: ${{ status.restrictions.maxTravel|intcomma }}<br><br>

We would be pleased to meet with you and your client to determine whether a Household Loan might be appropriate.  If you would like any further information, please don’t hesitate to contact me.<br><br>

Kind regards<br>

</body>
</html>

